<main>
	<form-message></form-message>

	<form [formGroup]="badgeCollectionForm.rawControl" (ngSubmit)="onSubmit(badgeCollectionForm.value)" novalidate>
		<fieldset aria-labelledby="heading-add-badge-collection" role="group">
			<legend class="visuallyhidden" id="heading-add-badge-collection">
				{{ 'BadgeCollection.createCollection' | translate }}
			</legend>
			<div class="tw-w-[600px]">
				<oeb-input
					[control]="badgeCollectionForm.rawControlMap.collectionName"
					label="{{ 'BadgeCollection.collectionName' | translate }}"
					[max]="50"
					errorMessage=" {{ 'BadgeCollection.enterCollectioName' | translate }}"
					[autofocus]="true"
					[sublabelRight]="'(max. 50 ' + ('General.characters' | translate) + ')'"
					[placeholder]="'BadgeCollection.collectionNamePlaceholder' | translate"
				>
				</oeb-input>
				<oeb-input
					[control]="badgeCollectionForm.rawControlMap.collectionDescription"
					label="{{ 'BadgeCollection.description' | translate }}"
					[errorMessage]="{
						maxlength: descriptionMax300,
					}"
					[max]="300"
					size="lg"
					fieldType="textarea"
					[sublabelRight]="'(optional, max. 300 ' + ('General.characters' | translate) + ')'"
					[placeholder]="'BadgeCollection.descriptionPlaceholder' | translate"
				>
				</oeb-input>
			</div>

			<ng-template [showLoader]="true" [bgAwaitPromises]="badgesLoaded">
				<div class="tw-mt-6 md:tw-mt-7 section">
					<div
						class="tw-rounded-2xl tw-p-8 md:tw-p-10 tw-bg-white tw-border-purple tw-border-solid tw-border"
					>
						<h2 class="tw-text-oebblack tw-text-[22px] tw-font-bold tw-mb-4">
							{{ 'BadgeCollection.addBadges' | translate }}
						</h2>
						<p class="tw-flex tw-flex-col tw-gap-1">
							<span class="tw-text-lg tw-text-purple tw-italic">
								{{ 'BadgeCollection.skipStep' | translate }}
							</span>
							<span class="tw-text-lg tw-text-purple tw-italic">
								{{ 'BadgeCollection.ob3Disclaimer' | translate }}
							</span>
						</p>
						<div class="tw-flex tw-flex-wrap tw-py-6">
							<!-- Search  -->
							<div class="tw-pb-2 md:tw-pb-0">
								<input
									type="text"
									name="forminput"
									changeOrder
									class="tw-border-solid tw-border-purple tw-bg-white tw-mr-6"
									placeholder="{{ 'BadgeCollection.searchBadges' | translate }}"
									[(ngModel)]="searchQuery"
									[ngModelOptions]="{ standalone: true }"
									hlmInput
								/>
							</div>

							<div class="l-actionbar-x-groupby">
								<label class="l-flex l-flex-2x">
									<div class="forminput">
										<div class="forminput-x-inputs">
											<select
												[(ngModel)]="groupBy"
												#selectInput
												class="border tw-font-normal"
												[ngClass]="{ 'tw-font-bold!': groupBy !== '---' }"
												[ngModelOptions]="{ standalone: true }"
												id="badge-catalog-select"
											>
												<option [ngValue]="'---'">{{ 'Badge.groupBy' | translate }}</option>
												@for (option of groups; track option) {
													<option [value]="option">
														{{ option }}
													</option>
												}
											</select>
										</div>
									</div>
								</label>
							</div>
						</div>
						@if (groupBy === '---') {
							<div class="tw-grid tw-grid-cols-badgesLp tw-gap-6 tw-mt-4">
								@for (badge of badgeResults; track badge; let i = $index) {
									<bg-badgecard
										[badgeTitle]="badge.badge.apiModel.json.badge.name"
										[badgeImage]="badge.badge.apiModel.json.badge.image"
										[badgeDescription]="badge.badge.apiModel.json.badge.description"
										[badgeSlug]="badge.badge.apiModel.json.badge.slug"
										[issuerTitle]="badge.badge.apiModel.json.badge.issuer.name"
										[badgeIssueDate]="badgeIssueDate(badge)"
										[public]="true"
										[publicUrl]="badge.badge.url"
										(ngModelChange)="checkboxChange($event, badge.badge)"
										(checkboxChange)="checkboxChange($event, badge.badge)"
										[checked]="badgeChecked(badge.badge)"
										[showCheckbox]="true"
									></bg-badgecard>
								}
							</div>
						}
						@if (groupBy === 'Issuer' || groupBy === 'Institution') {
							@for (issuerGroup of issuerResults; track issuerGroup) {
								<h3 class="u-text-h3-semibold u-margin-bottom2x u-margin-top6x u-text-dark1">
									{{ issuerGroup.issuer?.name }}
									<span class="u-text-small-semibold-caps u-text-dark4 u-margin-left2x"
										>{{ issuerGroup.badges.length }}
										{{ issuerGroup.badges.length === 1 ? 'Badge' : 'Badges' }}</span
									>
								</h3>
								<div class="tw-grid sm:tw-grid-cols-badgesLp tw-gap-6">
									<!-- TODO: Fix the badgecard link for sharing and routing -->
									@for (badge of issuerGroup.badges; track badge) {
										<bg-badgecard
											[badgeTitle]="badge.badgeClass.name"
											[badgeImage]="badge.badgeClass.image"
											[badgeDescription]="badge.badgeClass.description"
											[badgeSlug]="badge.badgeClass.slug"
											[issuerTitle]="badge.badgeClass.issuer.name"
											[badgeIssueDate]="badge.issueDate"
											[public]="true"
											[publicUrl]="badge.url"
											[competencies]="badge.apiModel.extensions['extensions:CompetencyExtension']"
											[showCheckbox]="true"
											(ngModelChange)="checkboxChange($event, badge)"
											(checkboxChange)="checkboxChange($event, badge)"
											[checked]="badgeChecked(badge)"
										></bg-badgecard>
									}
								</div>
							}
						}
						<p class="tw-mt-6">
							{{ 'BadgeCollection.youHave' | translate }} {{ selectedBadges.length }}
							{{ selectedBadges.length | i18nPlural: plural.badges | translate }}
						</p>
					</div>
				</div>
			</ng-template>

			<div class="l-flex l-flex-1x l-flex-justifyend u-margin-top2x">
				<oeb-button
					variant="secondary"
					type="button"
					[text]="'General.cancel' | translate"
					[routerLink]="['/recipient/badges']"
					[queryParams]="{ tab: 'collections' }"
					size="md"
				>
				</oeb-button>

				<oeb-button
					text="{{ (!editing ? 'BadgeCollection.createCollection' : 'General.save') | translate }}"
					type="submit"
					[disabled]="!!savePromise"
					[loading-promises]="savePromise"
					[disabled-when-requesting]="true"
					size="md"
					class="tw-mb-[40px]"
				>
				</oeb-button>
			</div>
		</fieldset>
	</form>
</main>
