<div class="tw-max-w-[1016px]">
	<form-message></form-message>

	<form [formGroup]="pdfTemplateForm.rawControl" #formElem (ngSubmit)="onSubmit()" novalidate>

		<section class="tw-mt-6 md:tw-mt-8 tw-flex tw-flex-col tw-gap-1 section">
			<div class="subsection">
				<h2 hlmH2 class="tw-font-bold">{{ 'PDFTemplate.enterDetails' | translate }}</h2>
			</div>
			<div class="subsection">
				<div class="md:tw-mx-10">
					<div class="tw-flex tw-gap-10">
						@for (format of formatOptions; track format; let last = $last) {
							<bg-formfield-radio
								[control]="pdfTemplateForm.rawControlMap.format"
								[name]="'format-type'"
								label="{{ format.label | translate }}"
								[value]="format.value"
								[last]="last"
								errorMessage="{{ 'PDFTemplate.selectFormat' | translate }}"
							></bg-formfield-radio>
						}
					</div>

					<oeb-input
						[label]="'General.title' | translate | uppercase"
						[control]="pdfTemplateForm.rawControlMap.name"
						[autofocus]="true"
						[sublabelRight]="'(max. 60 ' + ('General.characters' | translate) + ')'"
					></oeb-input>

					<!-- <oeb-select
						[id]="'alignment-type'"
						ariaLabel="{{ 'PDFTemplate.chooseAlignment' | translate }}"
						[control]="pdfTemplateForm.rawControlMap.alignment"
						[label]="'PDFTemplate.alignment' | translate | uppercase"
						[placeholder]="'PDFTemplate.chooseAlignment' | translate"
						[optionMap]="alignmentOptions"
					></oeb-select> -->

					<div class="tw-flex tw-gap-10">
						@for (alignment of alignmentOptions; track alignment; let last = $last) {
							<bg-formfield-icon-radio
								[control]="pdfTemplateForm.rawControlMap.alignment"
								[name]="'alignment-type'"
								label="{{ alignment.label | translate }}"
								[value]="alignment.value"
								[last]="last"
								[icon]="alignment.icon"
								errorMessage="{{ 'PDFTemplate.selectAlignment' | translate }}"
							></bg-formfield-icon-radio>
						}
					</div>


					<div class="tw-mt-6 md:tw-mt-7">

					</div>
				</div>
			</div>
		</section>

		<div class="tw-flex tw-justify-between md:tw-justify-end tw-flex-wrap sm:tw-flex-nowrap tw-gap-2 tw-mt-8">
			<oeb-button
				class="tw-mr-4"
				type="button"
				variant="secondary"
				(click)="cancelClicked()"
				[disabled]="!!savePromise"
				[class.disabled]="!!savePromise"
				[disabled-when-requesting]="true"
				text="{{ 'General.cancel' | translate }}"
				[umamiEvent]="!existingPDFTemplate ? 'cancel-create-pdf-template' : undefined"
			></oeb-button>

			<oeb-button
				id="create-pdftemplate-btn"
				type="submit"
				width="max_content"
				[disabled]="!!savePromise || pdfTemplateForm.invalid"
				[loading-promises]="[savePromise]"
				loading-message="{{ submittingText }}"
				text="{{
					(!existingPDFTemplate
						? 'General.save'
						: 'General.saveChanges'
					) | translate
				}}"
				[umamiEvent]="
					!existingPDFTemplate ? 'create-pdf-template-done' : undefined
				"
			>
			</oeb-button>
		</div>
	</form>
</div>
