.section {
	background-color: var(--color-purple);
	border-radius: 10px;
	margin-bottom: 3rem;
	padding: 4px;
}

.subsection {
	background-color: var(--color-lightgray);
	border-radius: 5px;
	padding: 2rem;
}

.radio-with-icon {
	display: block;

	input[type='radio'] {
		display: none;
	}
}
