<section class="oeb-section">
	<div class="oeb-headline-container-sm">
		<h1 hlmH1 class="tw-text-purple">{{ 'Issuer.importPreview' | translate }}</h1>
	</div>
	<p hlmP class="oeb-standard-padding-bottom">
		<span
			>{{ transformedImportData().validRowsTransformed.size }} {{ 'Issuer.rowsWereImported' | translate }}
			{{ transformedImportData().duplicateRecords.length }} {{ 'Issuer.rowsAreDuplicates' | translate }}</span
		><br />
		<span>{{ 'Issuer.clickOnAwardBadges' | translate }}</span>
	</p>

	<div class="oeb-standard-padding-bottom">
		<table class="datatable datatable-roundheaders datatable-headers">
			<thead class="datatable-x-head">
				<tr class="datatable-x-header">
					<th class="datatable-x-cell" scope="col">E-Mail</th>
					<th class="datatable-x-cell" scope="col">Name</th>
					<th class="datatable-x-cell">
						<!-- header for remove link-->
					</th>
				</tr>
			</thead>
			<tbody class="datatable-x-body">
				@for (row of transformedImportData().validRowsTransformed; track row) {
					<tr
						class="datatable-x-row"
						[ngClass]="{
							'tw-border-red tw-border-solid tw-border-[3px]': row.emailInvalid,
						}"
					>
						<td class="datatable-x-cell">
							@if (!row.isEditing) {
								<span>{{ row.email }}</span>
							} @else {
								<input
									#emailInput
									type="text"
									[(ngModel)]="row.email"
									class="tw-border tw-rounded px-1 py-0.5 tw-w-full"
									[ngClass]="{
										'tw-border-purple-500 tw-ring-2 tw-ring-purple-300 tw-outline-none':
											row.isEditing,
										'tw-border-gray-300': !row.isEditing,
									}"
									(focus)="onEditFocus(row)"
								/>
							}
						</td>

						<td class="datatable-x-cell">
							{{ row.name }}
						</td>
						<td class="datatable-x-cell">
							<div class="tw-flex tw-gap-4 tw-items-center">
								<oeb-button
									variant="secondary"
									size="xs"
									[text]="'General.remove' | translate"
									(click)="removeValidRowsTransformed(row)"
								></oeb-button>
								@if (!row.isEditing) {
									<oeb-button
										variant="secondary"
										size="iconSm"
										icon="lucidePencil"
										iconSize="20px"
										(click)="startEditing(row)"
									></oeb-button>
								} @else {
									<oeb-button
										variant="secondary"
										size="xs"
										[text]="'General.save' | translate"
										(click)="saveEdit(row)"
									></oeb-button>
									<oeb-button
										variant="secondary"
										size="xs"
										[text]="'General.cancel' | translate"
										(click)="cancelEditing(row)"
									></oeb-button>
								}
							</div>
						</td>
					</tr>
				}
			</tbody>

			<tbody></tbody>
		</table>
	</div>

	<oeb-optional-details
		[parentForm]="optionalDetailsForm"
		[showEvidence]="false"
		[showLocation]="true"
		[showCourseDate]="true"
		[showEvidence]="true"
		(addEvidenceEvent)="addEvidence()"
		(removeEvidenceEvent)="removeEvidence($event)"
		[showCourseUrl]="true"
		[courseUrlDefaultOpen]="badgeInstanceCourseUrl() !== null && badgeInstanceCourseUrl().length > 0"
	/>

	@if (pdfTemplateManager.pdfEditorAvailable()) {
		<section
			class="tw-mt-6 tw-border tw-border-purple tw-border-solid tw-bg-white tw-rounded-[10px] tw-flex tw-flex-col tw-items-start tw-gap-4 tw-p-6"
		>
			<span
				class="tw-mb-2 tw-text-oebblack tw-text-lg tw-uppercase tw-font-semibold md:tw-leading-[28px] md:tw-text-[20px] tw-leading-[19px] tw-text-[14px]"
			>
				<span class="tw-font-normal tw-italic">Optional:</span>
				{{ 'PDFTemplate.ownPDFBackground' | translate }}
			</span>

			<span class="tw-text-purple tw-italic tw-leading-[18.2px]">
				{{ 'PDFTemplate.noTemplateDefaultDesign' | translate }}
			</span>

			<div class="tw-flex tw-flex-wrap tw-gap-6 tw-items-end tw-w-full">
				<oeb-select
					class="tw-block tw-flex-grow tw-max-w-[300px]"
					[options]="selectPDFTemplateOptions"
					[control]="optionalDetailsForm.rawControlMap.pdftemplate"
					[noTopMargin]="true"
				></oeb-select>

				@if (issuer.currentUserStaffMember.canEditBadge) {
					<oeb-button
						[id]="'create-new-pdftemplate-btn'"
						[class.disabled]="!issuer.canCreateBadge"
						class="tw-whitespace-nowrap tw-flex-grow tw-max-w-[300px]"
						[routerLink]="['/issuer/issuers', issuer.slug]"
						fragment="pdf-templates"
						[disabled]="!issuer.currentUserStaffMember"
						[text]="'PDFTemplate.createCustomPDFTemplate' | translate"
						width="full_width"
						size="sm"
						variant="secondary"
						weight="normal"
						icon="lucidePlus"
						iconSize="sm"
						[iconLeft]="true"
						[umamiEvent]="'create-pdftemplate'"
					>
					</oeb-button>
				}
			</div>
		</section>
	}

	<div class="oeb-standard-padding-bottom tw-flex tw-flex-col tw-text-end tw-gap-6 tw-mt-6">
		@if (invalidEmailCount === 1) {
			<span class="tw-text-red tw-text-lg">
				{{ 'Issuer.bulkInvalidEmail' | translate }}
			</span>
		}
		@if (invalidEmailCount > 1) {
			<span class="tw-text-red tw-text-lg">
				{{ 'Issuer.bulkInvalidEmailsPlural' | translate: { count: invalidEmailCount } }}
			</span>
		}
		<span class="tw-text-lg tw-text-oebblack">{{ 'Issuer.bulkReceiveByEmail' | translate }}</span>
	</div>

	<!-- BUTTONS -->
	<div class="tw-flex tw-justify-end tw-gap-2 tw-mt-4">
		<oeb-button
			class="tw-mr-4"
			variant="secondary"
			(click)="updateViewState('import')"
			text="{{ 'General.cancel' | translate }}"
		></oeb-button>

		<oeb-button
			[class.button-is-disabled]="buttonDisabledClass"
			[disabled]="buttonDisabledAttribute || hasInvalidEmails"
			(click)="!hasInvalidEmails && dataConfirmed()"
			text="{{ 'Issuer.giveBadges' | translate }}"
		>
		</oeb-button>
	</div>
</section>
