<ng-container>
	@if (networks().length === 0) {
		<p class="tw-pb-4 tw-mt-10 tw-flex tw-flex-col tw-text-lg tw-text-oebblack tw-leading-[130%]">
			<span class="tw-font-bold tw-mb-2" [innerHTML]="'Network.noIssuerInNetwork' | translate"></span>
			<span class="tw-mt-1" [innerHTML]="'Network.networksUseBadgesTogether' | translate"></span>
			<span class="tw-pb-4" [innerHTML]="'Network.networkLogoOnBadge' | translate"></span>
			<span class="tw-italic tw-text-purple" [innerHTML]="'Network.youCanAddInstitutions' | translate"></span>
		</p>
		<oeb-button
			[routerLink]="['/issuer/networks/create']"
			[disabled-when-requesting]="true"
			[text]="'Network.create' | translate"
		></oeb-button>
	} @else {
		<span class="tw-mt-8 tw-flex tw-text-oebblack tw-text-lg">{{
			'Issuer.yourIssuersAreInNetworks' | translate
		}}</span>
		<div class="md:tw-flex tw-mt-4">
			<div class="tw-grid tw-grid-cols-myIssuersMobile sm:tw-grid-cols-myIssuers tw-gap-6 tw-w-full tw-relative">
				@for (network of networks(); track network) {
					<oeb-networkcard
						[public]="false"
						[network]="network"
						[routerLink]="['/issuer/networks', network.slug]"
					>
					</oeb-networkcard>
				}
			</div>
		</div>
	}
</ng-container>
