<ng-container *bgAwaitPromises="[profileLoaded]">
	<form-message></form-message>

	<div class="topbar">
		<div class="l-containerxaxis">
			<div class="topbar-x-breadcrumbs">
				<bg-breadcrumbs [linkentries]="crumbs"> </bg-breadcrumbs>
			</div>
		</div>

		<div class="l-containerxaxis">
			<div class="topbar-x-heading">{{ 'Profile.editProfile' | translate }}</div>
		</div>
	</div>

	<div class="l-containerxaxis l-containeryaxis">
		<form [formGroup]="profileEditForm.rawControl" (ngSubmit)="submitEdit()" class="l-form" novalidate>
			<div class="u-width-form tw-mb-4">
				<oeb-input
					[control]="profileEditForm.rawControlMap.firstName"
					[label]="'Signup.fName' | translate"
					[errorMessage]="'Signup.enterFirstName' | translate"
				/>

				<oeb-input
					[control]="profileEditForm.rawControlMap.lastName"
					[label]="'Signup.lName' | translate"
					[errorMessage]="'Signup.enterLastName' | translate"
				/>

				<oeb-input
					class="oeb-input-hide-arrows"
					label="{{ 'General.optionalPostalCode' | translate }}"
					[control]="profileEditForm.rawControlMap.zipCode"
					errorMessage="{{ 'Issuer.enterPostalCode' | translate }}"
					[fieldType]="'number'"
				/>
			</div>

			<div class="l-flex l-flex-1x">
				<a class="button button-secondary" [routerLink]="['../profile']">{{ 'General.cancel ' | translate }}</a>

				<button type="submit" class="button">{{ 'General.save' | translate }}</button>
			</div>
		</form>
	</div>
</ng-container>
