<section class="oeb-section">
	<div class="oeb-headline-container-sm">
		<h1 hlmH1 class="tw-text-purple">{{ 'Issuer.csvColumns' | translate }}</h1>
	</div>
	<div class="select-csvUpload oeb-standard-padding-bottom">
		<div class="oeb-standard-padding-bottom">
			@if (importPreviewData?.rows) {
				<p hlmP>
					<span>
						{{ 'Issuer.csvPreview' | translate }}
						{{
							importPreviewData.rows.length < MAX_ROWS_TO_DISPLAY
								? importPreviewData.rows.length
								: MAX_ROWS_TO_DISPLAY
						}}
						{{ 'General.of' | translate }} {{ importPreviewData.rows.length }}
						{{ 'Issuer.rowsOfYourFile' | translate }}
					</span>
					<br />
					<span> {{ 'Issuer.chooseColumn' | translate }} </span>
				</p>
			}
		</div>
		<table class="datatable datatable-roundheaders datatable-headers">
			<thead class="datatable-x-head">
				<tr class="datatable-x-header">
					@for (
						columnHeaderName of importPreviewData.columnHeaders;
						track columnHeaderName;
						let columnId = $index
					) {
						<th class="datatable-x-cell" scope="col">
							<label class="forminput">
								<div class="forminput-x-inputs">
									<select
										name="select"
										[id]="'select' + columnId"
										#selectDest
										[value]="columnHeaderName.destColumn"
										(change)="mapDestNameToSourceName(columnId, $any(selectDest.value))"
									>
										<option value="NA">N/A</option>
										<option value="email">E-Mail</option>
										<option value="name">Name</option>
									</select>
								</div>
							</label>
						</th>
					}
				</tr>
			</thead>
			<tbody class="datatable-x-body">
				<tr class="datatable-x-row datatable-x-inlineheader">
					@for (columnHeaderName of importPreviewData.columnHeaders; track columnHeaderName) {
						<td class="datatable-x-cell">
							<div class="u-text-body-bold-caps u-text-dark1">{{ columnHeaderName.sourceName }}</div>
						</td>
					}
				</tr>
				@for (row of importPreviewData?.rows.slice(0, MAX_ROWS_TO_DISPLAY); track row) {
					<tr class="datatable-x-row">
						@for (cell of row.cells; track cell) {
							<td class="datatable-x-cell" [ngClass]="{ 'invalid-email-row': row.emailInvalid }">
								{{ cell }}
							</td>
						}
						@if (row.cells.length < columnHeadersCount) {
							@for (spacer of createRange(columnHeadersCount - row.cells.length); track spacer) {
								<td class="datatable-x-cell"></td>
							}
						}
					</tr>
				}
			</tbody>
		</table>
	</div>

	<!-- BUTTONS -->
	<div class="tw-flex tw-justify-end tw-gap-2 tw-mt-4">
		<oeb-button
			class="tw-mr-4"
			variant="secondary"
			(click)="updateViewState('import')"
			[text]="'General.cancel' | translate"
		></oeb-button>

		<oeb-button
			[class.button-is-disabled]="buttonDisabledClass"
			[disabled]="buttonDisabledAttribute"
			(click)="generateImportPreview()"
			[text]="'General.forward' | translate"
		>
		</oeb-button>
	</div>
</section>

@if (rowIsLongerThanHeader) {
	<div>
		<p hlmP>
			{{ 'Issuer.csvError' | translate }}
		</p>
	</div>
}
