<ng-container *bgAwaitPromises="[issuerLoaded]">
	<form-message></form-message>

	<header class="topbar">
		<div class="l-containerxaxis">
			<div class="topbar-x-breadcrumbs">
				<bg-breadcrumbs [linkentries]="editBadgeCrumbs"> </bg-breadcrumbs>
			</div>

			<div class="topbar-x-heading">
				<h1>{{ 'EditBadge.editBadge' | translate }}</h1>
			</div>
			<p class="topbar-x-subheading">{{ 'EditBadge.editBadgeInfo' | translate }}</p>
		</div>
	</header>

	<div class="l-containerxaxis l-containeryaxis">
		<badgeclass-edit-form
			#badgeimage
			(save)="badgeClassSaved($event)"
			(cancelEdit)="editingCanceled()"
			[badgeClass]="badgeClass"
			[issuer]="issuer"
			[scrolled]="scrolled"
			isForked="false"
		></badgeclass-edit-form>
	</div>
</ng-container>
