<ng-container>
	@if (!issuers().length && !networkInvites().length) {
		<span class="tw-mt-12 tw-mb-4 tw-text-oebblack tw-text-lg tw-block">{{
			'Network.noInstitutionAddedYet' | translate
		}}</span>
		<div>
			<oeb-button (click)="openDialog()" [text]="'Network.inviteInstitutions' | translate"> </oeb-button>
		</div>
	} @else {
		<network-partners-datatable
			[network]="network()"
			[partners]="issuers()"
			[approvedInvites]="approvedInvites()"
			(removePartnerRequest)="onPartnerRemoved($any($event))"
			(redirectToIssuerDetail)="redirectToIssuerDetail($event)"
		></network-partners-datatable>
	}
	@if (pendingInvites().length) {
		<network-invites-datatable
			[network]="network()"
			(inviteRevoked)="onInviteRevoked($event)"
			[invites]="pendingInvites()"
		></network-invites-datatable>
	}
</ng-container>

<ng-template #headerTemplate>
	<h1 class="tw-font-bold tw-text-purple tw-text-2xl tw-mb-4">{{ 'Network.inviteInstitutions' | translate }}</h1>
</ng-template>
