<form-message></form-message>

<div class="oeb page-padding">
	<div class="oeb-section-sm">
		<header class="oeb-headline-container tw-relative tw-flex tw-flex-col">
			<oeb-header-text [text1]="'LearningPath.catalogHeadline'" [text2Template]="text2Template" />
			<ng-template #text2Template>
				<ng-template [showLoader]="false" [bgAwaitPromises]="[pageReadyPromise]">
					@if (totalLearningPathCount() === 0) {
						{{ 'General.noLearningPaths' | translate }}
					} @else {
						<span [countUp]="totalLearningPathCount()">{{ totalLearningPathCount() }}</span>
						<span>
							{{ learningPathsPluralWord() }}
							@if (issuers().length > 0) {
								in
								@if (issuers().length > 1) {
									<span [countUp]="issuers().length">{{ issuers().length }}</span>
								}
								{{ issuersPluralWord() }}
							}
						</span>
					}
				</ng-template>
			</ng-template>
		</header>
	</div>

	<ng-template [showLoader]="true" [bgAwaitPromises]="pageReadyPromise">
		<div class="tw-relative">
			<section class="">
				<div class="tw-flex tw-items-center tw-rounded-lg tw-p-4 tw-bg-[#ECFEED] tw-mb-4 tw-gap-6">
					<div
						class="tw-flex tw-flex-col tw-justify-between tw-gap-4 tw-w-full min-[880px]:tw-flex-row min-[880px]:tw-items-center"
					>
						<div class="tw-flex tw-flex-col min-[880px]:tw-flex-row min-[880px]:tw-items-center tw-gap-6">
							<div class="tw-flex tw-relative tw-items-center">
								<input
									type="text"
									name="forminput"
									changeOrder
									class="!tw-bg-white tw-w-full tw-border-1 tw-border-purple min-[880px]:tw-w-96 tw-border-solid tw-h-12 tw-rounded-lg tw-p-2"
									placeholder="{{ 'LearningPath.searchLearningPaths' | translate }}"
									[ngModel]="searchQuery()"
									(ngModelChange)="onSearchQueryChange($event)"
									hlmInput
								/>
								<ng-icon
									hlm
									name="lucideSearch"
									class="tw-w-8 tw-h-8 tw-absolute tw-top-1/2 tw-right-2 -tw-translate-y-1/2 tw-pointer-events-none tw-text-purple"
								></ng-icon>
							</div>
						</div>

						<oeb-global-sort-select
							placeholder="{{ 'Badge.sortBy' | translate }}"
							class="oeb tw-w-[12rem]"
							[options]="sortOptions"
							[control]="sortControl"
						>
						</oeb-global-sort-select>

						<oeb-select
							[actionBar]="true"
							placeholder="Tags"
							class="oeb tw-w-[12rem]"
							[options]="tagsOptions()"
							[control]="tagsControl"
							[autofocus]="true"
							[noTopMargin]="true"
							[multiple]="true"
							[dropdownMaxHeight]="250"
						></oeb-select>
					</div>
				</div>
				<div class="subtitle-wrapper">
					<ul class="tags-wrapper oeb-standard-padding-bottom">
						@for (tag of tagsControl.value | sort; track tag) {
							<li class="tag tag-close tag-delete tag-button tw-mr-2" (click)="removeTag(tag)">
								{{ tag }}
							</li>
						}
					</ul>
				</div>
				<div class="tw-grid min-[450px]:tw-grid-cols-learningpaths tw-gap-6 tw-items-center" [@stagger]>
					@for (lp of learningPaths(); track lp.slug) {
						<bg-learningpathcard
							@appearAnimation
							[badgeImage]="lp.participationBadge_image"
							[name]="lp.name"
							[issuerTitle]="lp.issuer_name"
							[description]="lp.description"
							[tags]="lp.tags"
							[slug]="lp.slug"
							[studyLoad]="calculateStudyLoad(lp)"
							[completed]="checkCompleted(lp)"
							[requested]="lp.requested"
							[progress]="lp.progress"
							[matchOrProgress]="calculateLearningPathStatus(lp)"
						></bg-learningpathcard>
					}
				</div>
				@if (!learningPaths().length && !hasNext()) {
					<p
						class="tw-m-auto tw-max-w-[300px] tw-p-4 tw-border-solid tw-border-[1px] tw-border-[var(--color-blue)] tw-rounded-lg tw-bg-[var(--color-lightpurple)] tw-text-center"
					>
						{{ 'General.noResults' | translate }}
					</p>
				}
			</section>
		</div>
	</ng-template>
	<div #loadMore class="oeb-section-sm">
		<ng-template [showLoader]="false" [bgAwaitPromises]="pageReadyPromise">
			@if (hasNext()) {
				@if (!observeScrolling()) {
					<loading-dots />
				} @else {
					<oeb-button
						variant="secondary"
						size="sm"
						type="button"
						text="{{ 'General.loadMore' | translate }}"
						(click)="onLoadMoreClicked()"
						class="tw-mx-auto tw-block tw-w-max"
					/>
				}
			} @else {
				<h4 hlmH4 class="tw-text-oebblack tw-text-center">{{ 'LearningPath.catalogAllLoaded' | translate }}</h4>
			}
		</ng-template>
	</div>
</div>
