<div class="oeb tw-overflow-hidden tw-w-full tw-relative">
	<div>
		<div class="tw-relative page-padding">
			<div class="oeb-section">
				<div class="tw-relative tw-z-20 oeb-headline-container-sm">
					<oeb-header-text [text1]="'Login.welcome'" [text2]="'General.oeb'" />

					<p hlmP class="tw-text-oebblack tw-my-4">
						{{ 'Login.areYouNew' | translate }}
						<a
							class="tw-underline !tw-text-link hover:!tw-text-buttonhover tw-cursor-pointer"
							href="#"
							[routerLink]="['/signup']"
							>{{ 'Login.createAccount' | translate }}</a
						>.
					</p>
				</div>

				<div class="tw-relative oeb-max-form-width">
					<div
						class="tw-block tw-absolute tw-right-[15%] tw-top-[-35%] md:tw-right-[-15%] md:tw-top-[-10%] tw-z-0 tw-opacity-80"
					>
						<img
							class="tw-h-[269px] tw-w-[235px] tw-rotate-[-17.58deg] md:tw-rotate-[-36.66deg]"
							src="assets/oeb/images/startpage/hexagonCircles.svg"
							alt="Circles"
						/>
					</div>
					@if (!features.disableRegistration) {
						<form class="tw-relative tw-z-20" (ngSubmit)="submitAuth()" novalidate>
							<!-- Email Field -->
							<oeb-input
								[control]="loginForm.rawControlMap.username"
								[label]="'General.email' | translate"
								[placeholder]="'Login.yourEmail' | translate"
								fieldType="email"
								[error]="'Bitte gib Deine Email-Adresse ein.'"
								[autofocus]="true"
								#usernameField
							></oeb-input>
							<oeb-input
								hlmP
								[control]="loginForm.rawControlMap.password"
								[label]="'General.password' | translate"
								class="tw-mt-6 md:tw-mt-[35px]"
								[error]="'Bitte gib Dein Passwort ein.'"
								fieldType="password"
								[placeholder]="'Login.yourPassword' | translate"
								fieldType="password"
								#passwordField
							>
								<span label-additions>
									<a
										class="tw-underline !tw-text-link hover:!tw-text-buttonhover tw-cursor-pointer"
										class="tw-relative tw-text-purple tw-z-20 tw-font-semibold"
										href="#"
										tabindex="-1"
										[routerLink]="[
											'/auth/request-password-reset',
											loginForm.rawControlMap.username.value,
										]"
										>{{ 'Login.forgotPassword?' | translate }}</a
									>
								</span>
							</oeb-input>
							<div class="tw-flex tw-gap-2 tw-items-center tw-justify-between tw-mt-11 md:tw-mt-[62px]">
								<!-- Remember Me Checkout -->
								<oeb-checkbox
									class=""
									id="remember-me"
									name="remember-me"
									type="checkbox"
									[text]="'Login.stayLogged' | translate"
									[control]="loginForm.rawControlMap.rememberMe"
								>
								</oeb-checkbox>
								<!-- Submit Button -->
								<oeb-button
									type="submit"
									[disabled]="!!loginFinished"
									text="Login"
									[loading-promises]="[loginFinished]"
									loading-message="{{ 'Login.loggingIn' | translate }}"
								>
								</oeb-button>
							</div>
						</form>
					}
					<!-- Mein Bildungsraum -->
					<div class="tw-flex tw-justify-end tw-mt-6 md:tw-mt-14">
						<oeb-button
							img="assets/logos/mein-bildungsraum.svg"
							variant="blackborder"
							[text]="'Login.loginBildungsraum' | translate"
							(click)="bildungsraumLogin()"
							[disabled]="isOidcDisabled()"
						>
						</oeb-button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<form-message></form-message>
