<header class="tw-relative">
	<div class="tw-flex tw-justify-between tw-items-start">
		<div class="tw-flex tw-flex-col oeb-section-sm md:tw-max-w-[50%]">
			<div class="tw-flex tw-items-center">
				<figure class="tw-relative">
					<img
						[loaded-src]="issuer?.image"
						[loading-src]="issuerPlaceholderSrc"
						[error-src]="issuerPlaceholderSrc"
						alt="{{ issuer.name }} avatar"
						class="tw-h-[70px] md:tw-h-[100px] tw-w-auto tw-min-w-[70px] md:tw-min-w-[100px] tw-aspect-square"
					/>
				</figure>
				<hgroup class="tw-flex tw-flex-col tw-justify-center tw-pl-8 oeb-break-words">
					<h1 hlmH1 class="tw-text-purple tw-font-semibold md:tw-text-[35px] xl:tw-text-[46px]">
						{{ issuer.name }}
					</h1>
					<ng-container *ngIf="!public && isFullIssuer(issuer)">
						<p
							class="tw-text-oebblack tw-mt-2 tw-font-semibold md:tw-text-[20px] md:tw-leading-[24.4px] tw-text-[14px] tw-leading-[19.6px]"
						>
							{{ 'Issuer.yourRole' | translate }}
							{{ issuer.currentUserStaffMember?.roleInfo.label | translate }}
						</p>
					</ng-container>
				</hgroup>
			</div>
			<section aria-labelledby="description-heading" class="tw-mt-2">
				<h2 id="description-heading" class="tw-sr-only">Issuer Description</h2>
				<p class="tw-text-oebblack tw-text-lg oeb-break-words">{{ issuer.description }}</p>
			</section>
		</div>

		<aside class="tw-w-auto tw-hidden md:tw-grid !tw-content-center tw-pt-4">
			<p
				*ngIf="isFullIssuer(issuer) && issuer.apiModel && !issuer.apiModel.verified"
				class="u-margin-top1x u-width-paragraph"
			>
				{{ 'Issuer.nichtVerified' | translate }}
			</p>
			<div class="tw-flex tw-gap-2">
				@if (activeTab === 'badges' || activeTab === 'micro-degrees') {
					<oeb-button
						class="tw-whitespace-nowrap"
						*ngIf="!public"
						[text]="
							activeTab === 'badges'
								? ('Issuer.createBadge' | translate)
								: ('Issuer.myInstitutionsCreateLearningPath' | translate)
						"
						(click)="clickCreateBadge()"
						[class]="isFullIssuer(issuer) && issuer.canCreateBadge ? '' : 'disabled'"
						[umamiEvent]="'create-badge'"
					>
					</oeb-button>
				}
				@if (
					isFullIssuer(issuer) &&
					pdfTemplateManager.pdfEditorAvailable() &&
					(!issuer?.quotas || issuer?.quotas?.quotas['PDFEDITOR'].quota) &&
					activeTab === 'pdf-templates'
				) {
					<oeb-button
						class="tw-whitespace-nowrap"
						*ngIf="!public"
						[routerLink]="['./pdftemplates/create']"
						[disabled]="isFullIssuer(issuer) && !issuer.canCreateBadge"
						[text]="'PDFTemplate.createPDFTemplate' | translate"
						[class]="isFullIssuer(issuer) && issuer.canCreateBadge ? '' : 'disabled'"
						[umamiEvent]="'create-pdf-template'"
					>
					</oeb-button>
				}
				<div *ngIf="public" class="tw-flex tw-flex-col tw-gap-2">
					<oeb-button
						*ngIf="userIsMember"
						class="tw-whitespace-nowrap"
						(click)="routeToMemberView()"
						[text]="'Issuer.memberView' | translate"
						variant="secondary"
						data-testid="member-view-button"
					>
					</oeb-button>
					<oeb-button
						class="tw-whitespace-nowrap"
						*ngIf="public"
						[width]="'full_width'"
						(click)="routeToUrl(issuer.url)"
						[text]="'General.website' | translate"
						data-testid="website-button"
					>
					</oeb-button>

					<!-- Network section -->
					@if (env.networksEnabled && networks.length) {
						<section
							class="tw-bg-oebgrey tw-mt-4 tw-rounded-[10px] tw-p-4 tw-flex tw-flex-col tw-justify-center tw-items-center tw-max-w-80"
							aria-labelledby="networks-heading"
						>
							<h2 id="networks-heading" class="tw-w-full tw-text-lg tw-text-oebblack tw-font-bold">
								{{ 'Issuer.partOfNetwork' | translate }}
							</h2>
							<ul class="tw-w-full tw-list-none tw-mt-2" role="list">
								@for (network of networks; track network) {
									<li class="tw-flex tw-gap-2 tw-items-center tw-mt-2">
										<a
											[routerLink]="['/public/networks', network.slug]"
											class="tw-flex tw-gap-2 tw-items-center tw-no-underline hover:tw-underline"
											[attr.aria-label]="'Visit ' + network.name + ' network'"
										>
											<img
												class="tw-w-[33px]"
												[src]="network.image"
												[alt]="network.name + ' logo'"
											/>
											<span class="tw-text-oebblack">
												{{ network.name }}
											</span>
										</a>
									</li>
								}
							</ul>
						</section>
					}

					<!-- Partner Issuers section -->
					@if (env.networksEnabled && partner_issuers.length) {
						<section
							class="tw-bg-oebgrey tw-mt-4 tw-rounded-[10px] tw-p-4 tw-flex tw-flex-col tw-justify-center tw-items-center"
							aria-labelledby="partners-heading"
						>
							<h2 id="partners-heading" class="tw-w-full tw-text-lg tw-text-oebblack tw-font-bold">
								{{ 'Network.partner' | translate }}
							</h2>
							<ul class="tw-w-full tw-list-none tw-mt-2" role="list">
								@for (partner of partner_issuers; track partner) {
									<li class="tw-flex tw-gap-2 tw-items-center tw-mt-2">
										<a
											[routerLink]="['/public/issuers', partner.slug]"
											class="tw-flex tw-gap-2 tw-items-center tw-no-underline hover:tw-underline"
											[attr.aria-label]="'Visit ' + partner.name + ' profile'"
										>
											<img
												class="tw-w-[33px]"
												[src]="partner.image"
												[alt]="partner.name + ' logo'"
											/>
											<span class="tw-text-oebblack">
												{{ partner.name }}
											</span>
										</a>
									</li>
								}
							</ul>
						</section>
					}
				</div>
				<oeb-dropdown
					[trigger]="svgTrigger"
					class="tw-items-center tw-justify-center tw-flex tw-cursor-pointer tw-border tw-border-solid tw-border-[var(--color-purple)] tw-rounded-[7px]"
					*ngIf="!public && isFullIssuer(issuer) && menuItems.length"
					[menuItems]="menuItems"
				></oeb-dropdown>
				<ng-template #svgTrigger>
					<svg
						class="tw-w-[44.8px] tw-h-[44.8px] md:tw-w-[62px] md:tw-h-[62px]"
						fill="var(--color-purple)"
						icon="icon_more"
					></svg>
					<span class="visuallyhidden">Mehr</span>
				</ng-template>
			</div>
		</aside>
	</div>
</header>

<quota-information quotas="BADGE_AWARD" class="tw-block tw-mt-6 tw-text-[18px]/[1.3em]" />

<!-- Mobile buttons section -->
<div class="topbar-x-buttons tw-grid md:tw-hidden tw-mt-4">
	<p
		*ngIf="isFullIssuer(issuer) && issuer.apiModel && !issuer.apiModel.verified"
		class="u-margin-top1x u-width-paragraph"
	>
		{{ 'Issuer.nichtVerified' | translate }}
	</p>
	<div class="tw-flex tw-flex-wrap tw-gap-4">
		@if (activeTab === 'badges' || activeTab === 'micro-degrees') {
			<oeb-button
				*ngIf="!public"
				width="full_width"
				[class]="
					'tw-flex-grow tw-relative'.concat(isFullIssuer(issuer) && issuer.canCreateBadge ? '' : ' disabled')
				"
				[disabled]="isFullIssuer(issuer) && !issuer.canCreateBadge"
				[text]="
					activeTab === 'badges'
						? ('Issuer.createBadge' | translate)
						: ('Issuer.myInstitutionsCreateLearningPath' | translate)
				"
				(click)="clickCreateBadge()"
				[umamiEvent]="'create-badge'"
			>
			</oeb-button>
		}
		@if (
			isFullIssuer(issuer) &&
			pdfTemplateManager.pdfEditorAvailable() &&
			(!issuer?.quotas || issuer?.quotas?.quotas['PDFEDITOR'].quota) &&
			activeTab === 'pdf-templates'
		) {
			<oeb-button
				width="full_width"
				*ngIf="!public"
				[routerLink]="['./pdftemplates/create']"
				[disabled]="isFullIssuer(issuer) && !issuer.canCreateBadge"
				[text]="'PDFTemplate.createPDFTemplate' | translate"
				[class]="
					'tw-flex-grow tw-relative'.concat(isFullIssuer(issuer) && issuer.canCreateBadge ? '' : ' disabled')
				"
				[umamiEvent]="'create-pdf-template'"
			>
			</oeb-button>
		}
		<oeb-button
			*ngIf="public"
			(click)="routeToUrl(issuer.url)"
			class="tw-flex-grow"
			width="full_width"
			[text]="'Issuer.visitWebsite' | translate"
		>
		</oeb-button>
		<oeb-dropdown
			[trigger]="svgTriggerMobile"
			class="tw-items-center tw-justify-center tw-flex tw-cursor-pointer tw-border tw-border-solid tw-border-[var(--color-purple)] tw-rounded-[7px]"
			*ngIf="!public && isFullIssuer(issuer) && menuItems.length"
			[menuItems]="menuItems"
		></oeb-dropdown>
		<ng-template #svgTriggerMobile>
			<svg
				class="tw-w-[44.8px] tw-h-[44.8px] md:tw-w-[64px] md:tw-h-[64px]"
				fill="var(--color-purple)"
				icon="icon_more"
			></svg>
			<span class="visuallyhidden">Mehr</span>
		</ng-template>
	</div>
</div>

<div class="oeb-section-sm md:tw-pr-[350px]">
	<oeb-tabs
		[variant]="'lightpurple'"
		(onTabChanged)="onTabChange($event)"
		[activeTab]="activeTab"
		[tabs]="tabs"
	></oeb-tabs>

	<ng-template #dashboardTemplate>
		@if (hasDashboardAccess()) {
			<app-oeb-dashboard-overview [isNetwork]="false" [networkSlug]="issuer.slug"></app-oeb-dashboard-overview>

			<div class="tw-mt-8">
				<app-oeb-dashboard-learners
					[networkSlug]="issuer.slug"
					[disableClick]="true"
					[noGeneralStats]="true"
				></app-oeb-dashboard-learners>
			</div>
		} @else {
			<oeb-feature-teaser imagePosition="right">
				<h2
					teaser-heading
					hlmH2
					class="oeb !tw-text-oebblack tw-uppercase tw-font-black tw-text-[22px]/[1.2em]"
				>
					{{ 'DashboardTeaser.heading' | translate }}
				</h2>
				<figure teaser-image class="tw-max-w-[260px] tw-m-0">
					<img [src]="'DashboardTeaser.image' | translate" alt="" class="tw-w-full tw-h-auto" />
					<figcaption class="tw-mt-2 tw-text-xs tw-text-oebblack tw-leading-snug tw-text-center">
						{{ 'DashboardTeaser.imageCaption' | translate }}
					</figcaption>
				</figure>
				<div teaser-body class="tw-flex tw-flex-col tw-gap-6">
					<p hlmP [innerHTML]="'DashboardTeaser.body' | translate"></p>
					<p
						hlmP
						class="tw-font-bold tw-text-purple"
						[innerHTML]="'DashboardTeaser.upgradeLine' | translate"
					></p>
				</div>
				<oeb-button
					teaser-action
					[text]="'DashboardTeaser.buttonLabel' | translate"
					(click)="emailSalesForDashboard()"
					[umamiEvent]="'dashboard-teaser-upgrade'"
				/>
			</oeb-feature-teaser>
		}
	</ng-template>
	<ng-template #badgesTemplate>
		@if (env.networksEnabled && !public) {
			<div class="tw-mt-12">
				<oeb-tabs
					[variant]="'bluebackground'"
					[width]="'min_max'"
					(onTabChanged)="onNestedTabChange($event)"
					[tabs]="badgeTemplateTabs"
					[activeTab]="activeTabBadgeTemplate"
					countStyle="parentheses"
				>
				</oeb-tabs>
			</div>
		}
		@switch (activeTabBadgeTemplate) {
			@case ('issuer-badges') {
				<ng-container *ngTemplateOutlet="issuerBadgesTemplate"></ng-container>
			}
			@case ('network-badges') {
				<ng-container *ngTemplateOutlet="networkBadgesTemplate"></ng-container>
			}
		}
	</ng-template>
	<ng-template #learningPathTemplate>
		<div class="oeb-section-sm">
			<ng-template [bgAwaitPromises]="learningPathsPromise">
				<div *ngIf="!learningPaths?.length">
					<p class="oeb-break-words" hlmP>
						{{ issuer.name }} {{ 'Issuer.issuerHasNoLearningPathYet' | translate }}
					</p>
				</div>
				<div *ngIf="learningPaths && learningPaths.length > 0">
					<h2
						class="tw-font-medium md:tw-text-[22px] md:tw-leading-[26.4px] tw-text-purple tw-text-[16px] tw-leading-[19.2px] tw-py-4 oeb-break-words"
					>
						{{ issuer.name }}
						{{ 'Issuer.issuerHasBadges' | translate }}
						{{ learningPaths.length }}
						{{
							(learningPaths.length === 1 ? 'General.learningPath' : 'General.learningPaths') | translate
						}}.
					</h2>

					<learningpaths-datatable
						*ngIf="!public"
						[learningPaths]="apiLearningPaths"
						[issuer]="isFullIssuer(issuer) ? issuer : null"
						(deleteLearningPath)="deleteLearningPath($event, issuer)"
						(navigateToDetail)="redirectToLearningPathDetail($event, issuer)"
					></learningpaths-datatable>

					<div *ngIf="!public && archivedLearningPaths.length > 0" class="tw-mt-10">
						<h3 class="tw-text-lg tw-font-semibold tw-mb-4">
							{{ 'LearningPath.archivedLearningPaths' | translate }}
						</h3>

						<learningpaths-archived-datatable
							[learningPaths]="archivedLearningPaths"
							[issuer]="isFullIssuer(issuer) ? issuer : null"
							(navigateToDetail)="redirectToLearningPathDetail($event, issuer)"
						>
						</learningpaths-archived-datatable>
					</div>

					<ng-container *ngIf="public">
						<div class="tw-grid tw-grid-cols-learningpaths tw-gap-6">
							@for (lp of learningPaths; track lp) {
								@if (lp.activated) {
									<bg-learningpathcard
										[name]="lp.name"
										[issuerTitle]="issuer.name"
										[description]="lp.description"
										[tags]="lp.tags"
										[slug]="lp.slug"
										[studyLoad]="calculateStudyLoad(lp)"
										[completed]="false"
										[requested]="lp.requested"
										[badgeImage]="lp.participationBadge_image"
									></bg-learningpathcard>
								}
							}
						</div>
					</ng-container>
				</div>
			</ng-template>
		</div>
	</ng-template>
	@if (isFullIssuer(issuer) && pdfTemplateManager.pdfEditorAvailable()) {
		<ng-template #pdfTemplatesTemplate>
			<div class="oeb-section-sm">
				@if (!issuer?.quotas || issuer?.quotas?.quotas['PDFEDITOR'].quota) {
					<ng-template [bgAwaitPromises]="pdfTemplatesPromise">
						<div class="md:tw-pr-[280px]">
							<p class="oeb-break-words" hlmP [innerHTML]="'PDFTemplate.descriptionText' | translate"></p>

							<p hlmP [innerHtml]="'PDFTemplate.exampleZipLink' | translate"></p>

							<div *ngIf="!pdfTemplates?.length" class="tw-mt-8">
								<oeb-button
									class="tw-whitespace-nowrap"
									*ngIf="!public"
									[routerLink]="['./pdftemplates/create']"
									[disabled]="isFullIssuer(issuer) && !issuer.canCreateBadge"
									[text]="'PDFTemplate.createPDFTemplate' | translate"
									[class]="isFullIssuer(issuer) && issuer.canCreateBadge ? '' : 'disabled'"
									[umamiEvent]="'create-pdf-template'"
								>
								</oeb-button>
							</div>
						</div>

						<div *ngIf="pdfTemplates && pdfTemplates.length > 0" class="tw-mt-16">
							<h2
								class="tw-font-bold md:tw-text-[22px] md:tw-leading-[26.4px] tw-text-oebblack tw-text-[16px] tw-leading-[19.2px] oeb-break-words"
							>
								{{ 'PDFTemplate.createdTemplates' | translate }}
							</h2>

							<div class="tw-grid tw-grid-cols-pdftemplates tw-gap-6 tw-mt-6">
								@for (pt of pdfTemplates; track pt) {
									<bg-pdftemplatecard
										[name]="pt.name"
										[slug]="pt.slug"
										[issuerSlug]="issuer.slug"
										[created_at]="pt.created_at | date: 'dd.MM.yyyy'"
										[created_by]="pt.created_by"
										[pdftemplateImage]="$any(pt).image"
										[format]="pt.format"
										(edit)="openEditDialog($event.slug, $event.issuer)"
										(delete)="openDeletePDFTemplateDialog($event.name, $event.slug, $event.issuer)"
									></bg-pdftemplatecard>
								}
							</div>
						</div>
					</ng-template>
				} @else {
					<oeb-feature-teaser>
						<h2
							teaser-heading
							hlmH2
							class="oeb !tw-text-oebblack tw-uppercase tw-font-black tw-text-[22px]/[1.2em]"
						>
							{{ 'PDFEditorTeaser.heading' | translate }}
						</h2>
						<figure teaser-image class="tw-w-[calc(50%-12px)] tw-max-w-[200px] tw-m-0">
							<img
								[src]="'PDFEditorTeaser.defaultImage' | translate"
								alt=""
								class="tw-w-full tw-h-auto tw-border tw-border-solid tw-border-purple tw-rounded-md"
							/>
							<figcaption class="tw-mt-1 tw-text-xs tw-text-oebblack tw-leading-snug">
								{{ 'PDFEditorTeaser.defaultCaption' | translate }}
							</figcaption>
						</figure>
						<figure teaser-image class="tw-w-[calc(50%-12px)] tw-max-w-[200px] tw-m-0">
							<img
								[src]="'PDFEditorTeaser.customImage' | translate"
								alt=""
								class="tw-w-full tw-h-auto tw-border tw-border-solid tw-border-purple tw-rounded-md"
							/>
							<figcaption class="tw-mt-1 tw-text-xs tw-text-oebblack tw-leading-snug">
								{{ 'PDFEditorTeaser.customCaption' | translate }}
							</figcaption>
						</figure>
						<div teaser-body class="tw-flex tw-flex-col tw-gap-6">
							<p hlmP [innerHTML]="'PDFEditorTeaser.body' | translate"></p>
							<p
								hlmP
								class="tw-font-bold tw-text-purple"
								[innerHTML]="'PDFEditorTeaser.upgradeLine' | translate"
							></p>
						</div>
						<oeb-button
							teaser-action
							[text]="'PDFEditorTeaser.buttonLabel' | translate"
							(click)="emailSalesForPdfEditor()"
							[umamiEvent]="'pdf-editor-teaser-upgrade'"
						/>
					</oeb-feature-teaser>
				}
			</div>
		</ng-template>
	}

	<ng-template #issuerBadgesTemplate>
		<section class="oeb-section-sm" *ngIf="!badges?.length">
			<h2
				class="tw-font-medium md:tw-text-[22px] md:tw-leading-[26.4px] tw-text-purple tw-text-[16px] tw-leading-[19.2px] oeb-break-words"
			>
				{{ issuer.name }} {{ 'Issuer.issuerHasNoBadgesYet' | translate }}
			</h2>
		</section>

		<section class="oeb-section-sm tw-relative oeb-break-words" *ngIf="badges?.length">
			<h2
				class="tw-font-medium md:tw-text-[22px] md:tw-leading-[26.4px] tw-text-purple tw-text-[16px] tw-leading-[19.2px] tw-py-4"
			>
				{{ issuer.name }} {{ 'Issuer.issuerHasBadges' | translate }} {{ badgeResults.length }} Badge{{
					badges.length === 1 ? '' : 's'
				}}.
			</h2>
			<ng-template [bgAwaitPromises]="requestsLoaded">
				<badges-datatable
					*ngIf="!public"
					[badges]="$any(badgeResults)"
					(directBadgeAward)="routeToBadgeAward($event, issuer)"
					(qrCodeAward)="routeToQRCodeAward($event, issuer)"
					(redirectToBadgeDetail)="routeToBadgeDetail($event.badge, issuer, $event.focusRequests)"
				></badges-datatable>
			</ng-template>

			<ng-container *ngIf="public">
				<div *ngIf="badges.length > 0">
					<div class="tw-flex tw-flex-wrap tw-items-center oeb-standard-padding-bottom">
						<input
							type="text"
							name="forminput"
							id="forminput"
							placeholder="Badges durchsuchen"
							[(ngModel)]="searchQuery"
							class="tw-w-[300px] tw-border-solid tw-border-purple tw-bg-white tw-mr-6"
							hlmInput
						/>
					</div>
				</div>
				<div class="tw-grid tw-grid-cols-badges tw-gap-6">
					<bg-badgecard
						*ngFor="let badge of badgeResults"
						[badgeTitle]="badge.badge.name"
						[badgeImage]="badge.badge.image"
						[badgeDescription]="badge.badge.description"
						[badgeSlug]="badge.badge.slug"
						[issuerTitle]="badge.issuerName"
						[badgeIssueDate]="$any(badge.badge).created_at"
						[public]="true"
						[publicUrl]="`../../public/badges/${badge.badge.slug}`"
					></bg-badgecard>
				</div>
			</ng-container>
		</section>
	</ng-template>

	<ng-template #networkBadgesTemplate>
		@if (!networkGroupsArray.length) {
			<div
				class="tw-mt-8 tw-bg-oebgrey tw-rounded-[5px] tw-px-2 tw-py-4 tw-flex tw-gap-1 tw-text-oebblack tw-text-lg tw-leading-[130%]"
			>
				<span class="tw-font-bold">1. {{ 'Issuer.partnerBadges' | translate }}:</span>
				<span [innerHTML]="'Issuer.noBadgesApprovedForNetworks' | translate: { issuer: issuer.name }"></span>
			</div>
		} @else {
			<div class="tw-mt-8 tw-bg-oebgrey tw-rounded-[5px] tw-px-2 tw-py-4">
				<div class="tw-flex tw-gap-1 tw-text-purple tw-text-lg tw-leading-[130%]">
					<span class="tw-font-bold">1. {{ 'Issuer.partnerBadges' | translate }}:</span>
					<span [innerHTML]="'Issuer.badgesApprovedForNetworks' | translate: { issuer: issuer.name }"></span>
				</div>

				@for (networkGroup of networkGroupsArray; track networkGroup.network.slug) {
					<div class="tw-mt-6">
						<div
							class="tw-px-2 tw-py-3 tw-flex tw-items-center tw-gap-3 tw-border-b-2 tw-border-purple !tw-cursor-pointer"
							[routerLink]="['/issuer/networks', networkGroup.network.slug]"
						>
							<img
								class="tw-w-12 tw-h-12 tw-object-cover tw-rounded"
								[src]="networkGroup.network.image"
								[alt]="networkGroup.network.name"
							/>
							<div>
								<h3 class="tw-font-bold tw-text-xl tw-text-oebblack tw-uppercase">
									{{ networkGroup.network.name }}
								</h3>
							</div>
						</div>

						<badges-datatable
							[badges]="networkGroup.badges"
							[recipientTranslation]="'Issuer.recipientsViaThisInstitution'"
							(directBadgeAward)="routeToBadgeAward($event, issuer)"
							(qrCodeAward)="routeToQRCodeAward($event, issuer)"
							(redirectToBadgeDetail)="routeToBadgeDetail($event.badge, issuer, $event.focusRequests)"
						></badges-datatable>
					</div>
				}

				@if (networkGroupsArray.length === 0) {
					<div class="tw-px-2 tw-py-8 tw-text-center tw-text-gray-500">
						{{ 'Issuer.noSharedNetworkBadges' | translate }}
					</div>
				}
			</div>
		}
		@if (networkBadgeInstanceResults.length) {
			<div class="tw-mt-12 tw-bg-[#F8F6FC] tw-px-2 tw-py-4 tw-rounded-[5px]">
				<div class="tw-flex tw-gap-1 tw-text-purple tw-text-lg tw-leading-[130%]">
					<span class="tw-font-bold">2. {{ 'Issuer.networkBadges' | translate }}:</span>
					<span [innerHTML]="'Issuer.awardedNetworkBadges' | translate: { issuer: issuer.name }"></span>
				</div>
				@for (group of networkBadgeInstanceResults; track group) {
					<div
						class="tw-px-2 tw-py-2 tw-gap-2 tw-flex tw-items-center tw-font-semibold tw-text-lg tw-leading-[130%] tw-uppercase tw-text-oebblack tw-cursor-pointer"
						[routerLink]="['/issuer/networks', group.networkIssuer.slug]"
					>
						<img class="tw-w-12" [src]="group.networkIssuer.image" alt="Network Logo" />
						<span>{{ group.issuerName }}</span>
					</div>

					<badges-datatable
						[badges]="group.badges"
						[recipientTranslation]="'Issuer.recipientsViaThisInstitution'"
						(directBadgeAward)="routeToBadgeAward($event, issuer)"
						(qrCodeAward)="routeToQRCodeAward($event, issuer)"
						(redirectToBadgeDetail)="routeToBadgeDetail($event.badge, issuer, $event.focusRequests)"
					></badges-datatable>
				}
			</div>
		} @else {
			<div
				class="tw-mt-6 tw-bg-oebgrey tw-rounded-[5px] tw-px-2 tw-py-4 tw-flex tw-gap-1 tw-text-oebblack tw-text-lg tw-leading-[130%]"
			>
				<span class="tw-font-bold">2. {{ 'Issuer.networkBadges' | translate }}:</span>
				<span [innerHTML]="'Issuer.noAwardedNetworkBadges' | translate: { issuer: issuer.name }"></span>
			</div>
		}
	</ng-template>
</div>
