<div class="oeb">
	@if (awards.length === 0) {
		<div class="tw-flex tw-flex-col tw-gap-2">
			<h3 hlmH3 class="tw-text-purple tw-font-bold tw-uppercase">{{ 'QrCode.qrAwards' | translate }}</h3>
			<span class="tw-italic tw-text-[18px] tw-leading-[21.6px] tw-text-oebblack tw-my-2">{{
				'QrCode.noQrCodes' | translate
			}}</span>
			<oeb-button
				class="tw-whitespace-nowrap !tw-p-0"
				variant="secondary"
				[text]="'Badge.awardQRCode' | translate"
				(click)="routeToQrAward(badgeClass, issuer)"
			></oeb-button>
		</div>
	} @else {
		<div hlmAccordion class="tw-flex tw-gap-2">
			@for (award of awards; track award; let i = $index) {
				<div class="tw-flex tw-gap-2">
					<div
						[ngClass]="
							award.request_count > 0 ? 'tw-bg-[var(--color-mint)]' : 'tw-bg-[var(--color-darkgray)]'
						"
						class="tw-border-0 tw-border-solid tw-border-purple tw-rounded-lg tw-pb-0 tw-w-full"
					>
						<div
							hlmAccordionItem
							class="tw-h-full tw-px-2 tw-py-2"
							(click)="$event.stopPropagation()"
							[isOpened]="defaultUnfolded && i === 0"
						>
							<button
								type="button"
								class="tw-w-full hover:tw-no-underline"
								hlmAccordionTrigger
								[disabled]="award.request_count === 0"
							>
								<div
									[ngClass]="award.request_count > 0 ? 'tw-text-oebblack' : 'tw-text-white'"
									class="tw-w-full tw-flex tw-justify-between tw-items-center"
								>
									<div>
										<span class="tw-font-bold">
											{{ award.title }}
										</span>
										@if (award.request_count > 0) {
											<span class="tw-ml-2 tw-font-normal"> ({{ award.request_count }}) </span>
										}
									</div>
								</div>
								@if (award.request_count > 0 && interactive) {
									<ng-icon hlm name="lucideChevronDown" hlmAccIcon class="tw-w-8 tw-h-8" />
								}
							</button>
							@if (award.request_count > 0 && issuer?.slug && badgeClass?.slug && interactive) {
								<brn-accordion-content hlm class="tw-text-white">
									<qrcodes-datatable
										[qrCode]="award"
										[issuerSlug]="issuer.slug"
										[badgeSlug]="badgeClass.slug"
										(deletedQRAward)="deleteQRAward($event)"
										(qrBadgeAward)="onQrBadgeAward($event)"
									></qrcodes-datatable>
								</brn-accordion-content>
							}
						</div>
					</div>
					@if (qrCodeMenus.length) {
						<div class="tw-flex tw-items-start" (click)="$event.stopPropagation()">
							<oeb-dropdown
								[trigger]="svgTrigger"
								[ngClass]="
									award.request_count > 0
										? 'tw-bg-[var(--color-mint)]'
										: 'tw-bg-[var(--color-darkgray)]'
								"
								class="tw-items-center tw-justify-center tw-flex tw-cursor-pointer tw-rounded-[7px]"
								[menuItems]="qrCodeMenus[i]"
							></oeb-dropdown>
							<ng-template #svgTrigger>
								<svg
									class="tw-w-[44.8px] tw-h-[44.8px] md:tw-w-[64.15px] md:tw-h-[64.15px]"
									[attr.fill]="getSvgFillColor(award.request_count)"
									icon="icon_more"
								></svg>
								<span class="visuallyhidden">{{ 'General.more' | translate }}</span>
							</ng-template>
						</div>
					}
				</div>
			}
		</div>
	}
</div>
