<ng-template [bgAwaitPromises]="collectionHashParam">
	<!-- Embedded View -->
	@if (embedService.isEmbedded) {
		<div class="collectioncard">
			<a class="collectioncard-x-headline" [href]="collection.id" target="_blank">{{ collection.name }}</a>
			<!--<p class="collectioncard-x-label">{{ collection.name }}</p>-->
			<div class="l-grid l-grid-badgeimages u-margin-top4x">
				@for (badge of collection.badges | slice: 0 : (collection.badges.length > 3 ? 3 : 4); track badge) {
					<img
						class="badgeimage badgeimage-48px"
						[loaded-src]="badge.image"
						[loading-src]="badgeLoadingImageUrl"
						[error-src]="badgeFailedImageUrl"
						alt=""
					/>
				}
				@if (collection.badges.length > 3) {
					<div class="badgecount">
						<span>{{ collection.badges.length - 3 }}<span>+</span></span>
					</div>
				}
			</div>
		</div>
	}

	<!-- Regular View -->
	@if (!embedService.isEmbedded && collection) {
		<main>
			<div class="page-padding oeb">
				<div class="tw-bg-lightpurple oeb-inset-padding">
					<header class="oeb-section-sm">
						<h1 hlmH1 class="tw-text-purple tw-py-1">
							{{ 'General.collection' | translate }} {{ 'General.of' | translate }}
							{{ collection.owner.firstName }} {{ collection.owner.lastName }}
						</h1>
						<div class="oeb-headline-container-sm">
							<h1 hlmH1 class="tw-text-purple tw-font-black">
								{{ collection.name }}
							</h1>
						</div>
						<div class="oeb-headline-container-sm">
							<p class="tw-text-oebblack tw-text-lg">
								{{ collection.description }}
							</p>
						</div>
					</header>
					<section class="l-containerxaxis l-containeryaxis">
						@if (collection?.badges.length === 0) {
							<span class="tw-text-oebblack tw-font-bold tw-text-[22px] tw-leading-[120%]">
								0 {{ 'BadgeCollection.badgesInCollection' | translate }}
							</span>
						}
						@if (collection?.badges.length) {
							<div class="oeb-headline-container-sm">
								<h2 class="tw-text-oebblack tw-text-[22px] tw-font-semibold tw-leading-[120%]">
									{{
										`${collection?.badges.length} Badge${collection?.badges.length === 1 ? '' : 's'}`
									}}
								</h2>
							</div>
							<div class="tw-gap-6 tw-grid tw-grid-cols-badges">
								@for (badge of collection.badges; track badge) {
									<bg-badgecard
										[badgeTitle]="badge.badge.name"
										[badgeImage]="badge.image"
										[badgeDescription]="badge.badge.description"
										[badgeIssueDate]="getBadgeIssuedOn(badge)"
										[mostRelevantStatus]="badge.badge.mostRelevantStatus"
										[issuerTitle]="badge.badge.issuer.name"
										[public]="true"
										[publicUrl]="getBadgeUrl(badge)"
										[competencies]="badge.badge['extensions:CompetencyExtension']"
									>
									</bg-badgecard>
								}
							</div>
						}
					</section>
				</div>
			</div>
		</main>
	}

	@if (!embedService.isEmbedded && !collection) {
		<main>
			<bg-not-found [messageKey]="'BadgeCollection.collectionNotPublic'" />
		</main>
	}
</ng-template>
