<div class="breadcrumbs">
	@for (link of linkentries; track link; let i = $index; let last = $last) {
		@if (!last) {
			<a class="breadcrumbs-x-link" [routerLink]="link.routerLink" [queryParams]="link.queryParams">
				<ng-icon hlm name="lucideArrowLeft" class="breadcrumbs-x-icon icon icon-dark2" />

				<span class="breadcrumbs-x-text">
					{{ link.title }}
				</span>
			</a>
		}
		@if (!last) {
			<span class="breadcrumbs-x-divider">/</span>
		}
		@if (last) {
			<span>{{ link.title }}</span>
		}
	}
</div>
