<div class="oeb">
	<form-message></form-message>
	@if (showLegend) {
		<app-badge-legend (closed)="closeLegend()"></app-badge-legend>
	}

	<form [formGroup]="badgeClassForm.rawControl" #formElem (ngSubmit)="onSubmit()" novalidate>
		<ng-container [formGroup]="badgeClassForm.rawControl">
			<oeb-stepper linear="true" [initialStep]="existingBadgeClass || initialisedBadgeClass ? 0 : 1">
				@if (!existingBadgeClass && !initialisedBadgeClass) {
					<oeb-step
						[label]="'CreateBadge.chooseBadgeCategory' | translate"
						[optional]="false"
						[route]="['/issuer/issuers/' + issuer.slug + '/badges' + '/select']"
						errorMessage="Bitte Kategorie wählen"
						[completed]="true"
					>
					</oeb-step>
				}

				<cdk-step
					[label]="'CreateBadge.enterDetailsStep' | translate"
					[optional]="false"
					[errorMessage]="'General.validationCompleteForm' | translate"
					[completed]="
						(validateFields(['badge_description', 'badge_hours', 'badge_name']) && !imageValidation()) ||
						isDevMode
					"
					[hasError]="
						((!validateFields(['badge_description', 'badge_hours', 'badge_name']) &&
							dirtyFields(['badge_description', 'badge_hours', 'badge_name'])) ||
							(imageFieldDirty && imageValidation()) ||
							maxStudyLoadValidation()) &&
						!isDevMode
					"
				>
					<div class="section tw-text-oebblack tw-mt-6">
						<div>
							<h2 hlmH2 class="tw-font-bold">
								{{ selectedStep + 1 + '.' }} {{ 'CreateBadge.enterDetails' | translate }}
							</h2>
						</div>
						<div class="tw-flex tw-flex-col md:tw-mx-10 tw-justify-center tw-gap-7">
							<div class="tw-mt-6">
								<span class="input-label md:tw-flex-[0_0_10em]"> {{ 'Badge.title' | translate }}</span>
								<span class="tw-text-oebblack tw-italic"> {{ max60chars }}</span>
								<div class="tw-flex tw-gap-2 tw-items-center">
									<oeb-input
										class="tw-w-full"
										[control]="badgeClassForm.rawControlMap.badge_name"
										[noTopMargin]="true"
										[errorMessage]="{
											required: giveBadgeTitle,
											mustChange: changeBadgeTitle,
										}"
									>
									</oeb-input>
								</div>
							</div>

							<div class="">
								<span class="input-label md:tw-flex-[0_0_10em]">{{
									'RecBadgeDetail.duration_create' | translate
								}}</span>
								<div class="tw-flex tw-gap-2 tw-items-center">
									<oeb-input
										class="tw-w-[75px]"
										[fieldType]="'number'"
										[control]="badgeClassForm.rawControlMap.badge_hours"
										[errorMessage]="{ duration: hoursMaxError }"
										[noTopMargin]="true"
									>
									</oeb-input>
									<span class="tw-text-oebblack md:tw-text-lg">{{
										'General.hours' | translate
									}}</span>
									<oeb-input
										class="tw-w-[75px]"
										[fieldType]="'number'"
										[control]="badgeClassForm.rawControlMap.badge_minutes"
										[errorMessage]="{ duration: minMaxError }"
										[noTopMargin]="true"
									>
									</oeb-input>
									<span class="tw-text-oebblack md:tw-text-lg">{{
										'General.minutes' | translate
									}}</span>
								</div>
							</div>

							<p
								hlmP
								size="sm"
								id="maxHoursOrMinutesError"
								[hidden]="
									!badgeClassForm.hasError('hoursAndMinutesError') &&
									(!badgeStudyLoadDirty ||
										(!badgeClassForm.hasError('maxHoursError') &&
											!badgeClassForm.hasError('maxMinutesError')))
								"
								class="tw-font-normal u-text-error"
							>
								@if (badgeClassForm.hasError('hoursAndMinutesError')) {
									<span>{{ 'CreateBadge.hoursAndMinutesError' | translate }}</span>
								}
								@if (badgeClassForm.hasError('maxMinutesError')) {
									<span>{{ 'CreateBadge.minMaxError' | translate }}</span>
								}
								@if (badgeClassForm.hasError('maxHoursError')) {
									<span>{{ 'CreateBadge.hoursMaxError' | translate }}</span>
								}
							</p>

							<div class="">
								<span class="input-label tw-break-words md:tw-flex-[0_0_10em]">
									{{ 'CreateBadge.short' | translate }}&shy;{{ 'General.description' | translate }}
									{{ 'CreateBadge.forLearners' | translate }}
								</span>
								<span class="tw-text-oebblack tw-italic">
									(max. 700 {{ 'General.characters' | translate }})
								</span>
								<oeb-input
									class="tw-w-full tw-max-w-[750px]"
									[fieldType]="'textarea'"
									[control]="badgeClassForm.rawControlMap.badge_description"
									id="badgeclass_description_input"
									[placeholder]="summarizedDescription"
									[errorMessage]="{ required: enterDescription }"
									[noTopMargin]="true"
								>
								</oeb-input>
							</div>

							<div class="" id="imageSection" #imageSection>
								<span class="input-label md:tw-flex-[0_0_10em]">
									Badge-{{ 'Issuer.image' | translate }}</span
								>
								<div
									class="tw-flex tw-flex-col tw-gap-2 md:tw-flex-row tw-bg-white tw-border tw-border-solid tw-border-[var(--color-purple)] tw-p-8 tw-justify-evenly tw-mr-auto tw-rounded-[10px]"
								>
									<div
										class="tw-w-full tw-bg-[var(--color-lightgreen)] tw-rounded-[10px] tw-py-[16px] tw-px-[32px]"
									>
										<bg-formfield-image
											#imageField
											[label]="useOurEditor"
											[sublabel]="imageSublabel"
											[text_body]="selectFromMyFiles"
											dropZoneInfo1="Drag & Drop"
											[dropZoneInfo2]="chooseFromExistingIcons"
											imageLoaderName="badge"
											[newDropZone]="true"
											[generateRandom]="false"
											[type]="'badge'"
											[allowedFileFormats]="allowedFileFormats"
											(generateRandomImage)="generateRandomImage()"
											(imageUploaded)="
												generateUploadImage(
													$event,
													badgeClassForm.value,
													badgeClassForm.value.useIssuerImageInBadge
												)
											"
											[placeholderImage]="badgeClassPlaceholderImageUrl"
											[control]="badgeClassForm.rawControlMap.badge_image"
											[errorMessage]="imageErrorFork"
										>
										</bg-formfield-image>
										<span
											class="tw-italic tw-text-sm md:tw-flex md:tw-justify-center md:tw-items-center"
											>{{ 'General.fileformats' | translate }}: SVG
											{{ 'General.and' | translate }} PNG</span
										>
										<!-- <div class="tw-bg-white tw-w-full tw-rounded-[10px] tw-mt-2 tw-h-[80px] tw-flex tw-items-center tw-justify-between tw-px-2">
                        <div class="tw-relative">
                          <img [src]='getImagePath()' class="tw-h-[72px] tw-block">
                          <img src="../../../../breakdown/static/images/square.svg" class="tw-absolute tw-h-[11.56px] tw-top-0 tw-right-0">
                        </div> -->
										<div class="tw-w-full tw-bg-white tw-p-4 tw-rounded-[10px] tw-mt-4">
											<span class="tw-text-sm tw-text-oebblack tw-italic">
												{{ 'CreateBadge.issuerImageInBadgeImageInfo' | translate }}
											</span>
										</div>
										<!-- </div> -->
									</div>
									<!-- <hr
                    class="md:tw-hidden tw-my-8 tw-w-full tw-border tw-border-[var(--color-purple)] tw-border-dashed"
                    /> -->
									<div class="tw-italic tw-self-start tw-mt-6 tw-text-[24px]">
										{{ 'General.or' | translate }}
									</div>
									<div
										class="tw-w-full tw-bg-[var(--color-lightgreen)] tw-rounded-[10px] tw-py-[16px] tw-px-[32px] tw-max-h-[400px]"
									>
										<bg-formfield-image
											#customImageField
											[label]="useOwnVisual"
											[sublabel]="uploadOwnDesign"
											[text_body]="uploadOwnVisual"
											imageLoaderName="basic"
											[newDropZone]="true"
											[type]="'badge'"
											[allowedFileFormats]="allowedFileFormatsCustom"
											[generateRandom]="false"
											(generateRandomImage)="generateRandomImage()"
											(imageUploaded)="generateCustomUploadImage($event)"
											[placeholderImage]="badgeClassPlaceholderImageUrl"
											[control]="badgeClassForm.rawControlMap.badge_customImage"
											[errorMessage]="imageErrorFork"
										>
										</bg-formfield-image>
										<span
											class="tw-italic tw-text-sm md:tw-flex md:tw-justify-center md:tw-items-center"
											>{{ 'General.fileformats' | translate }}: PNG&nbsp;
										</span>
										<!-- <div class="tw-w-full tw-bg-white tw-p-4 tw-rounded-[10px] tw-mt-4">
                      <oeb-checkbox class="tw-mx-auto tw-min-w-[300px]" name="addIssuerLogo" id="addIssuerLogo"
                        [control]="badgeClassForm.rawControlMap.useIssuerImageInBadge"
                        [text]="'<span class=\'tw-text-sm tw-font-bold\'>Institutions-Logo ergänzen</span>'"
                      ></oeb-checkbox>
                    </div> -->
									</div>
									<badge-studio
										[scrolled]="scrolled"
										#badgeStudio
										[formData]="badgeClassForm.value"
										[hidden]="true"
									></badge-studio>
								</div>
							</div>

							<p
								hlmP
								size="sm"
								id="imageTextError"
								[hidden]="!imageFieldDirty || !badgeClassForm.hasError('imageRequired')"
								class="tw-font-normal md:tw-pl-[13.5rem] u-text-error"
							>
								{{ 'CreateBadge.imageRequiredError' | translate }}.
							</p>
							<p
								hlmP
								size="sm"
								[hidden]="!isCustomImageLarge"
								class="tw-font-normal md:tw-pl-[13.5rem] u-text-error"
							>
								{{ 'CreateBadge.imageTooLarge' | translate }}.
							</p>
						</div>
					</div>
				</cdk-step>

				@if (category === 'competency') {
					<cdk-step
						[label]="'RecBadgeDetail.competencies' | translate"
						[optional]="false"
						[errorMessage]="getCompetencyPageError()"
						[completed]="
							(getSelectedAiCompetencies().length > 0 ||
								selectedKeywordCompetencies.length > 0 ||
								badgeClassForm.controls.competencies.controls.length > 0) &&
							badgeClassForm.controls.aiCompetencies.valid &&
							badgeClassForm.controls.competencies.valid &&
							badgeClassForm.controls.keywordCompetencies.valid &&
							!badgeClassForm.hasError('competenceHoursMinutesZero') &&
							!badgeClassForm.hasError('competencyExceedsBadgeDuration') &&
							!badgeClassForm.hasError('emptyCompetencies') &&
							!badgeClassForm.hasError('duplicateCompetency')
						"
						[hasError]="
							!badgeClassForm.controls.aiCompetencies.valid ||
							!badgeClassForm.controls.competencies.valid ||
							!badgeClassForm.controls.keywordCompetencies.valid ||
							badgeClassForm.hasError('competenceHoursMinutesZero') ||
							badgeClassForm.hasError('competencyExceedsBadgeDuration') ||
							badgeClassForm.hasError('emptyCompetencies') ||
							badgeClassForm.hasError('duplicateCompetency')
						"
					>
						@if (badgeCategory === 'competency') {
							<div class="section tw-text-oebblack tw-px-1 tw-mt-6">
								<h2 id="fillWithCompetencies" hlmH2 class="tw-font-bold">
									{{ selectedStep + 1 + '.' }} {{ 'CreateBadge.fillWithCompetencies' | translate }}
								</h2>
								<p class="tw-font-normal md:tw-mx-10 tw-mx-4 u-text-error" hlmP size="sm">
									@if (badgeClassForm.hasError('competenceHoursMinutesZero')) {
										<span>
											{{ 'CreateBadge.competenceHoursMinutesZero' | translate }}
										</span>
									}
									@if (badgeClassForm.hasError('competencyExceedsBadgeDuration')) {
										<span>
											{{ 'CreateBadge.competencyExceedsBadgeDuration' | translate }}
										</span>
									}
									<!-- <span *ngIf="badgeClassForm.hasError('maxMinutesCompetencyError')">
                  {{ 'CreateBadge.invalidCompetence' | translate }}
                </span> -->
								</p>
								<ul class="tw-list-disc md:tw-mx-10 tw-mx-4">
									<!-- <div>
                <span
                  class="tw-list-item tw-list-inside tw-text-3xl tw-font-normal tw-text-[var(--color-purple)] tw-mt-2"
                  >{{ 'CreateBadge.useAiAssistant' | translate }}</span
                  >
                  <p hlmP class="tw-my-2">{{ 'CreateBadge.enterAiDescription' | translate }}</p>
                  <p hlmP class="tw-my-2">{{ 'CreateBadge.NoPersonalInformation' | translate }}</p>
                  <p hlmP class="tw-mb-2">{{ 'CreateBadge.addAiCompetencies' | translate }}</p>
                </div> -->
									<div class="tw-mt-7 tw-p-12 tw-bg-aipurple tw-rounded-md tw-mx-auto tw-relative">
										<span class="tw-font-extrabold tw-text-xl tw-uppercase tw-relative"
											>{{ 'CreateBadge.aiAssistant' | translate }}
											<img
												class="tw-absolute tw--top-10 tw--right-16 tw-w-16 tw-h-16"
												src="assets/oeb/images/badge/icon-ai-skills.svg"
											/>
										</span>
										<p class="tw-my-2 tw-mb-0 tw-italic tw-text-[var(--color-purple)]">
											{{ 'CreateBadge.NoPersonalInformation' | translate }}
										</p>
										<hr
											class="tw-my-6 tw-w-full tw-border-solid tw-border-top-[1px] tw-border-white"
										/>
										<div class="">
											<h2 class="tw-font-bold tw-inline-block">
												{{ 'CreateBadge.myContentDescription' | translate }}
											</h2>
											<span class="tw-font-thin tw-italic tw-ml-2">{{
												'CreateBadge.min70max1200Chars' | translate
											}}</span>
											<div
												class="tw-absolute tw--top-4 tw--right-4 md:tw-top-4 md:tw-right-4 tw-bg-[var(--color-lightgreen)] tw-rounded-full tw-w-24 tw-h-24 tw-flex tw-items-center tw-justify-center tw-text-center tw-rotate-[8deg] tw-text-[14px]"
											>
												Denke<br />auch an<br />Soft Skills!
											</div>
											<div class="tw-relative">
												<textarea
													id="ai-competencies-description"
													class="tw-bg-white tw-border tw-border-gray-300 tw-mt-2 tw-rounded-md tw-shadow-sm tw-p-2 tw-h-48 tw-resize-none tw-text-sm tw-text-gray-700 tw-w-full"
													[(ngModel)]="aiCompetenciesDescription"
													[ngModelOptions]="{ standalone: true }"
													maxlength="1200"
													minlength="70"
													[placeholder]="detailedDescription"
												>
												</textarea>
												@if (aiCompetenciesDescription.length) {
													<span
														class="tw-absolute tw-bottom-1 tw-right-2 tw-pointer-events-none"
														[ngClass]="
															aiCompetenciesDescription.length < 70 ||
															aiCompetenciesDescription.length === 1200
																? 'tw-text-red'
																: 'tw-text-gray-600'
														"
													>
														{{ aiCompetenciesDescription.length }}
														{{ 'General.characters' | translate }}
													</span>
												}
											</div>
											<div class="tw-mt-4 tw-flex tw-gap-4">
												<oeb-button
													[id]="'suggest-competencies-btn'"
													class="tw-whitespace-nowrap"
													(click)="suggestCompetencies()"
													type="button"
													[text]="suggestCompetenciesText"
													[disabled]="
														aiCompetenciesDescription.length < 70 || aiCompetenciesLoading
													"
												>
													<span class="tw-font-bold">
														{{ 'CreateBadge.suggestCompetencies' | translate }}
													</span>
												</oeb-button>
												@if (aiCompetenciesLoading) {
													<img
														width="32"
														height="32"
														src="assets/oeb/images/badge/loading.svg"
													/>
												}
											</div>
											@if (aiCompetenciesSuggestions.length !== 0) {
												<div class="tw-mt-6 md:tw-mt-8 tw-w-full">
													<h2 class="tw-font-bold tw-text-[22px] tw-mb-2">
														{{ 'CreateBadge.fitting' | translate }}
														{{ 'CreateBadge.competencies' | translate }}
													</h2>
													<p class="tw-text-purple tw-italic tw-mb-4">
														{{ 'CreateBadge.chooseCompetency' | translate }}
													</p>
													@for (
														aiCompetency of badgeClassForm.controls.aiCompetencies.controls;
														track aiCompetency;
														let i = $index
													) {
														<div
															[ngClass]="
																aiCompetency.rawControlMap.selected.value
																	? 'tw-bg-[var(--color-lightgreen)]'
																	: 'tw-bg-[var(--color-lightgray)]'
															"
															class="tw-border tw-border-solid tw-border-purple tw-rounded-md md:tw-w-2/3 tw-mx-auto md:tw-ml-0 tw-p-2 tw-mt-2"
														>
															<div class="tw-flex tw-justify-between tw-items-center">
																<h2
																	class="tw-whitespace-pre-wrap tw-text-sm tw-text-oebblack tw-font-bold"
																>
																	{{ aiCompetenciesSuggestions[i].preferred_label }}
																	<a
																		href="http://data.europa.eu/{{
																			aiCompetenciesSuggestions[i].concept_uri
																		}}"
																		target="_blank"
																		class="tw-ml-2 !tw-text-[var(--color-link)]]"
																	>
																		<span
																			class="tw-text-[var(--color-link)] tw-underline tw-font-normal"
																			>(E)</span
																		></a
																	>
																</h2>
																<oeb-checkbox
																	name="{{ 'checkboxAiSkill_' + i }}"
																	id="{{ 'checkboxAiSkill_' + i }}"
																	[control]="aiCompetency.rawControlMap.selected"
																	class="tw-border-[var(--color-purple)] tw--mt-[0.25rem] tw-mb-[0.25rem]"
																	[noMargin]="true"
																></oeb-checkbox>
															</div>
															<hr
																class="tw-text-[var(--color-grayinteractive)] tw-my-1 tw-border-solid tw-border"
															/>
															<p
																class="tw-w-full tw-my-2 tw-text-sm tw-text-oebblack tw-whitespace-pre-wrap"
															>
																{{ aiCompetenciesSuggestions[i].description }}
															</p>
															<p
																class="tw-text-sm tw-my-2 tw-text-[#6B6B6B] tw-font-light"
															>
																{{ 'Badge.category' | translate }}:
																{{
																	aiCompetenciesSuggestions[i].type.includes('skill')
																		? ('Badge.skill' | translate)
																		: ('Badge.knowledge' | translate)
																}}
															</p>
															<div class="tw-flex tw-gap-2 tw-items-center">
																<oeb-input
																	class="tw-w-20"
																	[fieldType]="'number'"
																	[control]="aiCompetency.rawControlMap.hours"
																	[errorMessage]="{ duration: requiredError }"
																	[noTopMargin]="true"
																>
																</oeb-input>
																<span class="tw-font-bold tw-text-purple" hlmP>:</span>
																<oeb-input
																	class="tw-w-20"
																	[fieldType]="'number'"
																	[control]="aiCompetency.rawControlMap.minutes"
																	[errorMessage]="{ duration: requiredError }"
																	[noTopMargin]="true"
																>
																</oeb-input>
																<span class="tw-text-oebblack md:tw-text-lg">{{
																	'RecBadge.hours' | translate
																}}</span>
															</div>
														</div>
													}
													@if (badgeClassForm.controls.aiCompetencies.controls.length) {
														<div
															class="tw-bg-purple tw-rounded-2xl tw-p-12 tw-text-white tw-mt-12"
														>
															<div
																class="tw-flex tw-gap-8 tw-items-start tw-flex-col md:tw-flex-row"
															>
																<img
																	class=""
																	src="assets/oeb/images/badge/icon-ai-betterresults.svg"
																/>
																<div class="tw-text-[18px]/[1.3em]">
																	<h2
																		[innerHTML]="
																			'CreateBadge.nothingSuitable' | translate
																		"
																		class="tw-uppercase tw-font-bold tw-mb-4 tw-text-[30px]/[1.4em] tw-"
																	></h2>
																	<p
																		class="tw-italic tw-mb-4"
																		[innerHTML]="
																			'CreateBadge.tryDetailedDescription'
																				| translate
																		"
																	></p>
																	<p [innerHTML]="'CreateBadge.tips' | translate"></p>
																	<ul class="tw-list-disc tw-pl-8">
																		<li
																			[innerHTML]="
																				'CreateBadge.subjectMatter' | translate
																			"
																			class="tw-list-disc tw-my-1"
																		></li>
																		<li
																			[innerHTML]="
																				'CreateBadge.howLearningWorks'
																					| translate
																			"
																			class="tw-list-disc tw-my-1"
																		></li>
																		<li
																			[innerHTML]="
																				'CreateBadge.inAddition' | translate
																			"
																			class="tw-list-disc tw-my-1"
																		></li>
																	</ul>
																</div>
															</div>
														</div>
														<p
															class="tw-italic tw-mt-4"
															[innerHTML]="'CreateBadge.aiAssistantNote' | translate"
														></p>
													}
												</div>
											}
										</div>
									</div>
									<hr class="tw-my-8 tw-border tw-border-[var(--color-purple)] tw-border-dashed" />
									<oeb-collapsible
										[id]="'competencies-by-hand-section'"
										[trigger]="collapseCompetenciesTrigger"
										[defaultOpen]="collapsedCompetenciesOpen"
										[closeable]="
											badgeClassForm.controls.competencies.controls.length === 0 &&
											badgeClassForm.controls.keywordCompetencies.controls.length === 0
										"
									>
										<ng-template #collapseCompetenciesTrigger>
											<span
												class="tw-text-3xl tw-font-normal tw-text-[var(--color-purple)] tw-mr-auto"
												[innerHTML]="'CreateBadge.addCompetenciesByHand' | translate"
											></span>
										</ng-template>
										<div class="tw-bg-white tw-p-8 tw-rounded-2xl">
											<p class="tw-text-purple tw-italic">
												{{ 'CreateBadge.competencyOptions' | translate }}
											</p>
											<h2 class="tw-font-bold tw-text-xl tw-mt-6">
												1. {{ 'CreateBadge.escoSearch.headline' | translate }}
											</h2>
											<p [innerHTML]="'CreateBadge.escoSearch.description' | translate"></p>
											<h3 class="tw-mt-8 tw-font-bold">
												{{ 'CreateBadge.escoSearch.search' | translate }}
											</h3>
											<div class="tw-flex tw-gap-4 tw-items-center tw-mt-2">
												<div class="tw-relative">
													<input
														#keywordCompetenciesInput
														#keywordCompetenciesInputModel="ngModel"
														class="tw-bg-white tw-border tw-border-solid tw-border-[var(--color-purple)] tw-rounded-md tw-shadow-sm tw-p-2 tw-pr-10 tw-resize-none tw-text-sm tw-text-gray-700 tw-w-full tw-max-w-[400px]"
														[(ngModel)]="keywordCompetenciesKeywords"
														[ngModelOptions]="{ standalone: true }"
														[placeholder]="
															'CreateBadge.escoSearch.inputPlaceholder' | translate
														"
														(focus)="keywordCompetenciesShowResults = true"
														(focusout)="keywordCompetenciesInputFocusOut()"
														(keydown.enter)="$event.preventDefault()"
													/>
													<!-- <img
                                class="tw-absolute tw-top-2 tw-right-2 tw-w-6 tw-h-6 tw-pointer-events-none"
                                src="assets/oeb/images/badge/icon-magnifier.svg"
                                /> -->
													<ng-icon
														hlm
														size="lg"
														class="tw-absolute tw-top-[3px] tw-right-1 tw-w-6 tw-h-6 tw-pointer-events-none tw-text-purple"
														name="lucideSearch"
													/>
													@if (
														keywordCompetenciesShowResults &&
														(keywordCompetenciesLoading ||
															keywordCompetenciesResult.length ||
															keywordCompetenciesLoaded)
													) {
														<div
															class="tw-absolute tw-mt-1 tw-z-10 tw-bg-white tw-rounded-md tw-shadow-sm tw-border tw-border-solid tw-border-gray-700 tw-w-full tw-overflow-auto"
															[ngStyle]="{
																'max-height.px': calculateDropdownMaxHeight(
																	keywordCompetenciesInput,
																	100
																),
																'bottom.px': calculateDropdownBottom(
																	keywordCompetenciesInput,
																	100
																),
															}"
														>
															<ul>
																@if (keywordCompetenciesLoading) {
																	<li class="tw-p-2 tw-cursor-default">Loading...</li>
																}
																@for (
																	skill of getFilteredkeywordCompetenciesResult();
																	track skill
																) {
																	<li
																		class="tw-p-2 hover:tw-bg-[var(--color-lightpurple)] tw-cursor-pointer"
																		(click)="addKeywordCompetenciesResult(skill)"
																	>
																		{{ skill.preferred_label }}
																	</li>
																}
																@if (
																	keywordCompetenciesResult.length === 0 &&
																	!keywordCompetenciesLoading &&
																	keywordCompetenciesLoaded
																) {
																	<li
																		class="tw-p-2 tw-text-gray-500 tw-cursor-default"
																	>
																		Keine Ergebnisse
																	</li>
																}
															</ul>
														</div>
													}
												</div>
												<div class="forminput">
													<div class="forminput-x-inputs tw-flex tw-gap-2 tw-items-center">
														<span>{{
															'CreateBadge.escoSearch.resultsIn' | translate
														}}</span>
														<select
															#keywordCompetenciesLanguageSelectModel="ngModel"
															class="tw-p-2"
															[(ngModel)]="keywordCompetenciesLanguage"
															[ngModelOptions]="{ standalone: true }"
														>
															<option value="de">
																{{ 'General.language.de' | translate }}
															</option>
															<option value="en">
																{{ 'General.language.en' | translate }}
															</option>
														</select>
													</div>
												</div>
											</div>
											@if (selectedKeywordCompetencies.length !== 0) {
												<div class="tw-mt-6 md:tw-mt-8 tw-w-full">
													@for (
														keywordCompetency of badgeClassForm.controls.keywordCompetencies
															.controls;
														track keywordCompetency;
														let i = $index
													) {
														<div
															class="tw-bg-[var(--color-lightgreen)] tw-border tw-border-solid tw-border-purple tw-rounded-md md:tw-w-2/3 tw-mx-auto md:tw-ml-0 tw-p-2 tw-mt-2"
														>
															<div class="tw-flex tw-justify-between">
																<h2
																	class="tw-whitespace-pre-wrap tw-text-sm tw-text-oebblack tw-font-bold"
																>
																	{{ selectedKeywordCompetencies[i].preferred_label }}
																	<a
																		href="http://data.europa.eu/{{
																			selectedKeywordCompetencies[i].concept_uri
																		}}"
																		target="_blank"
																		class="tw-ml-2 !tw-text-[var(--color-link)]]"
																	>
																		<span
																			class="tw-text-[var(--color-link)] tw-underline tw-font-normal"
																			>(E)</span
																		></a
																	>
																</h2>
															</div>
															<hr
																class="tw-text-[var(--color-grayinteractive)] tw-my-1 tw-border-solid tw-border"
															/>
															<p
																class="tw-w-full tw-my-2 tw-text-sm tw-text-oebblack tw-whitespace-pre-wrap"
															>
																{{ selectedKeywordCompetencies[i].description }}
															</p>
															<p
																class="tw-text-sm tw-my-2 tw-text-[#6B6B6B] tw-font-light"
															>
																{{ 'Badge.category' | translate }}:
																{{
																	selectedKeywordCompetencies[i].type.includes(
																		'skill'
																	)
																		? ('Badge.skill' | translate)
																		: ('Badge.knowledge' | translate)
																}}
															</p>
															<div class="tw-flex tw-gap-2 tw-items-center">
																<oeb-input
																	class="tw-w-20"
																	[fieldType]="'number'"
																	[control]="keywordCompetency.rawControlMap.hours"
																	[errorMessage]="{ duration: requiredError }"
																	[noTopMargin]="true"
																>
																</oeb-input>
																<span class="tw-font-bold tw-text-purple" hlmP>:</span>
																<oeb-input
																	class="tw-w-20"
																	[fieldType]="'number'"
																	[control]="keywordCompetency.rawControlMap.minutes"
																	[errorMessage]="{ duration: requiredError }"
																	[noTopMargin]="true"
																>
																</oeb-input>
																<span class="tw-text-oebblack md:tw-text-lg">{{
																	'RecBadge.hours' | translate
																}}</span>
																<oeb-button
																	size="sm"
																	type="button"
																	width="max_content"
																	(click)="removeKeywordCompetenciesResult(i)"
																	variant="secondary"
																	text="{{ 'General.delete' | translate }}"
																	class="tw-ml-auto"
																	icon="lucideTrash2"
																>
																</oeb-button>
															</div>
														</div>
													}
												</div>
											}
											<hr
												class="tw-my-8 tw-border-t-[1px] tw-border-[var(--color-purple)] tw-border-dashed"
											/>
											<h2 class="tw-font-bold tw-text-xl">
												2. {{ 'CreateBadge.competencyOwn' | translate }}
											</h2>
											<p>{{ 'CreateBadge.competencyOwnDescription' | translate }}</p>
											@for (
												competency of badgeClassForm.controls.competencies.controls;
												track competency;
												let i = $index
											) {
												@if (competency.controls['added'].value) {
													<div
														class="tw-bg-[var(--color-lightgray)] tw-rounded-2xl tw-border tw-border-solid tw-border-[var(--color-purple)] tw-p-4 tw-mt-2"
													>
														<div class="tw-flex tw-justify-between">
															<h2
																class="tw-whitespace-pre-wrap tw-text-oebblack tw-font-bold"
															>
																{{ competency.rawControlMap.name.value }}
															</h2>
															<oeb-checkbox
																class="tw-border-[var(--color-purple)]"
																name="competency$i"
																id="competency$i"
																[control]="competency.rawControlMap.added"
															></oeb-checkbox>
														</div>
														<p
															class="tw-w-full tw-text-oebblack tw-mt-2 tw-italic tw-whitespace-pre-wrap tw-line-clamp-3"
														>
															{{ competency.rawControlMap.description.value }}
														</p>
														<div class="tw-flex tw-gap-2 tw-items-center tw-mt-4">
															<label
																class="tw-text-oebblack tw-font-bold"
																for="studyLoad$i"
															>
																{{ 'RecBadgeDetail.duration' | translate }}:
															</label>
															<span
																class="tw-flex tw-rounded-md tw-bg-white tw-border tw-border-solid tw-border-black tw-h-8 tw-w-20 tw-min-w-fit tw-items-center tw-justify-center"
															>
																{{
																	competency.rawControlMap.hours.value
																		| number: '2.0'
																}}:{{
																	competency.rawControlMap.minutes.value
																		| number: '2.0'
																}}
																h
															</span>
														</div>
													</div>
												} @else {
													<div
														class="tw-border-[var(--color-purple)] tw-bg-[var(--color-lightgreen)] tw-border tw-border-solid tw-rounded-md tw-p-6 tw-mt-4"
													>
														<oeb-input
															id="{{ 'competencyTitle_' + i }}"
															[fieldType]="'text'"
															[label]="competencyTitle"
															[control]="competency.rawControlMap.name"
															[errorMessage]="{ required: titleError }"
															[noTopMargin]="true"
															[readonly]="
																competency.controls['framework_identifier'].value
																	? true
																	: false
															"
														>
														</oeb-input>
														<oeb-input
															id="{{ 'competencyDescriptionInput_' + i }}"
															[fieldType]="'textarea'"
															[label]="competencyDescription"
															[control]="competency.rawControlMap.description"
															[errorMessage]="{ required: enterDescription }"
															[readonly]="
																competency.controls['framework_identifier'].value
																	? true
																	: false
															"
														>
														</oeb-input>
														<oeb-select
															id="{{ 'competencyCategory_' + i }}"
															ariaLabel="Wähle eine Kompetenz-Kategorie"
															[control]="competency.rawControlMap.category"
															[label]="competencyCategory"
															[placeholder]="
																'CreateBadge.chooseCompetencyCategory' | translate
															"
															[optionMap]="competencyCategoryOptions"
															[errorMessage]="{
																required: competencyCategoryError,
															}"
															[noTopMargin]="true"
															[disabled]="
																competency.controls['framework_identifier'].value
																	? true
																	: false
															"
														></oeb-select>
														@if (competency.rawControlMap['framework_identifier'].value) {
															<oeb-input
																id="{{ 'escoIdentifierInput_' + i }}"
																label="Framework-Identifier"
																[control]="
																	competency.rawControlMap['framework_identifier']
																"
																[readonly]="true"
																placeholder="z.B. http://data.europa.eu/esco/skill/7de3b70e-2568-420a-8528-69523d323e7a"
															>
															</oeb-input>
														}
														<div class="tw-flex tw-items-end">
															<div class="tw-flex tw-flex-col">
																<span
																	class="tw-font-semibold tw-text-[14px] md:tw-text-[20px] tw-leading-4 md:tw-leading-6 tw-font-[rubik] tw-pb-[5px] tw-pl-[3px] tw-mt-6 md:tw-mt-7"
																	>{{ competencyDuration }}</span
																>
																<div class="tw-flex tw-gap-2 tw-items-center">
																	<oeb-input
																		id="{{ 'competencyDurationHour_' + i }}"
																		[fieldType]="'number'"
																		class="tw-max-w-40"
																		[control]="competency.rawControlMap.hours"
																		[errorMessage]="{
																			max: maxValue1000,
																		}"
																		[noTopMargin]="true"
																	>
																	</oeb-input>
																	:
																	<oeb-input
																		id="{{ 'competencyDurationMinutes_' + i }}"
																		[fieldType]="'number'"
																		class="tw-max-w-40"
																		[control]="competency.rawControlMap.minutes"
																		[errorMessage]="{
																			max: minMaxError,
																		}"
																		[noTopMargin]="true"
																	>
																	</oeb-input>
																	<span class="tw-text-oebblack">h</span>
																</div>
															</div>
															@if (
																badgeClassForm.controls.competencies.controls.length > 0
															) {
																<oeb-button
																	class="tw-ml-auto"
																	variant="secondary"
																	size="sm"
																	type="button"
																	(click)="removeCompetency(competency)"
																	text="{{ 'General.delete' | translate }}"
																	icon="lucideTrash2"
																></oeb-button>
															}
														</div>
													</div>
												}
											}
											<div class="tw-w-full tw-flex tw-justify-start tw-mt-4">
												<oeb-button
													size="sm"
													type="button"
													(click)="addAnotherCompetency()"
													text="{{
														(badgeClassForm.controls.competencies.controls.length > 0
															? 'CreateBadge.addAnotherCompetency'
															: 'General.add'
														) | translate
													}}"
													icon="lucidePlus"
												>
												</oeb-button>
											</div>
										</div>
									</oeb-collapsible>
								</ul>
								@if (badgeClassForm.hasError('duplicateCompetency')) {
									<p
										id="competencyDuplicateError"
										[hidden]="!badgeClassForm.hasError('duplicateCompetency')"
										class="u-text u-margin-bottom2x u-text-error tw-w-full tw-text-center tw-mt-2"
									>
										{{ 'CreateBadge.duplicateCompetencyError' | translate }} '{{
											checkDuplicateCompetency()
										}}'
									</p>
								}
							</div>
						}
					</cdk-step>
				}

				<cdk-step label="Tags" [optional]="true" errorMessage="Bitte Tags auswählen">
					<div class="section tw-text-oebblack tw-mt-6">
						<div>
							@if (badgeCategory !== 'competency' || existingBadgeClass) {
								<h2 hlmH2 class="tw-font-bold">
									{{ selectedStep + 1 + '.' }} {{ 'CreateBadge.addTags' | translate }}
								</h2>
							}
							@if (badgeCategory === 'competency' && !existingBadgeClass) {
								<h2 hlmH2 class="tw-font-bold">
									{{ selectedStep + 1 + '.' }} {{ 'CreateBadge.addTags' | translate }}
								</h2>
							}
						</div>
						<p
							class="tw-italic tw-text-purple tw-mt-2"
							[translate]="'CreateBadge.tagInfo'"
							[translateParams]="{ items: 'Badges', items2: 'Badges' }"
						></p>
						<div class="formsection-x-body tw-mt-4">
							<div class="tw-flex tw-gap-4 tw-items-center tw-mb-2">
								<span class="tw-font-semibold tw-text-lg tw-text-oebblack tw-uppercase"> Tag</span>

								<div class="ng-autocomplete">
									<ng-autocomplete
										name="addtag"
										id="addtag"
										#newTagInput
										[data]="existingTags"
										maxlength="50"
										[isLoading]="existingTagsLoading"
										searchKeyword="name"
										[placeholder]="newTag"
										(keypress)="handleTagInputKeyPress($event)"
										[itemTemplate]="itemTemplate"
										[notFoundTemplate]="notFoundTemplate"
									>
									</ng-autocomplete>

									<ng-template #itemTemplate let-item>
										<a [innerHTML]="item.name"></a>
									</ng-template>

									<ng-template #notFoundTemplate let-notFound>
										<div>{{ 'CreateBadge.tagDoesNotExist' | translate }}</div>
									</ng-template>
								</div>

								<oeb-button
									[id]="'add-tag-btn'"
									size="sm"
									type="button"
									(click)="addTag()"
									text="{{ 'General.add' | translate }}"
								>
								</oeb-button>
							</div>
							@if (tags.size > 0) {
								<div class="tw-flex tw-flex-wrap tw-gap-4 tw-w-[70%] tw-ml-[3.2rem]">
									@for (tag of tags; track tag) {
										<div class="tw-flex tw-items-center tw-rounded-full tw-py-1 tw-mb-2">
											<oeb-button
												variant="secondary"
												size="xxs"
												(click)="removeTag(tag)"
												icon="lucideCircleX"
												text="{{ tag }}"
											>
											</oeb-button>
										</div>
									}
								</div>
							}
						</div>
					</div>
				</cdk-step>

				<cdk-step [label]="'CreateBadge.closing' | translate">
					<h2 hlmH2 class="tw-pt-1 tw-px-1 tw-mr-auto !tw-text-oebblack !tw-font-bold">
						{{ 'CreateBadge.optionalBadgeDetails' | translate }}
					</h2>

					@if (!issuer.is_network) {
						<div class="section tw-text-oebblack tw-mt-6">
							<h2 hlmH2 class="!tw-text-oebblack">
								{{ 'Badge.copyBadgeHeadline' | translate }}
							</h2>
							<span
								class="tw-text-oebblack tw-italic tw-text-lg"
								[innerHTML]="'Badge.copyBadgeDescription1' | translate"
							></span>
							<span
								class="tw-text-purple tw-italic tw-text-lg tw-mt-2"
								[innerHTML]="'Badge.copyBadgeDescription2' | translate"
							></span>
							<div class="tw-mt-2 tw-mb-2">
								<oeb-checkbox
									[control]="badgeClassForm.rawControlMap.copy_permissions_allow_others"
									[text]="'Badge.copyLabelOthers' | translate"
								/>
							</div>
						</div>
					}
					@if (category === 'competency') {
						<div class="section tw-text-oebblack tw-mt-6">
							<h2 hlmH2 class="tw-pt-1 tw-px-1 tw-mr-auto !tw-text-oebblack">
								{{ 'Badge.awardCriteria' | translate }}
							</h2>
							<span
								class="tw-text-purple tw-italic tw-text-lg tw-mt-2"
								[innerHTML]="'Badge.criteriaDesc' | translate"
							></span>
							<div class="tw-mt-2 tw-mb-2 tw-grid tw-grid-cols-3">
								<div class="tw-grid tw-grid-cols-2 tw-col-span-2 tw-gap-4">
									@for (
										criteriaGroup of criteriaSelectionsForm.controls.selections.controls;
										track criteriaGroup;
										let i = $index
									) {
										<oeb-checkbox
											[control]="criteriaGroup.rawControlMap.selected"
											[text]="criteriaGroup.controls.text.value"
										></oeb-checkbox>
									}
								</div>
								<oeb-button
									class="tw-col-span-1"
									size="sm"
									type="button"
									variant="white"
									[text]="'Badge.addOwnCriteria' | translate"
									(click)="addNewOwnCriteria()"
								></oeb-button>
							</div>
							@for (
								criteria of badgeClassForm.controls.criteria.controls;
								track criteria;
								let i = $index
							) {
								<section
									class="tw-border-[var(--color-purple)] tw-bg-[var(--color-lightpurple)] tw-border tw-border-solid tw-rounded-md tw-p-6 tw-mt-4"
								>
									<div class="tw-flex tw-gap-2">
										<oeb-input
											id="{{ 'criteriaTitle_' + i }}"
											[fieldType]="'text'"
											[control]="criteria.rawControlMap.name"
											[errorMessage]="{ required: titleError }"
											[noTopMargin]="true"
											[readonly]="isPredefinedCriteria(criteria)"
											class="tw-w-full"
											[placeholder]="'Badge.enterOwnCriteria' | translate"
											[sublabelRight]="'(max. 50 Zeichen)'"
										>
										</oeb-input>
										<oeb-button
											icon="lucideTrash2"
											type="button"
											[iconLeft]="true"
											size="sm"
											variant="secondary"
											[text]="'General.delete' | translate"
											(click)="removeCriteria(criteria.rawControlMap.name.value)"
										>
										</oeb-button>
									</div>
									<oeb-input
										id="{{ 'criteriaDescription_' + i }}"
										[fieldType]="'textarea'"
										[control]="criteria.rawControlMap.description"
										[errorMessage]="{ required: enterDescription }"
										[placeholder]="'Badge.enterOwnCriteriaDesc' | translate"
									>
									</oeb-input>
								</section>
							}
						</div>
					}

					<!-- Link to course offering -->
					<section class="section tw-text-oebblack tw-mt-6">
						<h2 hlmH2 class="!tw-text-oebblack tw-pb-4">
							{{ 'CreateBadge.linkToCourse' | translate }}
						</h2>
						<div class="tw-w-full tw-flex tw-gap-4 tw-text-oebblack tw-text-lg tw-mt-4 tw-mb-4">
							<oeb-input
								id="course-url"
								class="tw-w-full"
								[control]="badgeClassForm.rawControlMap.courseUrl"
								[noTopMargin]="true"
								[label]="'CreateBadge.websiteUrl' | translate"
								[placeholder]="'https://'"
								[urlField]="true"
								[fieldType]="'url'"
								errorMessage="{{ 'Issuer.enterURL' | translate }}"
							/>
						</div>
					</section>

					<!-- Expiration -->
					<section class="section tw-text-oebblack tw-mt-6">
						<h2 hlmH2 class="!tw-text-oebblack tw-pb-4">
							{{ 'CreateBadge.expiration' | translate }}
						</h2>
						<div class="tw-w-fit tw-flex tw-gap-4 tw-text-oebblack tw-text-lg tw-mt-4 tw-mb-4">
							<oeb-input
								id="duration-number"
								[control]="badgeClassForm.rawControlMap.expiration"
								[noTopMargin]="true"
								[fieldType]="'number'"
								[errorMessage]="{
									max: maxValue1000,
								}"
							></oeb-input>
							<oeb-select
								[noTopMargin]="true"
								[id]="'duration-type'"
								ariaLabel="chooseDuration"
								[control]="badgeClassForm.rawControlMap.expiration_unit"
								[optionMap]="durationOptions"
							></oeb-select>
						</div>
						<p
							class="tw-italic tw-text-purple tw-text-lg"
							[innerHTML]="'CreateBadge.expirationInfo' | translate"
						></p>
					</section>
				</cdk-step>
			</oeb-stepper>
		</ng-container>

		<div class="tw-flex tw-justify-end">
			@if (stepper?.selected?.hasError) {
				<p class="tw-inline-block tw-text-red">
					{{ stepper.selected.errorMessage }}
				</p>
			}
		</div>

		<div class="tw-flex tw-justify-between md:tw-justify-end tw-flex-wrap sm:tw-flex-nowrap tw-gap-2 tw-mt-8">
			<oeb-button
				class="tw-mr-4"
				type="button"
				variant="secondary"
				(click)="cancelClicked()"
				[disabled]="!!savePromise"
				[class.disabled]="!!savePromise"
				[disabled-when-requesting]="true"
				text="{{ 'General.cancel' | translate }}"
				[umamiEvent]="!existingBadgeClass ? 'cancel-create-badge' : undefined"
			/>

			@if (!lastStep()) {
				<oeb-button
					class="tw-float-right"
					type="button"
					[text]="next"
					(click)="nextStep()"
					[umamiEvent]="
						!existingBadgeClass ? `create-${category}-badge-${this.stepper?.selectedIndex + 1}` : undefined
					"
				/>
			}

			@if (lastStep()) {
				<oeb-button
					id="create-badge-btn"
					type="submit"
					width="max_content"
					[disabled]="!!savePromise"
					[loading-promises]="[savePromise]"
					loading-message="{{
						((!existingBadgeClass ? 'Issuer.creatingBadge' : 'EditBadge.saving') | translate) + ' ...'
					}}"
					text="{{
						(!existingBadgeClass
							? category === 'competency'
								? 'Issuer.createCompetencyBadge'
								: 'Issuer.createParticipationBadge'
							: 'General.save'
						) | translate
					}}"
					[umamiEvent]="
						!existingBadgeClass
							? `create-${category}-badge-done-${this.stepper?.selectedIndex + 1}`
							: undefined
					"
				>
				</oeb-button>
			}
		</div>

		<!-- Badge Category Panel -->
		<!-- <div class="section tw-text-oebblack">
            <div class="tw-flex tw-flex-col tw-gap-2">
              <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4 md:tw-gap-8">
                <h2 hlmH2 class="tw-font-bold">1. {{ 'CreateBadge.chooseBadgeCategory' | translate }}</h2>
                <oeb-select
                  class="tw-w-[280px]"
                  ariaLabel="chooseABadgeCategory"
                  [control]="badgeClassForm.rawControlMap.badge_category"
                  [placeholder]="chooseABadgeCategory"
                  [optionMap]="categoryOptions"
						[errorMessage]="{
							required: chooseABadgeCategory
						}"
                  [autofocus]="true"
                  [noTopMargin]="true"
                ></oeb-select>
              </div>
              <div class="tw-italic tw-gap-2 md:tw-pl-8">
                <div class="tw-flex tw-py-2">
                  <p hlmP size="sm" class="tw-text-purple">{{ 'Badge.competency' | translate }}-Badges&nbsp; </p>
                  <p hlmP size="sm" class="md:tw-hidden"> {{ 'CreateBadge.competencyBadgeShortInfo' | translate }}.</p>
                  <p hlmP size="sm" class="tw-hidden md:tw-block">{{ 'CreateBadge.competencyBadgeInfo' | translate }}.</p>
                </div>
                <div class="tw-flex">
                  <p hlmP size="sm" class="tw-text-purple">{{ 'Badge.participation' | translate }}-Badges&nbsp; </p>
                  <p hlmP size="sm" class="md:tw-hidden"> {{ 'CreateBadge.participationBadgeShortInfo' | translate }}.</p>
                  <p hlmP size="sm" class="tw-hidden md:tw-block">{{ 'CreateBadge.participationBadgeInfo' | translate }}.</p>
                </div>
              </div>
            </div>
          </div> -->

		<div class="tw-mt-8">
			<p
				class="tw-text-end tw-text-oebblack tw-italic tw-text-lg"
				[innerHTML]="'CreateBadge.licenseInfo' | translate"
			></p>
		</div>
	</form>
</div>
