<div class="oeb tw-relative tw-w-full">
	<div class="page-padding">
		<div class="oeb-breadcrumbs">
			<bg-breadcrumbs [linkentries]="crumbs"> </bg-breadcrumbs>
		</div>
		@if (activeTab === 'overview') {
			<h1 hlmH1 class="tw-text-purple tw-font-black tw-mt-20 tw-pb-14">
				{{ 'Network.welcomeDashboard' | translate }}
			</h1>
		}
		<ng-template [bgAwaitPromises]="[networkLoaded]">
			<section
				class="tw-flex tw-gap-4 tw-items-center"
				[ngClass]="{ 'tw-pb-8 tw-mt-20': activeTab !== 'overview' }"
			>
				<div class="tw-bg-white tw-aspect-square tw-flex tw-items-center tw-justify-center">
					<img width="70px" [src]="network().image" alt="Network Logo" />
				</div>
				<div class="tw-flex tw-flex-col">
					<span class="tw-font-bold tw-text-3xl tw-text-oebblack">{{ network().name }}</span>
					<span class="tw-text-oebblack tw-text-lg tw-font-semibold tw-mt-2">
						{{
							'Network.yourRole'
								| translate
									: {
											role: 'Network.role.' + role | translate,
									  }
						}}</span
					>
				</div>
				@if (activeTab === 'badges' && network().current_user_network_role !== 'staff') {
					<div class="tw-ml-auto">
						<oeb-button
							variant="secondary"
							[text]="'Network.createBadge' | translate"
							[routerLink]="[`/issuer/issuers/${network().slug}/badges/select/`]"
						></oeb-button>
					</div>
				}
				@if (activeTab === 'partners' && network().current_user_network_role !== 'staff') {
					<div class="tw-ml-auto">
						<oeb-button
							[text]="'Network.shortInviteInstitutions' | translate"
							(click)="openDialog()"
						></oeb-button>
					</div>
				}
			</section>
			@if (activeTab === 'overview') {
				<p class="tw-text-oebblack tw-text-lg tw-mt-4 tw-pb-8">
					{{ network().description }}
				</p>
			}
			<oeb-tabs
				[variant]="'lightpurple'"
				(onTabChanged)="onTabChange($event)"
				[activeTab]="activeTab"
				[tabs]="tabs"
			>
			</oeb-tabs>
		</ng-template>
		<ng-template #overviewTemplate>
			<div class="tw-my-12">
				<oeb-button
					[variant]="partnerIssuers().length ? 'secondary' : 'default'"
					(click)="openDialog()"
					[text]="'Network.inviteInstitutions' | translate"
					[disabled]="network().current_user_network_role !== 'owner'"
				>
				</oeb-button>
			</div>
		</ng-template>
	</div>
</div>

<ng-template #partnerTemplate>
	<network-partners
		[network]="network()"
		[issuers]="partnerIssuers()"
		(removePartnerRequest)="onRemovePartner($event)"
		[addInstitutionsTemplate]="addInstitutionsTemplate"
		[networkInvites]="networkInvites()"
	></network-partners>
</ng-template>

<ng-template #headerTemplate>
	<h1 class="tw-font-bold tw-text-purple tw-text-2xl tw-mb-4">{{ 'Network.inviteInstitutions' | translate }}</h1>
</ng-template>

<ng-template #addInstitutionsTemplate>
	<add-institution [network]="network()" [invites]="networkInvites()" (institutionsInvited)="onInstitutionsInvited()">
	</add-institution>
</ng-template>

<ng-template #badgesTemplate>
	<network-badges [network]="network()"></network-badges>
</ng-template>
