.tag {
	--typography-size: 12px;
	font-family: var(--font-family);
	font-size: var(--typography-size);
	line-height: calc(var(--typography-size) + 4px);
	background-color: white;
	border-radius: 30px;
	border: 1px solid var(--color-darkgray);
	color: var(--color-darkgray);
	display: inline-block;
	font-weight: 600;
	padding: 8px 16px;
	position: relative;
	text-transform: lowercase;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	overflow-wrap: break-word;
	max-width: 100%;
	box-sizing: border-box;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

div.headerMenuGrid {
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr min-content;
	grid-template-areas:
		'main overflow-menu'
		'secondary secondary';

	.main-action {
		grid-area: main;
	}

	.overflow-menu {
		grid-area: overflow-menu;
	}

	.secondary {
		grid-area: secondary;
	}
}
