<div class="">
	<div class="tw-flex oeb-section-sm tw-w-full">
		<div class="tw-flex tw-justify-between tw-w-full">
			<div class="tw-flex tw-items-center tw-gap-4 tw-w-full">
				<div class="tw-relative md:tw-flex tw-flex-shrink-0 tw-z-10 tw-hidden">
					<img
						[src]="learningPath.participationBadge_image"
						alt="{{ issuer.name }} Badge"
						class="tw-w-[150px] md:tw-w-[200px]"
					/>
				</div>
				<div class="tw-w-full">
					<div
						class="tw-flex tw-flex-row tw-justify-between tw-w-full tw-flex-wrap md:tw-flex-nowrap tw-gap-4"
					>
						<div class="tw-flex tw-flex-col tw-justify-center">
							<h2 hlmH2 class="!tw-text-oebblack tw-font-extrabold tw-uppercase">
								{{ learningPath.name }}
							</h2>
							<p size="sm" hlmP class="tw-text-oebblack">
								{{ 'LearningPath.lpFrom' | translate }}
								<a
									class="tw-underline !tw-text-link hover:!tw-text-buttonhover tw-cursor-pointer"
									[routerLink]="['/issuer/issuers/' + issuer.slug]"
									>{{ issuer.name }}</a
								>
							</p>
							<div class="tw-flex tw-gap-1 tw-pt-4 oeb-standard-padding-bottom">
								@for (tag of learningPath.tags; track tag) {
									<div class="tag tw-border-[var(--color-purple)] tw-ml-0">
										{{ tag }}
									</div>
								}
							</div>
							<p
								class="tw-text-lg tw-text-purple tw-italic"
								hlmP
								[innerHTML]="
									'LearningPath.studentsMustEarn'
										| translate
											: {
													count_required: learningPath.required_badges_count,
													count_total: learningPath.badges.length,
											  }
								"
							></p>

							<p class="tw-text-lg" hlmP>{{ learningPath.description }}</p>
						</div>
						<div class="tw-flex tw-flex-col tw-gap-2">
							<oeb-button
								[text]="'General.delete' | translate"
								variant="secondary"
								width="full_width"
								(click)="deleteLearningPath(learningPath.slug, issuer)"
								[disabled-when-requesting]="true"
								[disabled]="!issuer.canCreateBadge"
								[class]="
									issuer.canCreateBadge ? 'tw-whitespace-nowrap tw-hidden md:tw-block' : 'disabled'
								"
							>
							</oeb-button>
							@if (!learningPath.activated) {
								<div>
									<oeb-button
										[text]="'General.edit' | translate"
										width="full_width"
										[routerLink]="learningPathEditLink"
										[class]="
											issuer.canCreateBadge
												? 'tw-whitespace-nowrap tw-hidden md:tw-block'
												: 'disabled'
										"
									>
									</oeb-button>
									<p class="tw-italic tw-text-oebblack">
										<span>{{ 'LearningPath.notActivatedYetStart' | translate }}</span>
										<a
											class="tw-underline tw-text-link"
											[routerLink]="[
												`/issuer/issuers/${issuer.slug}/learningpaths/${learningPath.slug}/edit`,
											]"
											[queryParams]="{ focusActivation: true }"
										>
											{{ 'LearningPath.notActivatedYetLink' | translate }}</a
										>
										<span>{{ 'LearningPath.notActivatedYetEnd' | translate }}</span>
									</p>
								</div>
							}

							@if (
								!issuer.is_network &&
								learningPath.activated &&
								pdfTemplateManager.pdfEditorAvailable() &&
								(!issuer?.quotas || issuer?.quotas?.quotas['PDFEDITOR'].quota)
							) {
								<oeb-button
									[text]="'PDFTemplate.editPDF' | translate"
									width="full_width"
									[routerLink]="[
										`/issuer/issuers/${issuer.slug}/learningpaths/${learningPath.slug}/pdftemplate`,
									]"
									[disabled]="!issuer.canCreateBadge"
									[class]="
										issuer.canCreateBadge
											? 'tw-whitespace-nowrap tw-hidden md:tw-block'
											: 'disabled'
									"
								></oeb-button>
							}
						</div>
					</div>

					<div class="tw-mt-4 md:tw-hidden tw-flex tw-flex-col tw-gap-4">
						<oeb-button
							class="tw-whitespace-nowrap"
							[text]="'General.delete' | translate"
							variant="secondary"
							width="full_width"
							[disabled-when-requesting]="true"
						></oeb-button>
						@if (!learningPath.activated) {
							<div>
								<oeb-button
									class="tw-whitespace-nowrap tw-mb-2"
									[text]="'General.edit' | translate"
									width="full_width"
									[routerLink]="learningPathEditLink"
									[disabled-when-requesting]="true"
								></oeb-button>
								<p class="tw-italic tw-text-oebblack">
									<span>{{ 'LearningPath.notActivatedYetStart' | translate }}</span>
									<a
										class="tw-underline tw-text-link"
										[routerLink]="[
											`/issuer/issuers/${issuer.slug}/learningpaths/${learningPath.slug}/edit`,
										]"
										[queryParams]="{ focusActivation: true }"
									>
										{{ 'LearningPath.notActivatedYetLink' | translate }}</a
									>
									<span>{{ 'LearningPath.notActivatedYetEnd' | translate }}</span>
								</p>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tw-block lg:tw-flex tw-gap-10">
		<div class="oeb-section-sm tw-relative tw-inline-block tw-border-b-4 tw-border-purple tw-border-solid">
			<div class="tw-relative tw-pb-8 md:tw-hidden tw-z-10">
				<img
					[src]="learningPath.participationBadge_image"
					alt="{{ issuer.name }} Badge"
					class="tw-w-[150px] md:tw-w-[200px]"
				/>
			</div>
			<div
				class="tw-absolute tw-border-l-8 tw-border-lightpurple tw-border-solid tw-left-[74px] md:tw-left-[100px] tw-top-[50px] md:tw-top-[-100px] tw-bottom-[20px]"
			></div>
			<div class="tw-pl-[120px] md:tw-pl-[145px]">
				<h3 hlmH3 class="tw-uppercase tw-font-bold tw-text-purple tw-pb-4">
					{{ 'LearningPath.lpBadges' | translate }}
				</h3>
				<div class="tw-flex tw-flex-col tw-gap-4" [@stagger]>
					@for (badge of learningPathReverseBadges; track badge; let i = $index) {
						<div class="tw-relative" @inOutAnimation>
							<div
								class="tw-absolute tw-left-[-69px] md:tw-left-[-69px] tw-top-[50%] tw-translate-y-[-50%]"
							>
								<div
									class="tw-flex tw-items-center tw-justify-center tw-w-[56px] tw-h-[56px] tw-relative"
								>
									@if (
										badge?.badge.extensions['extensions:CategoryExtension'].Category ===
										'competency'
									) {
										<img src="assets/oeb/images/learningPath/competency_icon.png" />
									}
									@if (
										badge?.badge.extensions['extensions:CategoryExtension'].Category ===
										'participation'
									) {
										<img src="assets/oeb/images/learningPath/participation_icon.png" />
									}
									<div
										class="tw-absolute tw-text-[22px] tw-font-bold tw-text-white tw-top-[50%] tw-translate-y-[-50%] tw-left-[50%] tw-translate-x-[-50%]"
									>
										{{ learningPath.badges.length - i }}
									</div>
								</div>
							</div>
							<bg-badgecard
								[badgeTitle]="badge.badge.name"
								class="tw-max-w-[300px]"
								[badgeImage]="badge.badge.image"
								[badgeDescription]="badge.badge.description"
								[badgeSlug]="badge.badge.slug"
								[issuerTitle]="badge?.badge.issuerName ? badge.badge.issuerName : issuer.name"
								[badgeIssueDate]="badge.badge.created_at"
								[public]="true"
								[publicUrl]="'/public/badges/' + badge.badge.slug"
								[competencies]="badge.badge.extensions['extensions:CompetencyExtension']"
							></bg-badgecard>
						</div>
					}
				</div>
			</div>
		</div>
		<div class="oeb-section-sm tw-flex-grow lg:tw-pt-0 tw-pt-6">
			<div class="tw-bg-oebgrey tw-rounded-[10px] tw-py-6 tw-px-4">
				<h3 hlmH3 class="tw-font-bold tw-uppercase tw-text-oebblack tw-text-center">
					{{ 'LearningPath.mdUsers' | translate }}
				</h3>
				<div class="oeb-section-sm">
					<h3 hlmH3 class="tw-pb-2 tw-font-medium tw-text-oebblack">
						{{ participants.length }}
						{{ 'LearningPath.lpRecipients' | translate }}
					</h3>
					<learningpath-graduates-datatable
						[participants]="participants"
						(revokeLearningPath)="revokeLpParticipationBadge($event)"
						(downloadCertificate)="downloadCertificate($event)"
					></learningpath-graduates-datatable>
				</div>
			</div>
		</div>
	</div>
</div>
