input::placeholder {
	color: var(--color-darkgray);
	font-size: 18px;
	line-height: 23.4px;
}

textarea::placeholder {
	color: var(--color-darkgray);
	font-size: 18px;
	line-height: 23.4px;
}

input[type="range"] {
	appearance: auto;
	accent-color: var(--color-purple);
	padding: 0;
}
