.flex-1 {
	flex: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}

.video-container iframe,
.video-container object,
.video-container embed {
	width: 100%;
	height: 100%;
	padding-bottom: 5rem;
}

.panel {
	padding: 5rem;
	text-align: center;
	position: relative;
	max-width: 100%;
	color: white;
	border-radius: 1rem;
}

.header-oeb {
	display: flex;
	flex-direction: column;
	font-size: 6em;
	line-height: 1.2;
	color: #6100f9;
	text-transform: uppercase;
	margin-left: 5em;
}

.what-are-oeb {
	color: white;
	font-size: 2.25em;
	line-height: 1.5;
	text-transform: uppercase;
	margin-top: 3em;
}

@media only screen and (max-width: 900px) {
	.what-are-oeb {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 600px) {
	.what-are-oeb {
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 1600px) {
	.header-oeb {
		font-size: 4.5 em;
		margin-left: 4.5em;
	}
}

@media only screen and (max-width: 1440px) {
	.header-oeb {
		font-size: 4.5em;
		margin-left: 4em;
	}
}

@media only screen and (max-width: 1200px) {
	.header-oeb {
		font-size: 3.5em;
		margin-left: 3.5em;
	}
}

@media only screen and (max-width: 900px) {
	.header-oeb {
		font-size: 3em;
		margin-left: 2em;
	}
}

@media only screen and (max-width: 600px) {
	.header-oeb {
		font-size: 2.5em;
	}
}

@media only screen and (max-width: 400px) {
	.header-oeb {
		font-size: 2em;
	}
}

.media-container {
	display: flex;
	gap: 1em;
}

@media only screen and (max-width: 600px) {
	.media-container {
		flex-direction: column;
	}

	.media-container video {
		width: 100%;
	}
}

.nunito-normal {
	font-family: 'Nunito', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.nunito-bold {
	font-family: 'Nunito', sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
}

.badge-logo {
	max-width: 100%;
	min-width: 200px;
	height: auto;
	width: 35%;
	// margin-left: auto;
}

@media only screen and (max-width: 400px) {
	.badge-logo {
		min-width: 150px;
	}
}

// @media only screen and (max-width: 992px) {
// 		.badge-logo {
// 		  width: 25%;
// 		}
//   }

// @media (min-width: 1600px) {
//     .badge-logo {
//         width: 12%; /* Adjust width as needed */
//     }
// }

// @media only screen and (max-width: 1200px) {
// 	.badge-logo {
// 	  width: 20%;
// 	}
//   }

//   @media only screen and (max-width: 400px) {
//     .badge-logo {
// 		width: 150px;
//     }
//   }

.form-paragraph {
	max-width: 350px;
	color: white;
	font-size: 2em;
	line-height: 1.5;
	margin-top: 3em;
	margin-bottom: 20%;
	margin-right: 2em;
}

@media only screen and (max-width: 900px) {
	.form-paragraph {
		font-size: 1.5em;
	}
}

//   @media only screen and (max-width: 600px) {
// 	.form-paragraph {
// 	  font-size: 1.2em;
// 	}
//   }

.newsletter-form {
	width: 540px;
	height: 800px;
	margin-left: 2em;
}

@media only screen and (max-width: 900px) {
	.newsletter-form {
		width: 400px;
		height: 500px;
	}
}

.iframe-container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-top: 6em;
}

@media only screen and (max-width: 900px) {
	.iframe-container p {
		display: none;
	}
}

.text-semiBold {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}

.text-semiBold a {
	font-family: 'rubik';
	text-decoration-line: underline;
	color: #1400ff;
}

.main-nav-bold {
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	color: #ffffff;
}

.login-btn {
	position: unset;
	background-color: var(--color-purple);
	width: 75px;
	height: 45px;
	border-radius: 10px;
	margin-left: 1em;
}

@media (max-width: 767px) {
	.login-btn {
		display: none;
	}

	.text-semiBold {
		font-size: 14px;
		line-height: 16.8px;
	}
}

.logos-container {
	align-items: center;
}

.logos-container img {
	height: auto;
}

.funding-logos-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

@media (max-width: 912px) {
	.logos-container {
		flex-direction: column;
	}

	.logos-container img {
		margin-bottom: 2rem;
	}

	.funding-logos-container {
		flex-direction: column;
	}
}

// NAVBAR
.oeb-navbar {
	align-items: center;
	background-color: var(--color-lightgray);
	display: flex;
	height: 100px;
	justify-content: space-between;
	position: relative;
	padding-right: calc(var(--gridspacing) * 2);
	padding-left: calc(var(--gridspacing) * 2);

	@media (min-width: 768px) {
		padding-right: calc(var(--gridspacing) * 4);
		padding-left: calc(var(--gridspacing) * 4);
	}
	@media (min-width: 1324px) {
		padding-right: calc(50% - 612px);
		padding-left: calc(50% - 612px);
	}
}

@media (min-width: 768px) {
	.oeb-navbaritems:not(:last-child) {
		margin-right: calc(var(--gridspacing) * 4);
	}
}

@media (min-width: 768px) {
	.oeb-navbaritems {
		align-items: stretch;
		display: flex;
		margin-left: calc(var(--gridspacing) * 4);
		padding-top: calc(var(--gridspacing) * 2.5);
	}
}

@media (min-width: 768px) {
	.oeb-navbaritems > :not(:last-child) {
		margin-right: calc(var(--gridspacing) * 4);
	}
}

.oeb-navitem {
	--typography-size: 16px;
	font-family: rubik;
	font-size: 20px;
	align-items: center;
	color: var(--color-black);
	display: flex;
	padding: 0 0.2em;
	position: relative;
	font-weight: 400;
	line-height: 30px;
	// white-space: no-wrap;
	transition: color var(--transition-easing) var(--transition-duration);

	.navitem-x-icon {
		height: 24px;
		width: 24px;
	}

	&:after {
		background-color: transparent;
		bottom: -10px;
		content: '';
		display: block;
		height: 4px;
		left: 0;
		position: absolute;
		transition: background-color var(--transition-easing) var(--transition-duration);
		top: auto;
		width: 100%;
		will-change: background-color;
		opacity: 0.7;
	}
	&:hover {
		color: var(--color-buttonhover);
	}
	&:hover:after {
		background-color: var(--color-buttonhover);
	}
	&:active:after {
		background-color: var(--color-purple);
	}
}
.oeb-navitem.oeb-navitem-is-active {
	&:after {
		background-color: var(--color-purple);
		opacity: 0.85;
	}
}
.oeb-navitem-is-active {
	color: var(--color-purple) !important;
}

.oeb-navbar-logo {
	display: block;
	line-height: 11px;

	img {
		max-width: 114px;
		height: unset;
	}
}

.oeb-menuitem {
	font-weight: 400;
	line-height: 30px;
	color: var(--color-black);
}
