<bg-badgedetail [config]="config" [awaitPromises]="[issuerLoaded, badgeClassLoaded]">
	<oeb-tabs [variant]="'black'" (onTabChanged)="onTabChange($event)" [activeTab]="activeTab" [tabs]="tabs">
	</oeb-tabs>
	@if (activeTab === 'qrcodes') {
		<div #qrAwards>
			@if (issuer && issuer.is_network) {
				@if (!networkQrCodeApiAwards.length) {
					<qrcode-awards
						[(selectedNetworkIssuer)]="selectedNetworkIssuer"
						(qrBadgeAward)="onQrBadgeAward($event)"
						[awards]="[]"
						[badgeClass]="badgeClass"
						[issuer]="issuer"
						[routerLinkText]="config?.issueQrRouterLink"
						[networkUserIssuers]="networkUserIssuers()"
						[networkIssuerSelection]="networkIssuerSelection"
						[networkIssuerSelectionHeader]="networkIssuerSelectionHeader"
					></qrcode-awards>
				}
				@for (qrGroup of networkQrCodeApiAwards; track qrGroup.issuer.slug) {
					<div class="tw-mt-8 tw-mb-2 tw-flex tw-gap-2 tw-items-center">
						<img class="tw-w-11" [src]="qrGroup.issuer.image" alt="Issuer Logo" />
						<span class="tw-text-oebblack tw-text-lg tw-font-semibold tw-uppercase">{{
							qrGroup.issuer.name
						}}</span>
					</div>
					<qrcode-awards
						(qrBadgeAward)="onQrBadgeAward($event)"
						[awards]="qrGroup.qrcodes"
						[badgeClass]="badgeClass"
						[issuer]="qrGroup.issuer"
						[routerLinkText]="config?.issueQrRouterLink"
						[interactive]="qrGroup.staff"
					></qrcode-awards>
				}
			} @else {
				<qrcode-awards
					(qrBadgeAward)="onQrBadgeAward($event)"
					[awards]="qrCodeAwards"
					[badgeClass]="badgeClass"
					[issuer]="issuer"
					[routerLinkText]="config?.issueQrRouterLink"
					[defaultUnfolded]="focusRequests"
				></qrcode-awards>
			}
		</div>
	}
	@if (activeTab === 'recipients') {
		<div #batchAwards>
			@if (issuer) {
				@if (issuer.is_network) {
					@if (groupedPartnerInstances) {
						@for (partner of groupedPartnerInstances; track partner) {
							@if (!partner.has_access && partner.instance_count > 0) {
								<div class="tw-mb-4">
									<div class="tw-mt-8 tw-mb-2 tw-flex tw-gap-2 tw-items-center">
										<img class="tw-w-11" [src]="partner.issuer.image" alt="Partner Logo" />
										<span class="tw-text-oebblack tw-font-bold tw-text-lg tw-uppercase">{{
											partner.issuer.name
										}}</span>
									</div>
								</div>
								<div class="tw-bg-purple tw-rounded-[10px] tw-w-full tw-px-4 tw-py-5">
									<span class="tw-text-white tw-font-semibold tw-text-lg">{{
										partner.instance_count + ' ' + ('Issuer.badgeAwards' | translate)
									}}</span>
								</div>
							} @else if (partner.instances.length) {
								<div>
									<div class="tw-mt-8 tw-flex tw-gap-2 tw-items-center">
										<img class="tw-w-11" [src]="partner.issuer.image" alt="Partner Logo" />
										<span class="tw-text-oebblack tw-font-bold tw-text-lg tw-uppercase">{{
											partner.issuer.name
										}}</span>
									</div>
									<issuer-detail-datatable
										[issuer]="issuer"
										[recipientCount]="partner.instance_count"
										[recipients]="partner.instances"
										(actionElement)="revokeInstance($event)"
										(downloadCertificate)="
											downloadCertificate($event['instance'], $event['badgeIndex'])
										"
										[downloadStates]="downloadStates"
										[awardInProgress]="isTaskProcessing || isTaskPending"
									></issuer-detail-datatable>
								</div>
							}
						}
					}
				} @else {
					<issuer-detail-datatable
						[recipients]="recipients()"
						[isLoading]="isLoadingInstances"
						[recipientCount]="recipientCount"
						[issuer]="issuer"
						[downloadStates]="downloadStates"
						[awardInProgress]="isTaskActive && (isTaskPending || isTaskProcessing)"
						(paginationChange)="onPaginationChange($event)"
						(searchChange)="onSearchChange($event)"
						(actionElement)="revokeInstance($event)"
						(downloadCertificate)="downloadCertificate($event.instance, $event.badgeIndex)"
					/>
				}
			}
		</div>
	}
	<ng-template #headerTemplate>
		<h2 class="tw-font-bold tw-my-2" hlmH2>{{ 'Badge.copyForWhatInstitution' | translate }}</h2>
	</ng-template>
	<ng-template #issuerSelection>
		<div class="tw-mb-8">
			@if (config.copy_permissions.includes('others')) {
				@for (issuer of userIssuers; track issuer) {
					<label class="radio tw-mb-2">
						<input type="radio" [(ngModel)]="selectedIssuer" [value]="issuer" />
						<span class="radio-x-text">{{ issuer.name }}</span>
					</label>
				}
			} @else {
				<span class="tw-text-oebblack tw-text-center tw-my-2">
					{{ 'Badge.copyPermissionInfo' | translate }}
				</span>
				<label class="radio tw-my-2">
					<input type="radio" [(ngModel)]="selectedIssuer" [value]="issuer" />
					<span class="radio-x-text">{{ config.issuerName }}</span>
				</label>
			}
		</div>
		<oeb-button
			width="full_width"
			type="button"
			[disabled]="!selectedIssuer"
			(click)="routeToBadgeCreation(selectedIssuer)"
			size="sm"
			[text]="'General.next' | translate"
		>
		</oeb-button>
	</ng-template>
</bg-badgedetail>

<ng-template #networkIssuerSelectionHeader>
	<div class="tw-px-4">
		<h2
			class="tw-text-purple tw-text-[22px] tw-uppercase tw-mb-6"
			[innerHTML]="'Network.awardBadgeIssuer' | translate"
		></h2>
	</div>
</ng-template>
<ng-template #networkIssuerSelection let-closeDialog="closeDialog">
	<div class="tw-mb-6 tw-px-4">
		@if (isLoadingIssuers()) {
			<div>{{ 'General.loading' | translate }}</div>
		} @else {
			@for (issuer of networkUserIssuers(); track issuer.slug) {
				<label class="radio tw-mb-6">
					<input type="radio" [(ngModel)]="selectedNetworkIssuer" [value]="issuer" />
					<span class="radio-x-text">{{ issuer.name }}</span>
				</label>
			}
		}
	</div>
	<div class="tw-flex tw-gap-2 tw-px-4">
		<oeb-button
			type="button"
			variant="secondary"
			[text]="'General.cancel' | translate"
			size="sm"
			(click)="closeDialog()"
		>
		</oeb-button>
		<oeb-button
			type="button"
			[disabled]="!selectedNetworkIssuer"
			(click)="closeDialog('continue')"
			size="sm"
			[text]="'Issuer.giveBadge' | translate"
		>
		</oeb-button>
	</div>
</ng-template>

<ng-template #networkSelectionHeader>
	<div>
		<h2
			class="tw-text-purple tw-text-[22px] tw-uppercase tw-mb-6 tw-leading-[120%] tw-font-bold"
			[innerHTML]="'Badge.shareOnWhichNetwork' | translate"
		></h2>
		<ul class="tw-list-disc tw-text-purple tw-text-lg -tw-italic tw-list-outside tw-px-4 tw-mb-6">
			<li>
				<span>{{ 'Badge.allNetworkMembersGetBadge' | translate }}</span>
			</li>
			<li>
				<span>{{ 'Badge.networkAssertionsGetTracked' | translate }}</span>
			</li>
			<li>
				<span>{{ 'Badge.cantRemoveFromNetwork' | translate }}</span>
			</li>
		</ul>
	</div>
</ng-template>
<ng-template #networkSelection>
	<select-network [badge]="badgeClass" [issuer]="issuer" (closeSelect)="closeDialog()"></select-network>
</ng-template>
