<div *bgAwaitPromises="[badgeClassLoaded]">
	<form [formGroup]="qrForm.rawControl" (ngSubmit)="onSubmit()" novalidate>
		<div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-10">
			<div class="tw-flex tw-flex-row tw-justify-center">
				<div>
					<div
						class="tw-flex tw-items-center tw-w-[164px] tw-h-[164px] tw-px-4 tw-bg-white tw-mx-auto md:tw-py-8 tw-py-4 tw-rounded-[20px] oeb-slight-shadow tw-grow-0 tw-shrink-0"
					>
						<img
							class="tw-w-[133px] tw-h-[133px] tw-mx-auto tw-block"
							[loaded-src]="badgeClass.image"
							[loading-src]="badgeLoadingImageUrl"
							[error-src]="badgeFailedImageUrl"
						/>
					</div>
				</div>
				<div class="tw-ml-4 md:tw-hidden tw-justify-center tw-items-center tw-flex">
					<h2 class="tw-text-oebblack tw-text-3xl tw-leading-[120%]">
						{{ 'QrCode.create' | translate }} <br />
						<span class="tw-font-black tw-text-purple tw-uppercase">{{ badgeClass.name }}</span>
					</h2>
				</div>
			</div>

			<div class="tw-flex tw-flex-col tw-w-full">
				<h2 class="tw-hidden md:tw-block tw-text-oebblack tw-text-3xl tw-leading-[120%]">
					{{ 'QrCode.create' | translate }} <br />
					<span class="tw-font-black tw-text-purple tw-uppercase">{{ badgeClass.name }}</span>
				</h2>
				@if (environment.networksEnabled) {
					<div class="tw-flex tw-gap-2 tw-items-center md:tw-mt-7 tw-mt-6">
						<div class="tw-bg-white tw-w-[60px] tw-h-[60px] tw-flex tw-justify-center tw-items-center">
							<img width="" [src]="issuer.image" alt="Issuer image" />
						</div>
						<span class="tw-text-oebblack tw-font-semibold tw-text-lg tw-leading-[120%]">{{
							issuer.name
						}}</span>
					</div>
				}
				<oeb-input
					[label]="'General.title' | translate"
					[placeholder]="'QrCode.titlePlaceholder' | translate"
					fieldType="text"
					[autofocus]="true"
					[control]="qrForm.rawControlMap.title"
				></oeb-input>
				<oeb-input
					[label]="'QrCode.creatorName' | translate"
					[placeholder]="'QrCode.creatorNamePlaceholder' | translate"
					fieldType="text"
					[control]="qrForm.rawControlMap.createdBy"
				></oeb-input>
				<input [formControl]="qrForm.rawControlMap.badgeclass_id" type="hidden" />
				<input [formControl]="qrForm.rawControlMap.issuer_id" type="hidden" />

				<!-- Activity/Course Dates Section -->
				<div class="tw-mt-6 md:tw-mt-8 tw-flex tw-bg-white tw-rounded-[5px] tw-p-4 tw-flex-col tw-gap-2">
					<span
						class="tw-mb-2 tw-text-oebblack tw-text-lg tw-uppercase tw-font-semibold md:tw-leading-[28px] md:tw-text-[20px] tw-leading-[19px] tw-text-[14px]"
					>
						@if (!editing) {
							<span class="tw-font-normal tw-italic">Optional:</span>
						}
						{{ 'RecBadge.courseDate' | translate }}
					</span>
					<div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4">
						<oeb-input
							[noTopMargin]="true"
							labelStyle="tw-text-oebblack"
							[label]="'General.start' | translate"
							[errorMessage]="{
								invalidDate: 'QrCode.invalidDate' | translate,
							}"
							[control]="qrForm.rawControlMap.activity_start_date"
							fieldType="date"
						></oeb-input>
						<oeb-input
							[noTopMargin]="true"
							labelStyle="tw-text-oebblack"
							[label]="'General.end' | translate"
							[errorMessage]="{
								activityEndBeforeStart: 'QrCode.invalidDateRange' | translate,
								invalidDate: 'QrCode.invalidDate' | translate,
							}"
							[control]="qrForm.rawControlMap.activity_end_date"
							fieldType="date"
						></oeb-input>
					</div>
				</div>

				@if (qrForm.hasError('noStartDate')) {
					<p id="noStartDateError" [hidden]="!qrForm.hasError('noStartDate')" class="tw-text-red tw-mb-2">
						{{ 'QrCode.missingStartDate' | translate }}
					</p>
				}

				<!-- QR Code Expiration -->
				<div class="tw-mt-6 md:tw-mt-8 tw-flex tw-bg-white tw-rounded-[5px] tw-p-4 tw-flex-col tw-gap-2">
					<span
						class="tw-text-oebblack tw-text-lg tw-uppercase tw-font-semibold md:tw-leading-[28px] md:tw-text-[20px] tw-leading-[19px] tw-text-[14px]"
					>
						@if (!editing) {
							<span class="tw-font-normal tw-italic">Optional:</span>
						}
						{{ 'QrCode.expiration' | translate }}
					</span>
					<div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4">
						<oeb-input
							[noTopMargin]="true"
							labelStyle="tw-text-oebblack"
							[label]="'QrCode.expirationStart' | translate"
							[errorMessage]="{
								invalidDate: 'QrCode.invalidDate' | translate,
							}"
							[control]="qrForm.rawControlMap.valid_from"
							fieldType="date"
						></oeb-input>
						<oeb-input
							[noTopMargin]="true"
							labelStyle="tw-text-oebblack"
							[label]="'QrCode.expirationEnd' | translate"
							[errorMessage]="{
								expiresBeforeValidFrom: ('QrCode.invalidExpirationDateRange' | translate),
								invalidDate: ('QrCode.invalidDate' | translate),
							}"
							[control]="qrForm.rawControlMap.expires_at"
							fieldType="date"
						></oeb-input>
					</div>
				</div>

				<!-- Notifications Section -->
				@if (editing) {
					<span
						class="tw-mt-8 md:tw-mt-10 tw-text-oebblack tw-font-semibold md:tw-leading-[28px] md:tw-text-[20px] tw-leading-[19px] tw-text-[14px]"
					>
						{{ 'General.notification' | translate }}
					</span>
				}

				<oeb-checkbox
					[class]="
						editing ? 'oeb-standard-padding-bottom' : 'oeb-standard-padding-bottom md:tw-mt-10 tw-mt-6'
					"
					type="checkbox"
					[text]="'QrCode.receiveEmails' | translate"
					[control]="qrForm.rawControlMap.notifications"
				>
				</oeb-checkbox>

				<!-- Action Buttons -->
				@if (editing) {
					<div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4 tw-mt-2 tw-w-full">
						<oeb-button
							variant="secondary"
							width="full_width"
							type="button"
							(click)="previousPage()"
							[text]="'General.cancel' | translate"
						>
						</oeb-button>
						<oeb-button
							class="tw-whitespace-nowrap"
							width="full_width"
							type="submit"
							[text]="'General.saveChanges' | translate"
						>
						</oeb-button>
					</div>
				} @else {
					<oeb-button
						class="tw-whitespace-nowrap tw-mt-6"
						type="submit"
						[text]="'QrCode.buttonCreate' | translate"
						[loading-promises]="qrCodePromise"
						[disabled-when-requesting]="true"
					>
					</oeb-button>
				}
			</div>
		</div>
	</form>
</div>
