<div class="oeb">
	<div class="page-padding">
		<div class="oeb-breadcrumbs">
			<bg-breadcrumbs [linkentries]="breadcrumbLinkEntries"></bg-breadcrumbs>
		</div>
		<div class="oeb-section-sm">
			<div class="oeb-headline-container-sm">
				<h1 hlmH1 class="tw-text-purple tw-font-black">
					{{ 'Issuer.createBadge' | translate }}
				</h1>
			</div>
			<div class="tw-flex tw-flex-col tw-text-oebblack">
				<p hlmP class="tw-font-normal md:!tw-leading-[31.2px]">
					{{ 'CreateBadge.weHelpCreateBadge' | translate }}<br />
					<strong>{{ 'CreateBadge.letsGo' | translate }}</strong>
				</p>
			</div>

			<div class="section tw-text-oebblack tw-mt-6">
				<h2 hlmH2 class="tw-font-bold tw-mb-6">1. {{ 'CreateBadge.chooseCategory' | translate }}</h2>

				<div class="tw-flex tw-justify-evenly oeb-badgeclass-select-container tw-flex-col md:tw-flex-row">
					<a
						[routerLink]="['/issuer/issuers', issuerSlug, 'badges', 'create', 'participation']"
						[state]="{ issuer: issuer }"
						[attr.data-umami-event]="'create-participation-badge-1'"
					>
						<img src="../../../../breakdown/static/badgestudio/shapes/participation.svg" />
						<strong>{{ 'Badge.categories.participation' | translate }}</strong>
						<p [innerHTML]="'Badge.participationBadgeInfo' | translate"></p>
					</a>
					<a
						[routerLink]="['/issuer/issuers', issuerSlug, 'badges', 'create', 'competency']"
						[state]="{ issuer: issuer }"
						[attr.data-umami-event]="'create-competency-badge-1'"
					>
						<img src="../../../../breakdown/static/badgestudio/shapes/competency.svg" />
						<strong>{{ 'Badge.categories.competency' | translate }}</strong>
						<p [innerHTML]="'Badge.competencyBadgeInfo' | translate"></p>
					</a>
					@if (!issuer.is_network) {
						<a
							[routerLink]="['/issuer/issuers', issuerSlug, 'learningpaths', 'create']"
							[state]="{ issuer: issuer }"
							[attr.data-umami-event]="'create-micro-degree-1'"
						>
							<img src="../../../../breakdown/static/badgestudio/shapes/learningpath.svg" />

							<strong>{{ 'Badge.categories.learningpath' | translate }}</strong>
							<p [innerHTML]="'Badge.learningPathBadgeInfo' | translate"></p>
						</a>
					}
				</div>
			</div>
		</div>
	</div>
</div>
