<div class="oeb">
	<div class="page-padding">
		<div class="oeb-breadcrumbs">
			<bg-breadcrumbs [linkentries]="breadcrumbLinkEntries"></bg-breadcrumbs>
		</div>
		<div class="oeb-section-sm">
			<div class="oeb-headline-container-sm">
				<h1 hlmH1 class="tw-text-purple tw-font-black">
					{{ 'Issuer.createBadge' | translate }}
				</h1>
			</div>
			<div class="tw-flex tw-flex-col tw-text-oebblack">
				<p hlmP class="tw-font-normal md:!tw-leading-[31.2px]">
					{{ 'CreateBadge.weHelpCreateBadge' | translate }}<br />
					<strong>{{ 'CreateBadge.letsGo' | translate }}</strong>
				</p>
			</div>

			<ng-template [showLoader]="true" [bgAwaitPromises]="[issuerLoaded]">
				<div class="section tw-text-oebblack tw-mt-6">
					<h2 hlmH2 class="tw-font-bold tw-mb-6">1. {{ 'CreateBadge.chooseCategory' | translate }}</h2>

					<div class="tw-flex tw-justify-evenly oeb-badgeclass-select-container tw-flex-col md:tw-flex-row">
						<a
							(click)="checkQuotasDialog('BADGE_CREATE')"
							[routerLink]="
								issuer?.quotas?.quotas['BADGE_CREATE'].quota !== 0 || !issuer?.quotas
									? ['/issuer/issuers', issuerSlug, 'badges', 'create', 'participation']
									: null
							"
							[attr.data-umami-event]="'create-participation-badge-1'"
						>
							<div>
								<img src="breakdown/static/badgestudio/shapes/participation.svg" />
								<strong>{{ 'Badge.categories.participation' | translate }}</strong>
								<p [innerHTML]="'Badge.participationBadgeInfo' | translate"></p>
							</div>

							@if (issuer.quotas) {
								<quota-information
									quotas="BADGE_CREATE"
									class="tw-bg-white tw-text-center tw-italic tw-text-[14px] tw-mt-3 tw-text-oebblack tw-px-4 tw-py-2"
								/>
							}
						</a>
						<a
							(click)="checkQuotasDialog('BADGE_CREATE')"
							[routerLink]="
								issuer?.quotas?.quotas['BADGE_CREATE'].quota !== 0 || !issuer?.quotas
									? ['/issuer/issuers', issuerSlug, 'badges', 'create', 'competency']
									: null
							"
							[attr.data-umami-event]="'create-competency-badge-1'"
						>
							<div>
								<img src="breakdown/static/badgestudio/shapes/competency.svg" />
								<strong>{{ 'Badge.categories.competency' | translate }}</strong>
								<p [innerHTML]="'Badge.competencyBadgeInfo' | translate"></p>
							</div>
							@if (issuer.quotas) {
								<quota-information
									quotas="BADGE_CREATE"
									class="tw-bg-white tw-text-center tw-italic tw-text-[14px] tw-mt-3 tw-text-oebblack tw-px-4 tw-py-2"
								/>
							}
						</a>
						@if (canCreateLp) {
							<a
								(click)="checkQuotasDialog('LEARNINGPATH_CREATE')"
								[routerLink]="
									issuer?.quotas?.quotas['LEARNINGPATH_CREATE'].quota !== 0 || !issuer?.quotas
										? ['/issuer/issuers', issuerSlug, 'learningpaths', 'create']
										: null
								"
								[attr.data-umami-event]="'create-micro-degree-1'"
							>
								<div>
									<img src="breakdown/static/badgestudio/shapes/learningpath.svg" />
									<strong>{{ 'Badge.categories.learningpath' | translate }}</strong>
									<p [innerHTML]="'Badge.learningPathBadgeInfo' | translate"></p>
								</div>
								@if (issuer.quotas) {
									<quota-information
										quotas="LEARNINGPATH_CREATE"
										class="tw-bg-white tw-text-center tw-italic tw-text-[14px] tw-mt-3 tw-text-oebblack tw-px-4 tw-py-2"
									/>
								}
							</a>
						}
					</div>
				</div>
			</ng-template>
		</div>
	</div>
</div>
