<div class="oeb tw-relative tw-w-full">
	<div class="page-padding">
		<ng-template [bgAwaitPromises]="[issuerLoaded]">
			<div class="tw-mb-8 tw-pb-6 tw-border-b tw-border-solid tw-border-[var(--color-light4)]">
				<bg-breadcrumbs [linkentries]="crumbs"> </bg-breadcrumbs>
			</div>

			<header class="tw-relative">
				<div class="tw-flex tw-justify-between tw-gap-6 tw-items-center">
					<div class="tw-flex oeb-section-sm md:tw-max-w-[70%]">
						<hgroup class="tw-flex tw-flex-col tw-justify-center oeb-break-words">
							<h1 hlmH1 class="tw-text-purple md:tw-text-[35px] xl:tw-text-[46px] tw-font-black">
								{{ 'Quotas.QuotasMenuItem' | translate }}
							</h1>
						</hgroup>
					</div>

					<aside
						class="tw-w-auto tw-hidden md:tw-grid !tw-content-center tw-absolute tw-right-0 tw-top-[17.5%]"
					>
						<div class="tw-flex tw-flex-col tw-gap-2">
							@if (issuer.quotas.nextLevel) {
								<oeb-button
									width="full_width"
									class="tw-whitespace-nowrap"
									[text]="'Quotas.ButtonUpgrade' | translate"
									(click)="upgrade()"
								/>

								<a
									class="tw-text-right tw-text-link tw-underline tw-mt-6"
									[href]="this.translate.currentLang === 'de' ? '/page/produkte' : '/page/pricing'"
									tgarget="_blank"
									>{{ 'Quotas.FeatureListPlanComparison' | translate }}</a
								>
							}
						</div>
					</aside>
				</div>
			</header>
			<h2 class="tw-uppercase tw-text-oebblack tw-font-[900] tw-text-[30px]/[1.2em] tw-font-[rubik] tw-mt-5">
				{{ 'Quotas.page.activeQuota' | translate }} {{ issuer.name }}:
			</h2>
			<div class="tw-mt-5 tw-flex tw-flex-col md:tw-flex-row md:tw-items-center tw-gap-2 md:tw-gap-8 tw-mb-8">
				<div class="tw-flex tw-items-center tw-gap-4">
					<img [src]="`/assets/oeb/images/quotas/logo_${issuer.quotas.key.toLowerCase()}.svg`" width="100" />
					<div>
						<p class="tw-text-oebblack tw-font-bold tw-text-[30px]/[1.2em] tw-font-[rubik] tw-mb-2">
							{{ issuer.quotas.name }}
							@if (isCustom()) {
								<span>(Individuelle Konditionen*)</span>
							}
						</p>
						<p class="tw-text-purple tw-text-[18px]/[1.2em]">
							{{ 'Quotas.page.active' | translate }}
						</p>
					</div>
				</div>
				@if (issuer.quotas.key !== 'NETWORK' && issuer.quotas.quotas['NETWORK_CREATE'].quota) {
					<div class="tw-ml-5 md:tw-ml-0">
						<ng-icon size="54px" hlm name="lucidePlus" class="tw-text-oebblack" />
					</div>
					<div class="tw-flex tw-items-center tw-gap-4">
						<img [src]="`/assets/oeb/images/quotas/logo_network.svg`" width="100" />
						<div>
							<p class="tw-text-oebblack tw-font-bold tw-text-[30px]/[1.2em] tw-font-[rubik] tw-mb-2">
								{{ 'General.network' | translate }}
							</p>
							<p>
								<a
									class="tw-text-link tw-underline"
									[routerLink]="['/issuer/issuers']"
									[queryParams]="{ tab: 'networks' }"
									>&gt; {{ 'Quotas.page.toNetwork' | translate }}</a
								>
							</p>
						</div>
					</div>
				}
			</div>

			<section class="tw-mb-10">
				<h3 class="tw-text-[22px]/[1.2em] tw-font-semibold tw-text-oebblack tw-mb-6">
					{{ 'Quotas.page.usage' | translate }}
				</h3>
				<p class="tw-text-[18px]/[1.2em] tw-text-oebblack tw-mb-2 tw-flex tw-gap-2">
					<strong>{{ 'Quotas.page.label_BADGE_CREATE' | translate }}</strong
					><span>
						<span [class]="quotaWarning(issuer.quotas.quotas['BADGE_CREATE']) ? 'tw-text-red' : ''">
							<span>{{ issuer.quotas.quotas['BADGE_CREATE'].used }}</span>
							@if (issuer.quotas.quotas['BADGE_CREATE'].max >= 0) {
								<span>/{{ issuer.quotas.quotas['BADGE_CREATE'].max }}</span>
							}
						</span>
						@if (issuer.quotas.quotas['BADGE_CREATE'].custom) {
							<span>*</span>
						}
					</span>
				</p>
				<p class="tw-text-[18px]/[1.2em] tw-text-oebblack tw-mb-2 tw-flex tw-gap-2">
					<strong>{{ 'Quotas.page.label_LEARNINGPATH_CREATE' | translate }}</strong
					><span>
						<span [class]="quotaWarning(issuer.quotas.quotas['LEARNINGPATH_CREATE']) ? 'tw-text-red' : ''">
							<span>{{ issuer.quotas.quotas['LEARNINGPATH_CREATE'].used }}</span>
							@if (issuer.quotas.quotas['LEARNINGPATH_CREATE'].max >= 0) {
								<span>/{{ issuer.quotas.quotas['LEARNINGPATH_CREATE'].max }}</span>
							}
						</span>
						@if (issuer.quotas.quotas['LEARNINGPATH_CREATE'].custom) {
							<span>*</span>
						}
					</span>
				</p>
				<p class="tw-text-[18px]/[1.2em] tw-text-oebblack tw-flex tw-gap-2 tw-mb-6">
					<strong>{{ 'Quotas.page.label_BADGE_AWARD' | translate }}</strong
					><span>
						<span [class]="quotaWarning(issuer.quotas.quotas['BADGE_AWARD']) ? 'tw-text-red' : ''">
							<span>{{ issuer.quotas.quotas['BADGE_AWARD'].used }}</span>
							@if (issuer.quotas.quotas['BADGE_AWARD'].max >= 0) {
								<span>/{{ issuer.quotas.quotas['BADGE_AWARD'].max }}</span>
							}
						</span>
						@if (issuer.quotas.quotas['BADGE_AWARD'].custom) {
							<span>*</span>
						}
						<span> ({{ 'Quotas.page.label_BADGE_AWARD_include_MD' | translate }})</span>
					</span>
				</p>
				@if (!issuer.is_network) {
					<p class="tw-text-[18px]/[1.2em] tw-text-oebblack tw-mb-2 tw-flex tw-gap-2">
						<strong>{{ 'Quotas.page.label_ACCOUNTS_ADMIN' | translate }}</strong
						><span>
							<span [class]="quotaWarning(issuer.quotas.quotas['ACCOUNTS_ADMIN']) ? 'tw-text-red' : ''">
								<span>{{ issuer.quotas.quotas['ACCOUNTS_ADMIN'].used }}</span>
								@if (issuer.quotas.quotas['ACCOUNTS_ADMIN'].max >= 0) {
									<span>/{{ issuer.quotas.quotas['ACCOUNTS_ADMIN'].max }}</span>
								}
							</span>
							@if (issuer.quotas.quotas['ACCOUNTS_ADMIN'].custom) {
								<span>*</span>
							}
						</span>
					</p>
				}
				<p class="tw-text-[18px]/[1.2em] tw-text-oebblack tw-mb-2 tw-flex tw-gap-2 tw-mb-6">
					<strong>{{ 'Quotas.page.label_ACCOUNTS_MEMBER' | translate }}</strong
					><span>
						<span [class]="quotaWarning(issuer.quotas.quotas['ACCOUNTS_MEMBER']) ? 'tw-text-red' : ''">
							<span>{{ issuer.quotas.quotas['ACCOUNTS_MEMBER'].used }}</span>
							@if (issuer.quotas.quotas['ACCOUNTS_MEMBER'].max >= 0) {
								<span>/{{ issuer.quotas.quotas['ACCOUNTS_MEMBER'].max }}</span>
							}
						</span>
						@if (issuer.quotas.quotas['ACCOUNTS_MEMBER'].custom) {
							<span>*</span>
						}
					</span>
				</p>
				<p class="tw-text-[18px]/[1.2em] tw-text-oebblack tw-mb-2 tw-flex tw-gap-2">
					<strong>{{ 'Quotas.page.label_AISKILLS_REQUESTS' | translate }}</strong
					><span>
						<span [class]="quotaWarning(issuer.quotas.quotas['AISKILLS_REQUESTS']) ? 'tw-text-red' : ''"
							><span>{{ issuer.quotas.quotas['AISKILLS_REQUESTS'].used }}</span>
							@if (issuer.quotas.quotas['AISKILLS_REQUESTS'].max >= 0) {
								<span>/{{ issuer.quotas.quotas['AISKILLS_REQUESTS'].max }}</span>
							}
						</span>
						@if (issuer.quotas.quotas['AISKILLS_REQUESTS'].custom) {
							<span>*</span>
						}
						<span> ({{ 'General.monthly' | translate }})</span>
					</span>
				</p>
			</section>
			<section class="tw-mb-10">
				<h3 class="tw-text-[22px]/[1.2em] tw-font-semibold tw-text-oebblack tw-mb-6">
					{{ 'Quotas.page.includedFeatures' | translate }}
				</h3>
				<ul class="tw-text-[18px]/[1.2em] tw-flex tw-flex-col tw-gap-2">
					<li class="tw-flex tw-items-center tw-gap-2">
						<ng-icon size="24px" hlm [name]="issuer.quotas.key !== 'FREE' ? 'lucideCheck' : 'lucideX'" />
						{{ 'Quotas.page.featureSupportEmail' | translate }}
					</li>
					<li class="tw-flex tw-items-center tw-gap-2">
						<ng-icon
							size="24px"
							hlm
							[name]="
								issuer.quotas.key !== 'FREE' && issuer.quotas.key !== 'PRO' ? 'lucideCheck' : 'lucideX'
							"
						/>
						{{ 'Quotas.page.featureSupportPhone' | translate }}
					</li>
					<li class="tw-flex tw-items-center tw-gap-2">
						<ng-icon
							size="24px"
							hlm
							[name]="issuer.quotas.quotas['PDFEDITOR'].quota ? 'lucideCheck' : 'lucideX'"
						/>
						{{ 'Quotas.page.featurePdfEditor' | translate }}
					</li>
					<li class="tw-flex tw-items-center tw-gap-2">
						<ng-icon
							size="24px"
							hlm
							[name]="issuer.quotas.quotas['DASHBOARD'].quota ? 'lucideCheck' : 'lucideX'"
						/>
						{{ 'Quotas.page.featureDashboardInstitution' | translate }}
					</li>
					<li class="tw-flex tw-items-center tw-gap-2">
						<ng-icon
							size="24px"
							hlm
							[name]="issuer.quotas.quotas['NETWORK_CREATE'].quota ? 'lucideCheck' : 'lucideX'"
						/>
						{{ 'Quotas.page.featureCreateNetwork' | translate }}
					</li>
					<li class="tw-flex tw-items-center tw-gap-2">
						<ng-icon
							size="24px"
							hlm
							[name]="
								issuer.quotas.key === 'NETWORK' || issuer.quotas.quotas['NETWORK_CREATE'].quota
									? 'lucideCheck'
									: 'lucideX'
							"
						/>
						{{ 'Quotas.page.featureDashboardNetwork' | translate }}
					</li>
				</ul>
			</section>
			<section class="tw-mb-10">
				<h3 class="tw-text-[22px]/[1.2em] tw-font-semibold tw-text-oebblack tw-mb-6">
					{{ 'Quotas.page.contract' | translate }}
				</h3>
				@if (issuer.quotas.key === 'FREE') {
					<p class="tw-text-[18px]/[1.2em] tw-text-oebblack tw-mb-2 tw-flex tw-gap-2">
						<strong>{{ 'Quotas.page.renewalFree' | translate }}</strong>
						<span><time [date]="issuer.quotas.nextPayment" format="dd.MM.y"></time></span>
					</p>
					<p class="tw-text-[18px]/[1.2em] tw-text-purple">
						{{ 'Quotas.page.renewalFree2' | translate: { quota: issuer.quotas.name } }}
					</p>
				} @else if (issuer.quotas.key === 'NETWORK') {
					<p class="tw-text-[18px]/[1.2em] tw-text-oebblack tw-mb-2 tw-flex tw-gap-2">
						<strong>{{ 'Quotas.page.renewalNetwork' | translate }}</strong>
						<span><time [date]="issuer.quotas.nextPayment" format="dd.MM.y"></time></span>
					</p>
					<p class="tw-text-[18px]/[1.2em] tw-text-purple">
						{{ 'Quotas.page.renewalNetwork2' | translate: { quota: issuer.quotas.name } }}
					</p>
				} @else {
					<p class="tw-text-[18px]/[1.2em] tw-text-oebblack tw-mb-2 tw-flex tw-gap-2">
						<strong>{{ 'Quotas.page.contractType' | translate }}</strong>
						<span>{{ 'Quotas.page.contractTypeYear' | translate }}</span>
					</p>
					<p class="tw-text-[18px]/[1.2em] tw-text-oebblack tw-mb-2 tw-flex tw-gap-2">
						<strong>{{ 'Quotas.page.contractStart' | translate }}</strong>
						<span><time [date]="issuer.quotas.periodStart" format="dd.MM.y"></time></span>
					</p>
					<p class="tw-text-[18px]/[1.2em] tw-text-oebblack tw-mb-2 tw-flex tw-gap-2">
						<strong>{{ 'Quotas.page.renewal' | translate }}</strong>
						<span>
							<time [date]="issuer.quotas.nextPayment" format="dd.MM.y"></time>
						</span>
					</p>
					<p class="tw-text-[18px]/[1.2em] tw-text-oebblack tw-max-w-[750px] tw-mb-2">
						<span>{{ 'Quotas.page.renewal2' | translate }}</span>
						@if (email()) {
							<span>
								({{ 'General.via' | translate }}
								<a class="tw-text-link tw-underline" [href]="`mailto:${email()}`">{{ email() }}</a
								>)</span
							>
						}
						<span>.</span>
						<br />
						<span>{{ 'Quotas.page.renewal3' | translate }}</span>
					</p>
				}
			</section>
		</ng-template>
	</div>
</div>
