<form-message></form-message>

<div class="oeb tw-w-full tw-relative">
	<div class="page-padding">
		<div class="tw-pt-[4rem] md:tw-flex tw-justify-between md:tw-gap-16">
			<div class="oeb-standard-padding-bottom">
				<h1 hlmH1 class="tw-text-purple oeb-standard-padding-bottom tw-font-black">
					{{ 'NavItems.myInstitutions' | translate }}
				</h1>
				<oeb-tabs
					(onTabChanged)="onTabChange($event)"
					[activeTab]="activeTab"
					[tabs]="tabs"
					[variant]="'black'"
				></oeb-tabs>
			</div>
			<div class="tw-border-purple tw-border tw-rounded-[20px] md:tw-text-right tw-text-center tw-max-w-[600px]">
				@if (issuers?.length > 0 && activeTab === 'issuers') {
					<oeb-button
						class="md:tw-whitespace-nowrap"
						variant="secondary"
						[routerLink]="['/issuer/create']"
						[disabled-when-requesting]="true"
						[text]="'Issuer.createInstitution' | translate"
					></oeb-button>
				} @else if (networks()?.length && activeTab === 'networks') {
					<oeb-button
						class="md:tw-whitespace-nowrap"
						variant="secondary"
						[routerLink]="['/issuer/networks/create']"
						[disabled-when-requesting]="true"
						[text]="'Network.create' | translate"
					></oeb-button>
				}
				<div class="md:tw-block tw-hidden tw-mt-8 tw-max-w-[400px]">
					<!-- Plugin box for desktop when issuers.length == 0 -->
					<ng-container
						*ngTemplateOutlet="pluginBoxTemplate; context: { mobile: false, showWhenEmpty: true }"
					></ng-container>

					@if (activeTab === 'issuers') {
						<div class="tw-flex tw-items-center tw-gap-2 tw-mt-2">
							<ng-icon hlm class="tw-text-purple tw-min-w-10" size="lg" name="lucideInfo" />
							<p class="tw-text-oebblack tw-text-left">
								<span [innerHTML]="'Issuer.rolesAndRightsInfo1' | translate"> </span>
								<oeb-button
									size="smallText"
									variant="link"
									[text]="'Issuer.rolesAndRightsInfo2' | translate"
									(click)="openIssuerInfoDialog()"
								></oeb-button>
								<ng-template #headerTemplate>
									<h1 class="tw-font-bold tw-text-purple tw-text-3xl tw-mb-8">
										{{ 'Issuer.rolesAndRights' | translate }}
									</h1>
								</ng-template>
								<ng-template #issuerInfoTemplate>
									<section class="tw-mb-2">
										<h3
											class="tw-text-lg tw-text-oebblack tw-font-semibold"
											[innerHTML]="'Issuer.addMember_owner' | translate"
										></h3>
										<p
											class="tw-text-oebblack tw-text-lg"
											[innerHTML]="'Issuer.addMember_ownerText' | translate"
										></p>
									</section>
									<section class="tw-mb-2">
										<h3
											class="tw-text-lg tw-text-oebblack tw-font-semibold"
											[innerHTML]="'Issuer.addMember_editor' | translate"
										></h3>
										<p
											class="tw-text-oebblack tw-text-lg"
											[innerHTML]="'Issuer.addMember_editorText' | translate"
										></p>
									</section>
									<section class="tw-mb-2">
										<h3
											class="tw-text-lg tw-text-oebblack tw-font-semibold"
											[innerHTML]="'Issuer.addMember_staff' | translate"
										></h3>
										<p
											class="tw-text-oebblack tw-text-lg"
											[innerHTML]="'Issuer.addMember_staffText' | translate"
										></p>
									</section>
								</ng-template>
								<span [innerHTML]="'Issuer.rolesAndRightsInfo3' | translate"> </span>
							</p>
						</div>
					}
					<div class="tw-rounded-[20px] tw-text-oebblack tw-relative tw-flex tw-flex-row tw-items-center">
						<img
							class="tw-inline-block tw-h-[90px]"
							alt="Beta Logo"
							src="assets/oeb/images/issuerPage/oeb-beta-logo.svg"
						/>
						<div class="tw-flex md:tw-block tw-pb-4">
							<p
								class="tw-pt-4 tw-text-left tw-pl-4 md:tw-pl-0"
								[innerHTML]="'Issuer.betaPhase' | translate"
							></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tw-block md:tw-hidden tw-mt-8 tw-max-w-[600px]">
			@if (activeTab === 'issuers') {
				<div class="tw-flex tw-items-center tw-gap-2 tw-mt-2">
					<ng-icon hlm class="tw-text-purple tw-min-w-10" size="lg" name="lucideInfo" />
					<p class="tw-text-oebblack tw-text-left">
						<span [innerHTML]="'Issuer.rolesAndRightsInfo1' | translate"> </span>
						<oeb-button
							size="smallText"
							variant="link"
							[text]="'Issuer.rolesAndRightsInfo2' | translate"
							(click)="openIssuerInfoDialog()"
						></oeb-button>
						<span [innerHTML]="'Issuer.rolesAndRightsInfo3' | translate"> </span>
					</p>
				</div>
			}
			<ng-container
				*ngTemplateOutlet="pluginBoxTemplate; context: { mobile: true, showWhenEmpty: true }"
			></ng-container>
			<div class="tw-rounded-[10px] tw-text-oebblack tw-relative tw-flex tw-flex-row tw-items-center">
				<img
					class="tw-inline-block tw-h-[90px]"
					alt="Plugin"
					src="assets/oeb/images/issuerPage/oeb-beta-logo.svg"
				/>
				<div class="tw-flex md:tw-block tw-pb-4">
					<p class="tw-pt-4 tw-text-left tw-pl-4 md:tw-pl-0" [innerHTML]="'Issuer.betaPhase' | translate"></p>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #pluginBoxTemplate let-showWhenEmpty="showWhenEmpty" let-mobile="mobile">
	@if ((issuers?.length === 0 && showWhenEmpty) || (issuers?.length > 0 && !showWhenEmpty)) {
		<div
			#pluginBox
			class="md:tw-flex-[0_0_363px] md:tw-mt-0 tw-mt-6"
			[class.md:tw-w-[400px]]="mobile === false && showWhenEmpty"
		>
			<div>
				<div class="tw-bg-lightgreen tw-p-6 tw-rounded-[10px] tw-text-center tw-text-oebblack tw-relative">
					<ng-icon
						hlm
						(click)="pluginBoxElement.nativeElement.remove()"
						class="tw-w-4 tw-h-4 tw-ml-2 tw-cursor-pointer tw-inline-block tw-absolute tw-top-2 tw-right-2"
						name="lucideX"
					/>
					<div class="tw-flex md:tw-block tw-pb-4">
						<img class="tw-inline-block" alt="Plugin" src="assets/oeb/images/issuerPage/plugin.svg" />
						<p
							class="tw-pt-4 tw-text-lg tw-text-left tw-pl-4 md:tw-pl-0 md:tw-text-center"
							[innerHTML]="'Issuer.askForPluginText' | translate"
						></p>
					</div>
					<a
						href="mailto:hallo@openbadges.education?subject=Interesse an Plugin!"
						class="!tw-font-medium tw-text-link tw-underline tw-text-lg"
					>
						{{ 'Issuer.askForPlugin' | translate }}
					</a>
				</div>
			</div>
		</div>
	}
</ng-template>

<ng-template #issuersTemplate>
	<p class="tw-pb-4 tw-mt-10 tw-text-oebblack tw-text-lg tw-leading-[130%] tw-max-w-[600px]">
		<span [innerHTML]="'Issuer.myInstitutionsText' | translate"></span>
		<span [innerHTML]="'Issuer.copyBadgesOfOtherIssuers' | translate"></span>
	</p>

	<p
		class="tw-pb-3 tw-text-oebblack tw-text-lg tw-leading-[130%]"
		[innerHTML]="'Issuer.myLearningPathText' | translate"
	></p>
	@if (issuers?.length === 0) {
		<section class="tw-flex tw-flex-col tw-gap-2 tw-mt-2">
			<span
				[innerHTML]="'Issuer.createFirstInstitution' | translate"
				class="tw-text-lg tw-italic tw-text-oebblack"
			>
			</span>
			<oeb-button
				class="md:tw-whitespace-nowrap tw-w-fit"
				[routerLink]="['/issuer/create']"
				[disabled-when-requesting]="true"
				[text]="'Issuer.createInstitutionNow' | translate"
			>
			</oeb-button>
		</section>
	}
	<div class="md:tw-flex">
		<div class="tw-grid tw-grid-cols-myIssuersMobile sm:tw-grid-cols-myIssuers tw-gap-6 tw-w-full tw-relative">
			@for (issuer of issuers; track issuer) {
				<div
					class="tw-grow tw-border-purple tw-border tw-border-solid tw-justify-between tw-flex tw-flex-col tw-rounded-[10px] tw-py-8 tw-px-6"
				>
					<div class="tw-flex">
						<div class="tw-relative">
							<img
								[loaded-src]="issuer?.image"
								[loading-src]="issuerPlaceholderSrc"
								[error-src]="issuerPlaceholderSrc"
								alt="{{ issuer.name }} avatar"
								class="tw-h-[70px] md:tw-h-[100px] tw-w-auto tw-min-w-[70px] md:tw-min-w-[100px] tw-aspect-square"
							/>
						</div>
						<div class="tw-flex tw-flex-col tw-justify-center tw-pl-4 oeb-break-words">
							<a
								class="md:tw-text-[30px] md:tw-leading-[36px] tw-text-[20px] tw-leading-[24px] tw-text-purple tw-font-semibold"
								(click)="openLinkedInHintDialog(issuer)"
								[routerLink]="['/issuer/issuers/', issuer.slug]"
								>{{ issuer.name }}</a
							>
							<p
								class="tw-text-oebblack tw-pb-2 tw-mt-2 tw-font-semibold md:tw-text-[20px] md:tw-leading-[24.4px] tw-text-[14px] tw-leading-[19.6px]"
							>
								{{ 'Issuer.yourRole' | translate }}
								{{ issuer.currentUserStaffMember?.roleInfo.label | translate }}
							</p>
						</div>
					</div>
					<div class="tw-pt-4 tw-pb-6">
						<p [class.tw-line-clamp-3]="issuer.badgeClassCount" class="tw-text-oebblack tw-break-words">
							{{ issuer.description }}
						</p>
					</div>
					@if (!issuer.badgeClassCount) {
						<oeb-button
							[id]="'create-new-badge-btn-1'"
							[class.disabled]="!issuer.canCreateBadge"
							class="tw-whitespace-nowrap"
							(click)="openLinkedInHintDialog(issuer)"
							[routerLink]="['/issuer/issuers/', issuer.slug, 'badges', 'select']"
							[disabled]="!issuer.currentUserStaffMember"
							[text]="'Issuer.createBadge' | translate"
							width="full_width"
							size="mediumText"
							[umamiEvent]="'create-badge'"
						>
						</oeb-button>
					}
					@if (issuer.badgeClassCount) {
						<div>
							<oeb-button
								class="tw-whitespace-nowrap tw-flex-grow"
								(click)="openLinkedInHintDialog(issuer)"
								[routerLink]="['/issuer/issuers/', issuer.slug]"
								[text]="'Issuer.giveBadge' | translate"
								width="full_width"
								size="mediumText"
							>
							</oeb-button>
							<div class="tw-flex tw-gap-2 tw-flex-wrap tw-justify-between tw-pt-2">
								<oeb-button
									[id]="'create-new-badge-btn-2'"
									[class.disabled]="!issuer.canCreateBadge"
									class="tw-whitespace-nowrap tw-flex-grow"
									[routerLink]="['/issuer/issuers/', issuer.slug, 'badges', 'select']"
									[disabled]="!issuer.currentUserStaffMember"
									[text]="'Issuer.createBadge' | translate"
									variant="secondary"
									width="full_width"
									size="mediumText"
									[umamiEvent]="'create-badge'"
								>
								</oeb-button>
							</div>
						</div>
					}
				</div>
			}
			<ng-container
				*ngTemplateOutlet="pluginBoxTemplate; context: { mobile: false, showWhenEmpty: false }"
			></ng-container>
		</div>
	</div>

	<!-- Staff Requests section -->

	<section class="tw-flex tw-flex-col tw-gap-2 tw-mt-6">
		<p class="tw-text-lg tw-italic tw-text-oebblack">
			{{ 'Issuer.partOfInstitution' | translate }}
		</p>
		@if (staffRequests.length > 0) {
			<section class="tw-bg-lightpurple tw-p-4 tw-w-full tw-max-w-[600px] tw-rounded-[10px]">
				<h2
					[innerHTML]="'Issuer.yourOpenStaffRequests' | translate"
					class="tw-text-2xl tw-text-purple tw-font-bold"
				></h2>
				<ul class="tw-list-disc tw-list-inside">
					@for (request of staffRequests; track request) {
						<li>
							<span class="tw-text-lg tw-text-oebblack">{{ request.issuer.name }}</span>
							<span
								(click)="revokeStaffRequest(request.entity_id)"
								[innerHTML]="'General.revoke' | translate"
								class="tw-text-link tw-underline tw-text-lg tw-ml-2 tw-cursor-pointer"
							></span>
						</li>
					}
				</ul>
			</section>
		}
		<div class="tw-flex tw-gap-4 tw-items-center tw-mt-2">
			<div class="tw-relative tw-w-full tw-max-w-[600px]">
				@if (selectedIssuer) {
					<img
						[src]="selectedIssuer.image"
						width="24"
						height="24"
						class="tw-absolute tw-left-2 tw-top-1/2 tw-transform -tw-translate-y-1/2 tw-rounded-full"
					/>
				}
				<input
					#issuerSearchInput
					#issuerSearchInputModel="ngModel"
					class="tw-bg-white tw-border tw-border-solid tw-border-[var(--color-purple)] tw-rounded-md tw-shadow-sm tw-p-2 tw-pr-10 tw-resize-none tw-text-sm tw-text-gray-700 tw-w-full"
					[ngClass]="selectedIssuer ? 'tw-pl-10' : ''"
					[(ngModel)]="issuerSearchQuery"
					[ngModelOptions]="{ standalone: true }"
					[placeholder]="'Issuer.searchIssuer' | translate"
					(focus)="issuersShowResults = true"
					(focusout)="issuerSearchInputFocusOut()"
					(keydown.enter)="$event.preventDefault()"
				/>
				<ng-icon
					hlm
					size="lg"
					class="tw-absolute tw-top-[3px] tw-right-1 tw-w-6 tw-h-6 tw-pointer-events-none tw-text-purple"
					name="lucideSearch"
				/>
				@if (issuersShowResults && (issuersLoading || issuerSearchResults.length || issuerSearchLoaded)) {
					<div
						class="tw-absolute tw-mt-1 tw-z-10 tw-bg-white tw-rounded-md tw-shadow-sm tw-border tw-border-solid tw-border-gray-700 tw-w-full tw-overflow-auto"
						[ngStyle]="{
							'max-height.px': calculateDropdownMaxHeight(issuerSearchInput, 100),
							'bottom.px': calculateDropdownBottom(issuerSearchInput, 100),
						}"
					>
						<ul>
							@if (issuersLoading) {
								<li class="tw-p-2 tw-cursor-default">Loading...</li>
							}
							@for (issuer of issuerSearchResults; track issuer) {
								<li
									class="tw-p-2 hover:tw-bg-[var(--color-lightpurple)] tw-cursor-pointer tw-flex tw-items-center tw-gap-2"
									(click)="selectIssuerFromDropdown(issuer)"
								>
									<img [src]="issuer.image" width="24" class="tw-aspect-square" />
									<span>{{ issuer.name }}</span>
								</li>
							}
							@if (issuerSearchResults.length === 0) {
								<li class="tw-p-2 tw-text-gray-500 tw-cursor-default">Keine Ergebnisse</li>
							}
						</ul>
					</div>
				}
			</div>
		</div>
		<oeb-button
			class="tw-max-w-[600px]"
			width="full_width"
			[disabled]="!selectedIssuer"
			[text]="'Issuer.requestMembership' | translate"
			(click)="openRequestStaffMembershipDialog()"
		></oeb-button>
		<ng-template #headerQuestionMarkTemplate>
			<div class="tw-justify-center tw-flex">
				<img src="assets/oeb/images/issuerPage/questionmark.svg" width="121" height="121" />
			</div>
		</ng-template>
		<ng-template #requestStaffMembershipTemplate let-issuername="issuername">
			<p>
				<span class="tw-text-oebblack tw-text-lg" [innerHTML]="'Issuer.requestMembershipQuestion' | translate">
				</span>
				<span class="tw-text-oebblack tw-text-lg tw-font-bold">
					{{ issuername }}
				</span>
				<span class="tw-text-oebblack tw-text-lg" [innerHTML]="('General.place' | translate) + '?'"></span>
			</p>
			<div class="tw-w-full tw-justify-between tw-flex tw-mt-4">
				<oeb-button
					type="button"
					size="md"
					variant="secondary"
					(click)="closeDialog()"
					[text]="'General.cancel' | translate"
				>
				</oeb-button>
				<oeb-button (click)="requestMembership()" size="md" [text]="'Issuer.requestMembership' | translate">
				</oeb-button>
			</div>
		</ng-template>
		<ng-template #successfullyRequestedMembershipContentTemplate>
			<div class="tw-flex tw-justify-center">
				<div class="oeb-icon-circle tw-my-6">
					<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
						<circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
						<path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
					</svg>
				</div>
			</div>
		</ng-template>
	</section>
</ng-template>

<ng-template #networksTemplate>
	<network-list [networks]="networks()" />
</ng-template>

<ng-template #linkedInIdDialogHeader>
	<h3 hlmH3 class="oeb tw-text-purple tw-uppercase tw-font-bold tw-pb-6">
		{{ 'Issuer.addLinkedInId' | translate }}
	</h3>
</ng-template>
<ng-template #linkedInIdDialogBody let-slug="slug" let-forwardTo="forwardTo">
	<p hlmP [size]="'sm'" class="oeb tw-pb-4">
		{{ 'Issuer.linkedInUseNoteText' | translate }}
	</p>
	<p hlmP [size]="'sm'" class="oeb tw-font-semibold tw-pb-1">
		{{ 'Issuer.findLinkedInId' | translate }}
	</p>
	<p
		hlmP
		[size]="'sm'"
		[innerHTML]="'Issuer.findLinkedInIdText' | translate"
		class="oeb tw-italic tw-text-purple tw-pb-8"
	></p>
	<div class="tw-flex tw-flex-row tw-pb-8 tw-gap-4">
		<oeb-button
			[size]="'sm'"
			[variant]="'secondary'"
			[text]="'General.notNow' | translate"
			(click)="closeDialog()"
			[routerLink]="forwardTo"
		/>
		<oeb-button
			[size]="'sm'"
			[text]="'Issuer.addLinkedInId' | translate"
			(click)="closeDialog()"
			[routerLink]="['/issuer/issuers', slug, 'edit']"
		/>
	</div>
	<p hlmP [size]="'sm'" class="oeb tw-italic">
		{{ 'Issuer.findLinkedInIdNote' | translate }}
	</p>
</ng-template>
