<ng-container *bgAwaitPromises="[issuerLoaded, badgeClassLoaded]">
	<form-message></form-message>
	<div class="oeb">
		<div class="page-padding">
			<div class="oeb-breadcrumbs">
				<bg-breadcrumbs [linkentries]="breadcrumbLinkEntries"></bg-breadcrumbs>
			</div>
			<form [formGroup]="issueForm.rawControl" (ngSubmit)="onSubmit()" novalidate>
				<div class="tw-mt-14">
					<div class="oeb-headline-container-sm">
						<h1 class="tw-flex tw-flex-col tw-gap-2" hlmH1>
							<span class="tw-text-oebblack">{{ badgeClass.name }}</span>
							<span class="tw-text-purple tw-font-black">
								{{ 'Issuer.issueByEmail' | translate }}
							</span>
						</h1>
					</div>
					<div class="tw-flex tw-flex-wrap tw-gap-6 oeb-standard-padding-bottom">
						<div
							class="tw-w-[300px] tw-text-center tw-h-[300px]"
						>
							<div
								class="tw-px-6 tw-py-4 tw-border-purple tw-border-solid tw-border tw-rounded-[15px] tw-h-full tw-mb-1 tw-flex"
							>
								<img
									class="badge-image badgeimage-center tw-self-center"
									[loaded-src]="previewB64Img"
									[loading-src]="badgeLoadingImageUrl"
									[error-src]="badgeFailedImageUrl"
								/>
							</div>
							<p size="sm" hlmP>{{ 'Issuer.badgePreview' | translate }}</p>
						</div>
						<div class="tw-w-[300px] tw-text-center tw-h-[300px]"
							[hidden]="pdfTemplateSelected()"
						>
							<div
								class="tw-px-6 tw-py-4 tw-border-purple tw-border-solid tw-border tw-rounded-[15px] tw-relative tw-h-full tw-mb-1 tw-overflow-hidden tw-flex"
							>
								<img
									class="tw-inline-block tw-absolute tw-right-0 tw-left-0 tw-m-auto tw-top-0 tw-z-0 tw-h-full"
									alt="Certificate Preview"
									src="assets/oeb/images/issuerPage/certificate_preview.svg"
								/>

								<img
									class="badge-image badgeimage-center tw-z-10 tw-relative tw-w-[35%] tw-mb-[15%] tw-self-center"
									[loaded-src]="previewB64Img"
									[loading-src]="badgeLoadingImageUrl"
									[error-src]="badgeFailedImageUrl"
								/>
							</div>
							<p size="sm" hlmP [innerHTML]="'Issuer.certPreview' | translate"></p>
						</div>

						<div class="tw-w-[300px] tw-text-center tw-h-[300px]"
							[hidden]="!pdfTemplateSelected()"
						>
							<div
								class="tw-px-6 tw-py-4 tw-border-purple tw-border-solid tw-border tw-rounded-[15px] tw-relative tw-h-full tw-mb-1 tw-overflow-hidden tw-flex tw-justify-center l-flex-aligncenter"
							>
								<canvas id="previewCanvas"></canvas>
							</div>
							<p size="sm" hlmP [innerHTML]="'Issuer.certPreview' | translate"></p>
						</div>
					</div>
				</div>

				<div class="tw-mt-10 tw-mb-10 tw-flex tw-flex-wrap tw-gap-6 tw-items-end">
					<oeb-select
						class="tw-block tw-flex-grow"
						[options]="selectPDFTemplateOptions"
						[control]="issueForm.rawControlMap.pdftemplate"
						[noTopMargin]="true"
						label="{{ 'PDFTemplate.backgroundLabel' | translate }}"
					></oeb-select>

					@if(issuer.currentUserStaffMember.canEditBadge) {
						<oeb-button
							[id]="'create-new-pdftemplate-btn'"
							[class.disabled]="!issuer.canCreateBadge"
							class="tw-whitespace-nowrap tw-flex-grow"
							[routerLink]="['/issuer/issuers', issuer.slug]"
							fragment="pdf-templates"
							[disabled]="!issuer.currentUserStaffMember"
							[text]="'PDFTemplate.createCustomPDFTemplate' | translate"
							width="full_width"
							size="sm"
							variant="secondary"
							weight="normal"
							icon="lucidePlus"
							iconSize="sm"
							[iconLeft]="true"
							[umamiEvent]="'create-pdftemplate'"
						>
						</oeb-button>
					}
				</div>

				<div class="tw-border-purple tw-border-solid tw-border tw-p-6 tw-rounded-[15px] tw-my-6">
					<span hlmP [innerHTML]="'Issuer.batchAwardText1' | translate"></span>&nbsp;
					<a
						hlmP
						class="tw-underline !tw-text-link hover:!tw-text-buttonhover tw-cursor-pointer"
						[routerLink]="['/issuer/issuers', issuerSlug, 'badges', badgeSlug, 'bulk-import']"
						>{{ 'Issuer.batchAwardTextLink' | translate }}</a
					>&nbsp;
					<span hlmP [innerHTML]="'Issuer.batchAwardText2' | translate"></span>
					<div class="md:tw-mt-7 tw-mt-6">
						<oeb-input
							[label]="'Issuer.awardedPerson' | translate"
							fieldType="text"
							[autofocus]="true"
							[control]="issueForm.rawControlMap.recipientprofile_name"
							[noTopMargin]="true"
							#nameField
						></oeb-input>
						<p class="tw-text-purple tw-italic tw-mt-2 tw-text-sm">
							{{ 'Issuer.infoNamePlainText' | translate }}
						</p>
					</div>
					<div class="md:tw-mt-7 tw-mt-6">
						<oeb-input
							class="md:tw-mt-7 tw-mt-6"
							[label]="'Issuer.recipientEmail' | translate"
							[control]="issueForm.rawControlMap.recipient_identifier"
							[ariaLabel]="'Issuer.recipientEmail' | translate"
							[fieldType]="recipientIdentifierFieldType"
							[noTopMargin]="true"
							[errorMessage]="{ invalidEmail: 'Issuer.enterValidEmail' | translate }"
						></oeb-input>
						<p
							class="tw-text-purple tw-italic tw-mt-2 tw-text-sm"
							[class.tw-mt-6]="
								issueForm.rawControlMap.recipient_identifier?.hasError('invalidEmail') ||
								issueForm.rawControlMap.recipient_identifier?.hasError('required')
							"
						>
							{{ 'Issuer.emailIsIdentifier' | translate }}
						</p>
					</div>
				</div>

				<oeb-optional-details
					[parentForm]="issueForm"
					[showEvidence]="true"
					[showLocation]="true"
					[showCourseDate]="true"
					(addEvidenceEvent)="addEvidence()"
					(removeEvidenceEvent)="removeEvidence($event)"
					[showCourseUrl]="true"
					[courseUrlDefaultOpen]="badgeInstanceCourseUrl() !== null && badgeInstanceCourseUrl().length > 0"
				/>

				<span class="tw-text-oebblack tw-mt-10 tw-mb-4 tw-text-right tw-text-lg tw-block">
					{{ 'Issuer.receivesBadgeByEmail' | translate }}</span
				>
				<div class="tw-flex tw-justify-end">
					<oeb-button
						class="tw-mr-4"
						variant="secondary"
						[disabled]="!!issueBadgeFinished"
						[class.disabled]="!!issueBadgeFinished"
						[routerLink]="['/issuer/issuers', issuer.slug, 'badges', badgeClass.slug]"
						type="button"
						[disabled-when-requesting]="true"
						[text]="'General.cancel' | translate"
					>
					</oeb-button>
					<oeb-button
						type="submit"
						[disabled]="
							!!issueBadgeFinished ||
							issueForm.rawControlMap.recipient_identifier?.hasError('invalidEmail') ||
							issueForm.rawControlMap.recipient_identifier?.hasError('required')
						"
						[loading-promises]="[issueBadgeFinished]"
						[loading-message]="'Issuer.badgeAwardInProgress' | translate"
						[text]="'Issuer.giveBadge' | translate"
					>
					</oeb-button>
				</div>
			</form>
		</div>
	</div>
</ng-container>
