<ng-container *bgAwaitPromises="[issuerLoaded, badgeClassLoaded]">
	<form-message></form-message>
	<div class="oeb">
		<div class="page-padding">
			<div class="oeb-breadcrumbs">
				<bg-breadcrumbs [linkentries]="breadcrumbLinkEntries"></bg-breadcrumbs>
			</div>
			<form [formGroup]="issueForm.rawControl" (ngSubmit)="onSubmit()" novalidate>
				<div class="tw-mt-14">
					<div class="oeb-headline-container-sm">
						<h1 class="tw-flex tw-flex-col tw-gap-2" hlmH1>
							<span class="tw-text-oebblack">{{ badgeClass.name }}</span>
							<span class="tw-text-purple tw-font-black">
								{{ 'Issuer.issueByEmail' | translate }}
							</span>
						</h1>
					</div>
					<div class="tw-flex tw-flex-wrap oeb-standard-padding-bottom">
						<div
							class="md:tw-max-w-[300px] tw-max-w-[150px] tw-text-center tw-mr-6 md:tw-h-[300px] tw-h-[200px]"
						>
							<div
								class="tw-px-6 tw-py-4 tw-border-purple tw-border-solid tw-border tw-rounded-[15px] tw-h-full tw-mb-1 tw-flex"
							>
								<img
									class="badge-image badgeimage-center tw-self-center"
									[loaded-src]="previewB64Img"
									[loading-src]="badgeLoadingImageUrl"
									[error-src]="badgeFailedImageUrl"
								/>
							</div>
							<p size="sm" hlmP>{{ 'Issuer.badgePreview' | translate }}</p>
						</div>
						<div class="md:tw-max-w-[300px] tw-max-w-[150px] tw-text-center md:tw-h-[300px] tw-h-[200px]">
							<div
								class="tw-px-6 tw-py-4 tw-border-purple tw-border-solid tw-border tw-rounded-[15px] tw-relative tw-h-full tw-mb-1 tw-overflow-hidden tw-flex"
							>
								<img
									class="tw-inline-block tw-absolute tw-right-0 tw-left-0 tw-m-auto tw-top-0 tw-z-0 tw-h-full"
									alt="Certificate Preview"
									src="assets/oeb/images/issuerPage/certificate_preview.svg"
								/>

								<img
									class="badge-image badgeimage-center tw-z-10 tw-relative tw-w-[35%] tw-mb-[15%] tw-self-center"
									[loaded-src]="previewB64Img"
									[loading-src]="badgeLoadingImageUrl"
									[error-src]="badgeFailedImageUrl"
								/>
							</div>
							<p size="sm" hlmP [innerHTML]="'Issuer.certPreview' | translate"></p>
						</div>
					</div>
				</div>
				<div class="tw-border-purple tw-border-solid tw-border tw-p-6 tw-rounded-[15px] tw-my-6">
					<span hlmP [innerHTML]="'Issuer.batchAwardText1' | translate"></span>&nbsp;
					<a
						hlmP
						class="tw-underline !tw-text-link hover:!tw-text-buttonhover tw-cursor-pointer"
						[routerLink]="['/issuer/issuers', issuerSlug, 'badges', badgeSlug, 'bulk-import']"
						>{{ 'Issuer.batchAwardTextLink' | translate }}</a
					>&nbsp;
					<span hlmP [innerHTML]="'Issuer.batchAwardText2' | translate"></span>
					<div class="md:tw-mt-7 tw-mt-6">
						<oeb-input
							[label]="'Issuer.awardedPerson' | translate"
							fieldType="text"
							[autofocus]="true"
							[control]="issueForm.rawControlMap.recipientprofile_name"
							[noTopMargin]="true"
							#nameField
						></oeb-input>
						<p class="tw-text-purple tw-italic tw-mt-2 tw-text-sm">
							{{ 'Issuer.infoNamePlainText' | translate }}
						</p>
					</div>
					<div class="md:tw-mt-7 tw-mt-6">
						<oeb-input
							class="md:tw-mt-7 tw-mt-6"
							[label]="'Issuer.recipientEmail' | translate"
							[control]="issueForm.rawControlMap.recipient_identifier"
							[ariaLabel]="'Issuer.recipientEmail' | translate"
							[fieldType]="recipientIdentifierFieldType"
							[noTopMargin]="true"
							[errorMessage]="{ invalidEmail: 'Issuer.enterValidEmail' | translate }"
						></oeb-input>
						<p
							class="tw-text-purple tw-italic tw-mt-2 tw-text-sm"
							[class.tw-mt-6]="
								issueForm.rawControlMap.recipient_identifier?.hasError('invalidEmail') ||
								issueForm.rawControlMap.recipient_identifier?.hasError('required')
							"
						>
							{{ 'Issuer.emailIsIdentifier' | translate }}
						</p>
					</div>
				</div>

				<div class="tw-border-purple tw-border-solid tw-border tw-px-4 tw-py-6 tw-rounded-[15px] tw-mb-8">
					<!-- Add Optional Details -->
					<div class="!tw-shadow-none tw-p-6" role="group" aria-labelledby="heading-addoptionaldetails">
						<h3
							class="tw-uppercase tw-text-lg tw-font-semibold tw-text-oebblack tw-mb-4"
							id="heading-addoptionaldetails"
						>
							{{ 'Issuer.addOptionalDetails' | translate }}
						</h3>

						<div class="tw-flex tw-flex-col tw-space-y-4">
							<ng-template #collapseEvidenceTrigger>
								<span
									class="tw-text-lg tw-font-normal tw-text-oebblack tw-mr-auto"
									[innerHTML]="'Issuer.evidence' | translate"
								></span>
							</ng-template>
							<oeb-collapsible
								[trigger]="collapseEvidenceTrigger"
								[closeIcon]="'lucideChevronDown'"
								[iconStyle]="'tw-text-oebblack'"
								[iconSize]="'lg'"
							>
								<div class="tw-space-y-4">
									@for (
										evidence of issueForm.controls.evidence_items.rawControl.controls;
										let i = $index;
										track i;
										let isLast = $last
									) {
										<div class="tw-mb-4">
											<div class="tw-flex tw-flex-col tw-gap-4">
												<oeb-input
													[control]="evidence.get('evidence_url')"
													[label]="'Issuer.evidenceUrl' | translate"
													[labelStyle]="'tw-text-oebblack tw-text-lg tw-font-normal'"
													[placeholder]="'https://example.com'"
													[noTopMargin]="true"
													[urlField]="true"
													[fieldType]="'url'"
													errorMessage="{{ 'Issuer.enterURL' | translate }}"
												></oeb-input>
												<oeb-input
													[control]="evidence.get('narrative')"
													[label]="'Issuer.evidenceNarrative' | translate"
													[labelStyle]="'tw-text-oebblack tw-text-lg tw-font-normal'"
													[noTopMargin]="true"
													fieldType="textarea"
													[size]="'lg'"
												></oeb-input>
											</div>

											<div class="tw-flex tw-justify-between tw-items-center tw-mt-3">
												@if (isLast) {
													<oeb-button
														[text]="'Issuer.addNewEvidence' | translate"
														variant="secondary"
														[weight]="'normal'"
														size="sm"
														(click)="addEvidence(); $event.stopPropagation()"
													>
													</oeb-button>
												}
												<oeb-button
													[text]="'General.remove' | translate"
													type="button"
													(click)="removeEvidence(i); $event.stopPropagation()"
													variant="destructive"
													size="sm"
													weight="normal"
													class="tw-ml-auto"
												>
												</oeb-button>
											</div>
										</div>
									}

									@if (issueForm.controls.evidence_items.rawControl.controls.length === 0) {
										<oeb-button
											[text]="'Issuer.addNewEvidence' | translate"
											variant="secondary"
											weight="normal"
											size="sm"
											(click)="addEvidence(); $event.stopPropagation()"
										>
										</oeb-button>
									}
								</div>
							</oeb-collapsible>

							<ng-template #collapseCourseDateTrigger>
								<span
									class="tw-text-lg tw-font-normal tw-text-oebblack tw-mr-auto"
									[innerHTML]="'RecBadge.courseDate' | translate"
								></span>
							</ng-template>

							<oeb-collapsible
								[trigger]="collapseCourseDateTrigger"
								[defaultOpen]="false"
								[closeIcon]="'lucideChevronDown'"
								[iconStyle]="'tw-text-oebblack'"
								[iconSize]="'lg'"
							>
								<div class="tw-flex tw-gap-4">
									<oeb-input
										[control]="issueForm.controls.activity_start_date.rawControl"
										[label]="'General.start' | translate"
										[labelStyle]="'tw-text-oebblack tw-font-normal tw-text-lg'"
										fieldType="date"
										[noTopMargin]="true"
										[errorMessage]="'CreateBadge.activityStartDateRequired' | translate"
									></oeb-input>
									<oeb-input
										[control]="issueForm.controls.activity_end_date.rawControl"
										[label]="'General.end' | translate"
										[labelStyle]="'tw-text-oebblack tw-font-normal tw-text-lg'"
										fieldType="date"
										[noTopMargin]="true"
										[errorMessage]="'CreateBadge.activityEndDateRequired' | translate"
									></oeb-input>
								</div>
							</oeb-collapsible>
						</div>
					</div>
				</div>
				<span class="tw-text-oebblack tw-mt-10 tw-mb-4 tw-text-right tw-text-lg tw-block">
					{{ 'Issuer.receivesBadgeByEmail' | translate }}</span
				>
				<div class="tw-flex tw-justify-end">
					<oeb-button
						class="tw-mr-4"
						variant="secondary"
						[disabled]="!!issueBadgeFinished"
						[class.disabled]="!!issueBadgeFinished"
						[routerLink]="['/issuer/issuers', issuer.slug, 'badges', badgeClass.slug]"
						type="button"
						[disabled-when-requesting]="true"
						[text]="'General.cancel' | translate"
					>
					</oeb-button>
					<oeb-button
						type="submit"
						[disabled]="
							!!issueBadgeFinished ||
							issueForm.rawControlMap.recipient_identifier?.hasError('invalidEmail') ||
							issueForm.rawControlMap.recipient_identifier?.hasError('required')
						"
						[loading-promises]="[issueBadgeFinished]"
						[loading-message]="'Issuer.badgeAwardInProgress' | translate"
						[text]="'Issuer.giveBadge' | translate"
					>
					</oeb-button>
				</div>
			</form>
		</div>
	</div>
</ng-container>
