<div class="oeb tw-relative tw-w-full">
	<div class="page-padding">
		<div class="oeb-breadcrumbs">
			<bg-breadcrumbs [linkentries]="breadcrumbLinkEntries"></bg-breadcrumbs>
		</div>
		<form-message></form-message>
		<h1 hlmH1 class="tw-text-purple tw-font-extrabold">{{ 'PDFTemplate.editor' | translate }}</h1>
		<h2 hlmH2 class="!tw-text-oebblack tw-font-extrabold tw-mt-10">{{ 'PDFTemplate.createHeading' | translate }}</h2>
		<h3 hlmH3 class="tw-text-oebblack tw-mt-4">{{ 'PDFTemplate.backgroundHeading' | translate }}</h3>
		<pdftemplate-edit-form
			[submittingText]="('PDFTemplate.saving' | translate) + ' ...'"
			(save)="pdfTemplateCreated($event)"
			(cancelEdit)="creationCanceled()"
		>
		</pdftemplate-edit-form>
	</div>
</div>
