<div class="oeb tw-bg-lightpurple">
	<div class="page-padding tw-bg-lightpurple">
		<div class="tw-bg-white">
			<div class="oeb-inset-padding">
				<div class="oeb-section">
					<div class="oeb-headline-container">
						<h1 hlmH1 class="tw-font-extrabold tw-text-yellow tw-opacity-50">Typography</h1>
						<h2 hlmH2 class="tw-font-extrabold tw-text-red tw-relative tw-top-[-20px] tw-left-[20px]">
							Headlines
						</h2>
					</div>

					<h1 hlmH1 class="tw-font-normal">h1 normal - Welcome to</h1>
					<!-- <h1 hlmH1 class="tw-font-medium"> h1 medium - Open Educational Badges </h1>
                    <h1 hlmH1 class="tw-font-bold"> h1 bold - Open Educational Badges </h1> -->
					<h1 hlmH1 class="tw-font-extrabold">h1 extrabold - Open Educational Badges</h1>
					<br />
					<h2 hlmH2 class="tw-font-normal">h2 normal - Welcome to</h2>
					<!-- <h2 hlmH2 class="tw-font-medium"> h2 medium - Open Educational Badges </h2> -->
					<h2 hlmH2 class="tw-font-bold">h2 bold - Open Educational Badges</h2>
					<h2 hlmH2 class="tw-font-extrabold tw-uppercase">h2 extrabold - Open Educational Badges</h2>
					<br />
					<!-- <h3 hlmH3 class="tw-font-normal"> h3 normal 22/26.4 16/19.2- Welcome to </h3>
                    <h3 hlmH3 class="tw-font-medium"> h3 medium - Open Educational Badges </h3> -->
					<h3 hlmH3 class="tw-font-bold">h3 bold - Open Educational Badges</h3>
					<h3 hlmH3 class="tw-font-extrabold tw-uppercase">h3 extrabold - Open Educational Badges</h3>
				</div>
				<div class="oeb-section">
					<div class="oeb-headline-container">
						<h1 hlmH1 class="tw-font-extrabold tw-text-yellow tw-opacity-50">Typography</h1>
						<h2 hlmH2 class="tw-font-extrabold tw-text-red tw-relative tw-top-[-20px] tw-left-[20px]">
							Texts
						</h2>
					</div>

					<p hlmP class="tw-font-normal">
						p normal 20/28 14/19 - Open Educational Badges is a community project made possible by a range of
						partners. Our goal is to build a tool for standardized documentation of competencies.
					</p>
					<br />
					<p hlmP class="tw-font-bold">
						p bold 20/28 14/19 - Open Educational Badges is a community project made possible by a range of
						partners. Our goal is to build a tool for standardized documentation of competencies.
					</p>
					<br />
					<p hlmP size="lg" class="tw-font-normal">
						p lg normal 24/33.6 20/28 - Open Educational Badges is a community project made possible by a range of
						partners. Our goal is to build a tool for standardized documentation of competencies.
					</p>
					<br />
					<p hlmP size="lg" class="tw-font-bold">
						p lg bold 24/33.6 20/28 - Open Educational Badges is a community project made possible by a range of
						partners. Our goal is to build a tool for standardized documentation of competencies.
					</p>
					<br />
					<p hlmP size="sm" class="tw-font-normal">
						p sm bold 14/15.6 - Open Educational Badges is a community project made possible by a range of
						partners. Our goal is to build a tool for standardized documentation of competencies.
					</p>
					<br />
					<p hlmP size="sm" class="tw-font-bold">
						p sm bold 14/15.6 - Open Educational Badges is a community project made possible by a range of
						partners. Our goal is to build a tool for standardized documentation of competencies.
					</p>
				</div>

				<div class="oeb-section">
					<div class="oeb-headline-container">
						<h1 hlmH1 class="tw-font-extrabold tw-text-yellow tw-opacity-50">Reusable Components</h1>
						<h2 hlmH2 class="tw-font-extrabold tw-text-red tw-relative tw-top-[-20px] tw-left-[20px]">
							Buttons
						</h2>
					</div>

					<div class="tw-flex tw-justify-between tw-flex-wrap">
						<oeb-button text="Normal"></oeb-button>
						<oeb-button [disabled]="true" text="Normal Disabled"></oeb-button>
						<oeb-button variant="secondary" text="Secondary Variant"></oeb-button>
						<oeb-button
							variant="secondary"
							[disabled]="true"
							text="Secondary Variant Disabled"
						></oeb-button>

						<oeb-button variant="blackborder" text="Black Border Button"></oeb-button>
						<oeb-button variant="destructive" text="Delete"></oeb-button>
						<oeb-button variant="red" text="Create Badge"></oeb-button>
						<oeb-button variant="yellow" text="Yellow Badge"></oeb-button>
						<oeb-button variant="link" text="Only Link"></oeb-button>
						<oeb-button variant="secondary" size="sm" text="Small"></oeb-button>
						<oeb-button variant="secondary" size="xs" text="Inline"></oeb-button>
						<a hlmP text="inline link"></a>
					</div>
				</div>

				<div class="oeb-section">
					<div class="oeb-headline-container-sm">
						<h1 hlmH1 class="tw-font-extrabold tw-text-yellow tw-opacity-50">Reusable Components</h1>
						<h2 hlmH2 class="tw-font-extrabold tw-text-red tw-relative tw-top-[-20px] tw-left-[20px]">
							Inputfields / Forms
						</h2>
					</div>

					<form novalidate>
						<!-- Email Field -->
						<oeb-input
							label="E-Mail"
							placeholder="Your email address"
							fieldType="email"
							[error]="'Please enter your email address.'"
							[autofocus]="true"
							[control]="loginForm.rawControlMap.username"
							#usernameField
						></oeb-input>

						<oeb-input
							label="Area"
							placeholder="Enter your text here"
							fieldType="textarea"
							[error]="'Please enter your email address.'"
							[autofocus]="true"
							[control]="loginForm.rawControlMap.username"
							#usernameField
						></oeb-input>

						<oeb-input
							label="Password"
							class="tw-mt-6 md:tw-mt-[35px]"
							[error]="'Please enter your password.'"
							fieldType="password"
							placeholder="Your password"
							fieldType="password"
							[autofocus]="true"
							[control]="loginForm.rawControlMap.password"
							#passwordField
						>
							<span label-additions>
								<a hlmP class="tw-underline tw-text-purple tw-font-semibold" href="#" tabindex="-1"
									>Click here for link</a
								>
							</span>
						</oeb-input>
					</form>
				</div>

				<div class="oeb-section">
					<div class="oeb-headline-container-sm">
						<h1 hlmH1 class="tw-font-extrabold tw-text-yellow tw-opacity-50">Reusable Components</h1>
						<h2 hlmH2 class="tw-font-extrabold tw-text-red tw-relative tw-top-[-20px] tw-left-[20px]">
							Checkbox
						</h2>
					</div>

					<oeb-checkbox text="please check"></oeb-checkbox>
				</div>

				<div class="oeb-section">
					<div class="oeb-headline-container-sm">
						<h1 hlmH1 class="tw-font-extrabold tw-text-yellow tw-opacity-50">Reusable Components</h1>
						<h2 hlmH2 class="tw-font-extrabold tw-text-red tw-relative tw-top-[-20px] tw-left-[20px]">
							Table
						</h2>
					</div>

					<badges-datatable [badges]="badges"></badges-datatable>
				</div>

				<div class="oeb-section">
					<div class="oeb-headline-container-sm">
						<h1 hlmH1 class="tw-font-extrabold tw-text-yellow tw-opacity-50">Reusable Components</h1>
						<h2 hlmH2 class="tw-font-extrabold tw-text-red tw-relative tw-top-[-20px] tw-left-[20px]">
							Accordion
						</h2>
					</div>

					<competency-accordion
						[category]="'Super Category Here'"
						[description]="'Very exciting, be sure to read and expand'"
					/>
				</div>

				<div class="oeb-section">
					<div class="oeb-headline-container-sm">
						<h1 hlmH1 class="tw-font-extrabold tw-text-yellow tw-opacity-50">Reusable Components</h1>
						<h2 hlmH2 class="tw-font-extrabold tw-text-red tw-relative tw-top-[-20px] tw-left-[20px]">
							Spinner
						</h2>
					</div>

					<oeb-spinner />
				</div>
				<div class="oeb-section tw-bg-yellow">
					<div class="oeb-headline-container">
						<h1 hlmH1 class="">All about spacing</h1>
						<h1 hlmH1 class="tw-font-extrabold">Padding, margin, and friends</h1>
					</div>
					<p class="oeb-standard-padding-bottom" hlmP>
						The headline container makes sure that the text is far enough. The headline container makes sure
						that the text is far enough. The headline container makes sure that the text is far enough. The
						headline container makes sure that the text is far enough.
					</p>
					<p class="oeb-standard-padding-bottom" hlmP>
						Because of the standard-padding-bottom this text is in the right distance too. Because of the
						standard-padding-bottom this text is in the right distance too. Because of the
						standard-padding-bottom this text is in the right distance too. Because of the
						standard-padding-bottom this text is in the right distance too. Because of the
						standard-padding-bottom this text is in the right distance too.
					</p>

					<div class="oeb-inset-padding">
						<p hlmP>
							If you are working in a colored container like this and dont want your content to be at the
							border, than use oeb-inset-padding
						</p>
					</div>

					<div class="oeb-section">
						<div class="oeb-inset-padding">
							<div class="oeb-headline-container-sm">
								<h1 hlmH1 class="">More narrow pages also exist</h1>
								<h1 hlmH1 class="tw-font-extrabold">where the headline is closer to the content</h1>
							</div>
							<p hlmP>The content goes here.</p>
							<form novalidate>
								<!-- Email Field -->
								<oeb-input
									label="Input Elemente already have padding. You do not need to do anything."
									placeholder="Your email address"
									fieldType="email"
									[error]="'Please enter your email address.'"
									[autofocus]="true"
									[control]="loginForm.rawControlMap.username"
									#usernameField
								></oeb-input>

								<oeb-input
									label="Area"
									placeholder="Enter your text here"
									fieldType="textarea"
									[error]="'Please enter your email address.'"
									[autofocus]="true"
									[control]="loginForm.rawControlMap.username"
									#usernameField
								></oeb-input>
							</form>
						</div>
					</div>
					<div class="oeb-section">
						<div class="oeb-headline-container-sm">
							<h1 hlmH1 class="">General padding guidline DESKTOP</h1>
							<h1 hlmH1 class="tw-font-extrabold">
								If you need a padding/margin somewhere use one of these
							</h1>
						</div>
						<p hlmP class="tw-pl-[88px]">88px</p>
						<p hlmP class="tw-pl-10">40px / tw-pl-10</p>
						<p hlmP class="tw-pl-8">32px / tw-pl-8</p>
						<p hlmP class="tw-pl-6">24px / tw-pl-6</p>
						<p hlmP class="tw-pl-4">16px / tw-pl-4</p>
						<p hlmP class="tw-pl-2">8px / tw-pl-2</p>
						<p hlmP class="tw-pl-1">4px / tw-pl-1</p>
					</div>
					<div class="oeb-section">
						<div class="oeb-headline-container-sm">
							<h1 hlmH1 class="">General padding guidline MOBILE</h1>
							<h1 hlmH1 class="tw-font-extrabold">
								If you need a padding/margin somewhere use one of these
							</h1>
						</div>
						<p hlmP class="tw-pl-10">40px / tw-pl-10</p>
						<p hlmP class="tw-pl-6">24px / tw-pl-6</p>
						<p hlmP class="tw-pl-4">16px / tw-pl-4</p>
						<p hlmP class="tw-pl-2">8px / tw-pl-2</p>
						<p hlmP class="tw-pl-1">4px / tw-pl-1</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
