<div class="oeb tw-relative tw-w-full">
	<div class="page-padding">
		<div class="oeb-breadcrumbs">
			<bg-breadcrumbs [linkentries]="breadcrumbLinkEntries"> </bg-breadcrumbs>
		</div>
		<form-message></form-message>
		<h1 hlmH1 class="tw-text-purple tw-font-extrabold">
			{{ (issuer?.is_network ? 'Network.createLp' : 'Issuer.learningPathCreateHeadline') | translate }}
		</h1>
		<h3 hlmH3 class="tw-text-oebblack tw-mt-2">{{ 'Issuer.lpSubHeading' | translate }}</h3>
		<learningpath-edit-form
			[submittingText]="('LearningPath.saving' | translate) + ' ...'"
			(save)="learningPathCreated($event)"
			(cancel)="creationCanceled()"
		>
		</learningpath-edit-form>
	</div>
</div>
