<ng-container *bgAwaitPromises="[issuerLoaded, badgeClassLoaded]">
	<oeb-background
		imgClass="md:tw-h-[400px] tw-h-[269px]  tw-rotate-[-17.58deg] md:tw-rotate-[-36.66deg]"
		class="tw-right-[5%] tw-top-[15%] md:tw-right-[10%] md:tw-top-[15%]"
		image="assets/oeb/images/signuppage/circles.png"
	></oeb-background>
	<div class="oeb tw-relative tw-w-full">
		<div class="page-padding">
			<div class="oeb-breadcrumbs">
				<bg-breadcrumbs [linkentries]="breadcrumbLinkEntries"> </bg-breadcrumbs>
			</div>
			<form-message></form-message>

			@if (viewState === 'import') {
				<Badgeclass-issue-bulk-award-import
					(importPreviewDataEmitter)="onBulkIssueImportPreviewData($event)"
					(updateStateEmitter)="updateViewState($event)"
				>
				</Badgeclass-issue-bulk-award-import>
			}

			@if (viewState === 'importPreview') {
				<Badgeclass-issue-bulk-award-preview
					[importPreviewData]="importPreviewData"
					(transformedImportDataEmitter)="onTransformedImportData($event)"
					(updateStateEmitter)="updateViewState($event)"
				>
				</Badgeclass-issue-bulk-award-preview>
			}

			@if (viewState === 'importConfirmation') {
				<badgeclass-issue-bulk-award-confirmation
					[transformedImportData]="transformedImportData"
					(updateStateEmitter)="updateViewState($event)"
					[badgeSlug]="badgeSlug"
					[issuerSlug]="issuerSlug"
				>
				</badgeclass-issue-bulk-award-confirmation>
			}

			@if (viewState === 'importError') {
				<badgeclass-issue-bulk-award-error
					[transformedImportData]="transformedImportData"
					(updateStateEmitter)="updateViewState($event)"
				>
				</badgeclass-issue-bulk-award-error>
			}
		</div>
	</div>
</ng-container>
