<div class="tw-flex tw-flex-col tw-w-full tw-items-center tw-justify-center">
	<div class="tw-flex tw-justify-evenly">
		<div class="tw-flex tw-flex-col md:tw-justify-center tw-m-2">
			<div class="tw-text-2xl md:tw-text-4xl tw-text-[var(--color-purple)] tw-flex tw-flex-col">
				<span class="tw-whitespace-nowrap">{{ 'FAQ.youHaveQuestions' | translate }} </span>
				<span class="md:tw-ml-12 tw-font-bold tw-mt-2 md:tw-mt-6 md:tw-whitespace-nowrap">{{
					'FAQ.weHaveAnswers' | translate
				}}</span>
			</div>
			<div class="tw-mt-4 tw-text-lg tw-text-oebblack">
				<p>{{ 'FAQ.faqInfo' | translate }}.</p>
				<p class="tw-mt-2">
					{{ 'FAQ.cantFindAnswer' | translate }}
					<a
						class="tw-underline tw-cursor-pointer tw-text-link"
						title="contact us"
						href="mailto:admin@waisf.org"
					>
						{{ 'FAQ.contactDirectly' | translate }}</a
					>.
				</p>
			</div>
		</div>
		<div class="tw-w-full tw-h-auto tw-max-w-96">
			<img
				class="tw-w-full tw-max-w-full"
				src="../../../../assets/oeb/images/faqpage/FAQ-Graphik-Desktop.png"
				alt="FAQ Graphic"
			/>
		</div>
	</div>
	@for (item of data; track item; let i = $index) {
		<div class="tw-flex tw-flex-col tw-w-full tw-max-w-6xl">
			<div class="tw-mt-4">
				<button
					[ngClass]="item.isActive ? 'tw-text-[var(--color-red)]' : 'tw-text-[var(--color-purple)]'"
					class="accordion tw-px-4 tw-py-2"
					(click)="toggleAccordian($event, i)"
				>
					{{ item.Q | translate }}
				</button>
				<div class="panel" hide="!item.isActive">
					<input type="text" />
					@for (answer of item.A; track answer) {
						<div>
							<p class="tw-mt-2 md:tw-text-lg tw-text-oebblack">{{ answer.text | translate }}</p>
						</div>
					}
				</div>
			</div>
			<hr class="tw-w-full tw-mt-2 tw-border-2 tw-border-solid tw-border-[var(--color-lightgray)]" />
		</div>
	}
</div>
