<div class="oeb">
	<div class="page-padding">
		<div class="oeb-breadcrumbs">
			<bg-breadcrumbs [linkentries]="breadcrumbLinkEntries"></bg-breadcrumbs>
		</div>
		<div class="oeb-section-sm tw-max-w-[1016px] !tw-pb-0">
			<div class="oeb-headline-container-sm !tw-pb-0">
				<h1 hlmH1 class="tw-text-purple tw-font-black">
					@if (category === 'participation') {
						<span>
							@if (translate.currentLang === 'en') {
								<span>{{
									copiedBadgeClass
										? ('Issuer.copyParticipationBadge' | translate)
										: ('Issuer.createParticipationBadge' | translate)
								}}</span>
							}
						</span>
					}
					@if (category === 'competency') {
						<span>
							@if (translate.currentLang === 'en') {
								<span>{{
									copiedBadgeClass
										? ('Issuer.copyCompetencyBadge' | translate)
										: ('Issuer.createCompetencyBadge' | translate)
								}}</span>
							}
						</span>
					}
				</h1>
			</div>
		</div>

		<div *bgAwaitPromises="[issuerLoaded]">
			<div class="tw-max-w-[1016px]">
				<badgeclass-edit-form
					#badgeimage
					(save)="badgeClassCreated($event)"
					(cancelEdit)="creationCanceled()"
					[scrolled]="scrolled"
					[issuer]="issuer"
					[category]="category"
					[isForked]="isForked"
					[initBadgeClass]="copiedBadgeClass"
				></badgeclass-edit-form>
			</div>
		</div>
	</div>
</div>
