<ng-container>
	<div class="tw-relative">
		<oeb-select
			[placeholder]="'General.networks' | translate"
			class="oeb tw-w-[12rem]"
			[control]="networkControl"
			[options]="networkOptions"
			[autofocus]="true"
			[noTopMargin]="true"
			[multiple]="true"
			[dropdownMaxHeight]="250"
		></oeb-select>
		<div class="tw-flex tw-justify-start tw-items-center tw-gap-4 tw-mt-8">
			<oeb-button
				(click)="closeSelect.emit()"
				size="sm"
				variant="secondary"
				[text]="'General.cancel' | translate"
			>
			</oeb-button>
			<oeb-button
				size="sm"
				(click)="shareBadge()"
				[disabled]="!selectedNetwork"
				[text]="'Badge.shareBadgeOnNetwork' | translate"
			>
			</oeb-button>
		</div>
	</div>
</ng-container>
