<bg-badgedetail [config]="config" [awaitPromises]="[badgeClassPromise]">
	<ng-template>
		@if (learningPaths.length > 0) {
			<div class="oeb">
				<oeb-separator class="tw-block tw-mb-8 tw-mt-8"></oeb-separator>
				<span class="tw-my-2 tw-text-oebblack tw-text-[22px] tw-leading-[26px] tw-font-semibold">
					{{ 'Badge.partOfLearningPath' | translate }}
				</span>
				<div class="tw-mt-8 tw-grid tw-grid-cols-learningpaths tw-gap-6">
					@for (lp of learningPaths; track lp) {
						<bg-learningpathcard
							[name]="lp.name"
							[badgeImage]="lp.participationBadge_image"
							[issuerTitle]="lp.issuer_name"
							[description]="lp.description"
							[slug]="lp.slug"
							[tags]="lp.tags"
							[studyLoad]="calculateStudyLoad(lp)"
							[progress]="lp.progress"
							[matchOrProgress]="calculateLearningPathStatus(lp)"
							[requested]="lp.requested"
							[completed]="checkCompleted(lp)"
						></bg-learningpathcard>
					}
				</div>
			</div>
		}
	</ng-template>
	<ng-template #headerTemplate>
		<h2 class="tw-font-bold tw-my-2" hlmH2>{{ 'Badge.copyForWhatInstitution' | translate }}</h2>
	</ng-template>
	<ng-template #issuerSelection>
		<div class="tw-mb-8">
			@if (config.copy_permissions.includes('others')) {
				@for (issuer of userIssuers; track issuer) {
					<label class="radio tw-mb-2">
						<input type="radio" [(ngModel)]="selectedIssuer" [value]="issuer" />
						<span class="radio-x-text">{{ issuer.name }}</span>
					</label>
				}
			} @else {
				<span class="tw-text-oebblack tw-text-center tw-my-2">
					{{ 'Badge.copyPermissionInfo' | translate }}
				</span>
				<label class="radio tw-my-2">
					<input type="radio" [(ngModel)]="selectedIssuer" [value]="issuer" />
					<span class="radio-x-text">{{ config.issuerName }}</span>
				</label>
			}

			<ng-template #originalIssuer>
				<span class="tw-text-oebblack tw-text-center tw-my-2">
					{{ 'Badge.copyPermissionInfo' | translate }}
				</span>
				<label class="radio tw-my-2">
					<input type="radio" [(ngModel)]="selectedIssuer" [value]="issuer" />
					<span class="radio-x-text">{{ config.issuerName }}</span>
				</label>
			</ng-template>
		</div>
		<oeb-button
			width="full_width"
			type="button"
			[disabled]="!selectedIssuer"
			(click)="routeToBadgeCreation(selectedIssuer)"
			size="sm"
			[text]="'General.next' | translate"
		>
		</oeb-button>
	</ng-template>
</bg-badgedetail>
