<form-message></form-message>
<div class="page-padding oeb">
	<div class="oeb-breadcrumbs">
		<bg-breadcrumbs [linkentries]="crumbs"> </bg-breadcrumbs>
	</div>
	<div class="tw-bg-lightpurple oeb-inset-padding">
		<header>
			<div></div>
			<div class="oeb-section-sm">
				<div *bgAwaitPromises="[collectionLoadedPromise]">
					<div class="tw-flex tw-justify-between tw-items-center">
						<h1 hlmH1 class="tw-text-purple">{{ 'General.collection' | translate }}</h1>
						<div class="tw-flex tw-gap-2">
							<oeb-button
								[text]="'BadgeCollection.share' | translate"
								icon="lucideUpload"
								[iconLeft]="true"
								variant="secondary"
								(click)="openShareDialog(collection)"
								[disabled]="!collection.published"
							>
							</oeb-button>

							<oeb-dropdown
								[trigger]="svgTrigger"
								class="tw-items-center tw-bg-white tw-justify-center tw-flex tw-cursor-pointer tw-border tw-border-solid tw-border-purple tw-rounded-[7px]"
								[menuItems]="menuItems"
							></oeb-dropdown>

							<ng-template #svgTrigger>
								<svg
									class="tw-w-[44.8px] tw-h-[44.8px] md:tw-w-[64px] md:tw-h-[64px]"
									fill="var(--color-purple)"
									icon="icon_more"
								></svg>
								<span class="visuallyhidden">Mehr</span>
							</ng-template>
						</div>
					</div>
					<div class="oeb-headline-container-sm tw-flex tw-justify-between tw-items-center">
						<h1 hlmH1 class="tw-text-purple tw-font-black">
							{{ collection?.name }}
						</h1>
						<div class="tw-mt-4 tw-flex tw-gap-2 tw-items-center">
							<label hlmLabel>
								<hlm-switch [(ngModel)]="collection.published" (ngModelChange)="togglePublished()">
								</hlm-switch>
							</label>
							{{ 'General.public' | translate }}
						</div>
					</div>
					<p class="tw-text-oebblack tw-text-lg">
						{{ collection?.description }}
					</p>
				</div>
			</div>
		</header>

		<section class="l-containerxaxis l-containeryaxis" *bgAwaitPromises="[collectionLoadedPromise]">
			<!-- Empty State for badges -->
			@if (collection?.badgeEntries.length === 0) {
				<span class="tw-text-oebblack tw-font-bold tw-text-[22px] tw-leading-[120%]">
					0 {{ 'BadgeCollection.badgesInCollection' | translate }}
				</span>
			}

			<!-- List of Badges in Collection -->
			@if (collection?.badgeEntries.length) {
				<div class="oeb-headline-container-sm">
					<h2 class="tw-text-oebblack tw-text-[22px] tw-font-semibold tw-leading-[120%]">
						{{ badgesInCollectionCount }}
					</h2>
				</div>
				<div class="tw-gap-6 tw-grid tw-grid-cols-badges">
					@for (entry of collection?.badgeEntries; track badgeEntryBySlug($index, entry)) {
						<bg-badgecard
							[badgeTitle]="entry.badge.apiModel.json.badge.name"
							[badgeImage]="entry.badge.image"
							[badgeIssueDate]="badgeIssueDate(entry)"
							[mostRelevantStatus]="entry.badge.mostRelevantStatus"
							[issuerTitle]="entry.badge.badgeClass.issuer.name"
							[issuerSlug]="entry.badge.badgeClass.issuer.slug"
							[badgeSlug]="entry.badge.slug"
							[competencies]="entry.badge.getExtension('extensions:CompetencyExtension', [{}])"
							[showXIcon]="true"
							(closeEmit)="removeBadge($event)"
						></bg-badgecard>
					}
				</div>
			}
		</section>
	</div>
</div>

<ng-template #dangerDialogHeaderTemplate>
	<div class="tw-w-full tw-flex tw-justify-center">
		<ng-icon hlm name="lucideCircleAlert" size="2xl" class="tw-text-red"> </ng-icon>
	</div>
</ng-template>

<ng-template let-badgename="badgename" #deleteBadgeDialogContentTemplate>
	<div class="tw-flex tw-flex-col tw-gap-2 tw-mt-2 tw-text-center tw-text-lg">
		<span class="tw-text-oebblack tw-font-bold">
			{{ 'BadgeCollection.removeBadge' | translate }}
		</span>

		<p class="tw-text-oebblack">
			<span>
				{{ 'BadgeCollection.removeBadgeConfirm1' | translate }}
			</span>
			<span class="tw-font-bold">{{ badgename }}</span>
			<span>
				{{ 'BadgeCollection.removeBadgeConfirm2' | translate }}
			</span>
		</p>
	</div>

	<div class="tw-flex tw-justify-evenly tw-mt-4">
		<oeb-button variant="secondary" [text]="'General.cancel' | translate" size="sm" (click)="closeDialog()">
		</oeb-button>
		<oeb-button
			[text]="'BadgeCollection.removeBadgeConfirmation' | translate"
			size="sm"
			(click)="closeDialogContinue()"
		>
		</oeb-button>
	</div>
</ng-template>

<ng-template let-collectionname="collectionname" #deleteCollectionDialogContentTemplate>
	<div class="tw-flex tw-flex-col tw-gap-2 tw-mt-2 tw-text-center tw-text-lg">
		<span class="tw-text-oebblack tw-font-bold">
			{{ 'BadgeCollection.deleteCollection' | translate }}
		</span>

		<span [translate]="'BadgeCollection.deleteText'" [translateParams]="{ collectionname: collectionname }"> </span>
	</div>

	<div class="tw-flex tw-justify-evenly tw-mt-4">
		<oeb-button variant="secondary" [text]="'General.cancel' | translate" size="sm" (click)="closeDialog()">
		</oeb-button>
		<oeb-button [text]="'BadgeCollection.deleteCollection' | translate" size="sm" (click)="closeDialogContinue()">
		</oeb-button>
	</div>
</ng-template>

<recipient-badge-selection-dialog #recipientBadgeDialog></recipient-badge-selection-dialog>
